.t-bbs {
  .tags_panel {
    margin-bottom: 20px;
  }

  @media (min-width: 800px) {
    &__attributions {
      display: grid;
      gap: 32px;
      grid-template-columns: minmax(0, 3fr) minmax(0, 7fr);
    }
  }
}