.t-home {
    @media (min-width: 600px) {
        display: flex;
        gap: 25px;
    
        &__main {
            width: calc(100% / 1.5);
        }
    
        &__aside {
            width: calc(100% / 3);
        }
    }
}
