{% extends "base.html" %}
{% load url from future %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/sceneorg/css/compofolders.less" type="text/less" />
{% endblock %}

{% block base_main %}
	<h2>scene.org party file matching</h2>
	<p>Another chance to do some hypnotic button clicking to help with our data entry! Now that we know which folders on scene.org correspond to which party compos, it's time to match up the individual download files to the correct compo entries.</p>
	<p>Pick a folder from the list below - the ones in <strong>bold</strong> contain some uncategorised files that haven't yet been attached to a production as a download link. Your mission is to match them up to the appropriate compo entry...</p>

	<ul class="folders">
		{% for dir in directories %}
			<li>
				{% if dir.file_count == dir.match_count %}
					<a href="{% url 'sceneorg_compofile_directory' dir.id %}">{{ dir.path }}</a>
				{% else %}
					<strong><a href="{% url 'sceneorg_compofile_directory' dir.id %}">{{ dir.path }}</a></strong>
				{% endif %}
			</li>
		{% endfor %}
	<ul>
{% endblock %}
