{% extends "zxdemo/base.html" %}


{% block html_title %}Demotopia - Sceners{% endblock %}
{% block meta_description %}Listing of people and groups from the Spectrum demoscene.{% endblock %}

{% block sidebar %}
    <img src="/static/zxdemo/images/section/head_articles.gif" alt="Articles" width="224" height="42" />
{% endblock %}

{% block body %}
	{% for article in articles %}
		<h2><a href="{% url 'zxdemo_article' article.zxdemo_id %}">{{ article.title }}</a></h2>
		<div class="annotation">{{ article.created_at|date:"Y-m-d" }}</div><div>{{ article.summary }}</div><br />
	{% endfor %}
{% endblock %}
