{% extends "zxdemo/base.html" %}
{% load urlsub %}
{% load url from future %}

{% block html_title %}Demotopia - Sceners{% endblock %}
{% block meta_description %}Listing of people and groups from the Spectrum demoscene.{% endblock %}

{% block sidebar %}
	<img src="/static/zxdemo/images/section/head_sceners.gif" alt="Sceners" width="224" height="42" /><br />
	<form action="{% url 'zxdemo_authors' %}" method="get">
		Show <select name="count" onchange="this.form.submit()">
			{% for i in count_options %}
				<option value="{{ i }}" {% if i == count %}selected="yes"{% endif %}>{{ i }}</option>
			{% endfor %}
		</select> results per page <noscript><input type="submit" name="go" value="go" /></noscript>
	</form>
{% endblock %}

{% block body %}
	{% include "zxdemo/include/alpha_pagination_links.html" with listing=releasers %}

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<col width="5%" /><col width="95%" />
		<tr><th></th><th>name</th>
		{% for releaser in releasers %}
			<tr class="{% cycle 'odd' 'even' %}">
				{% if releaser.country_code %}
					<td height="22"><img src="/static/zxdemo/images/flag/{{ releaser.country_code|lower }}.gif" align="absmiddle" width="32" height="20" alt="" /></td>
				{% else %}
					<td height="22"></td>
				{% endif %}
				<td height="22"><a href="{% url 'zxdemo_author' releaser.id %}">{{ releaser.name }}</a></td>
			</tr>
		{% endfor %}
	</table>

	{% include "zxdemo/include/prev_next_links.html" with listing=releasers %}
{% endblock %}
