{% extends "zxdemo/base.html" %}
{% load zxdemo_tags %}

{% block meta_description %}Comprehensive resource covering past and present activity on the ZX Spectrum demo scene.{% endblock %}
{% block meta_keywords %}zx spectrum speccy demo scene demoscene scener download information info party compo music gfx intros{% endblock %}

{% block sidebar %}
	<a href="/releases.php"><img src="/static/zxdemo/images/section/head_releases.gif" alt="Releases" width="224" height="42" border="0" /></a><br />
	<div style="margin-bottom: 4pt;"><strong>Latest releases</strong></div>
	{% for prod in latest_releases %}
		<div align="left" class="small">
			<img src="/static/zxdemo/images/icon/{% if prod.supertype == 'production' %}demo_new.gif{% elif prod.supertype == 'graphics' %}gfx_new.gif{% else %}music_new.gif{% endif %}" align="absmiddle" alt="[$itypename]" width="24" height="24" border="0" />
			<a href="">{{ prod.title }}</a> - {% byline prod %}
	{% endfor %}
{% endblock %}

{% block body %}
	<div align="center"><a href="/releases.php?filter=2">{{ stats.demo_count }}</a> demos - <a href="/releases.php?filter=1">{{ stats.music_count }}</a> musics - <a href="/releases.php?filter=4">{{ stats.graphics_count }}</a> graphics - <a href="/scener_index_name.php">{{ stats.releaser_count }}</a> sceners</div><br />
	<h1>hello zxdemo world!</h1>
{% endblock %}
