{% extends "zxdemo/base.html" %}
{% load zxdemo_tags %}

{% block meta_description %}Comprehensive resource covering past and present activity on the ZX Spectrum demo scene.{% endblock %}
{% block meta_keywords %}zx spectrum speccy demo scene demoscene scener download information info party compo music gfx intros{% endblock %}

{% block sidebar %}
	<div style="margin-top: 8pt;">
		<a href="/screen_viewer.php?id={{ random_screenshot.id }}" target="_blank" onclick="viewscreen({{ random_screenshot.id }}, {{ random_screenshot.standard_width }}, {{ random_screenshot.standard_height }}); return false;"><img src="{{ random_screenshot.standard_url }}" width="{% widthratio random_screenshot.standard_width 400 200 %}" height="{% widthratio random_screenshot.standard_height 400 200 %}" border="0" alt="[screenshot of {{ random_screenshot.production.title }}]" /></a>
	</div>

	<div><a href="item.php?id={{ random_screenshot.production_id }}">{{ random_screenshot.production.title }}</a></div>
	<div class="annotation">{% byline random_screenshot.production %}</div>

	<a href="/partycalendar.php"><img src="/static/zxdemo/images/section/head_parties.gif" alt="Parties" width="224" height="42" border="0" /></a><br />
	{% forthcoming_parties %}

	<a href="/releases.php"><img src="/static/zxdemo/images/section/head_releases.gif" alt="Releases" width="224" height="42" border="0" /></a><br />
	<div style="margin-bottom: 4pt;"><strong>Latest releases</strong></div>
	{% include "zxdemo/include/sidebar_production_listing.html" with productions=latest_releases %}
	<div style="margin-bottom: 4pt;"><strong>Latest additions</strong></div>
	{% include "zxdemo/include/sidebar_production_listing.html" with productions=latest_additions %}

	<div class="small">
		<strong>Spectrum Webring</strong><br />
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;id=30;prev5">&lt;&lt;</a>
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;id=30;prev">&lt;</a>
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;random">rand</a>
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;list">list</a>
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;id=30;next">&gt;</a>
		<a href="http://www.webring.org/cgi-bin/webring?ring=spectrum;id=30;next5">&gt;&gt;</a>
	</div>
{% endblock %}

{% block body %}
	<div align="center"><a href="/releases.php?filter=2">{{ stats.demo_count }}</a> demos - <a href="/releases.php?filter=1">{{ stats.music_count }}</a> musics - <a href="/releases.php?filter=4">{{ stats.graphics_count }}</a> graphics - <a href="/scener_index_name.php">{{ stats.releaser_count }}</a> sceners</div><br />

	{% for news in news_items %}
		<table width="100%" border="0" cellpadding="2" cellspacing="0" style="border: 1px solid #666666;">
			<col width="*" />
			<tr><td bgcolor="#ffffbb">
				<h3>{{ news.title }}</h3>
			</td></tr>
			<tr><td>
				{{ news.body|safe }}
			</td></tr>
			<tr><td bgcolor="#dedeff">
				<em><b>{{ news.author.username }}</b> - {{ news.created_at|date:"d / m / Y" }}</em>
			</td></tr>
		</table><br />
	{% endfor %}

{% endblock %}
