{% extends "zxdemo/base.html" %}

{% block meta_description %}Comprehensive resource covering past and present activity on the ZX Spectrum demo scene.{% endblock %}
{% block meta_keywords %}zx spectrum speccy demo scene demoscene scener download information info party compo music gfx intros{% endblock %}

{% block body %}
	<div align="center"><a href="/releases.php?filter=2">{{ stats.demo_count }}</a> demos - <a href="/releases.php?filter=1">{{ stats.music_count }}</a> musics - <a href="/releases.php?filter=4">{{ stats.graphics_count }}</a> graphics - <a href="/scener_index_name.php">{{ stats.releaser_count }}</a> sceners</div><br />
	<h1>hello zxdemo world!</h1>
{% endblock %}
