{% extends "zxdemo/base.html" %}
{% load zxdemo_tags %}

{% block html_title %}Demotopia - Party calendar{% endblock %}
{% block meta_description %}Listing of events and competitions for the Spectrum demo scene{% endblock %}
{% block meta_keywords %}spectrum speccy demo scene demoscene zx party calendar schedule dates compo competition{% endblock %}

{% block sidebar %}
	<img src="/static/zxdemo/images/section/head_parties.gif" alt="Parties" width="224" height="42" /><br />
	<div style="margin-bottom: 8px"><strong>Forthcoming parties:</strong></div>
	{% forthcoming_parties %}
{% endblock %}

{% block body %}
	<h1>Party calendar</h1>
	<table width="100%" border="0" cellpadding="6" cellspacing="0">
		<col width="25%" /><col width="25%" /><col width="25%" /><col width="25%" />
		{% regroup parties by start_date.date.year as year_list %}

		{% for year in year_list %}
			<tr>
				<td valign="top" class="{% cycle 'even' 'odd' %}">
					<h2><a href="{% url 'zxdemo_parties_year' year.grouper %}">{{ year.grouper }}</a></h2>
					{% for party in year.list %}
						<div style="margin-bottom: 4pt;"><a href="">{{ party.name }}</a></div>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
