{% extends "zxdemo/base.html" %}

{% block html_title %}Demotopia - Browse releases{% endblock %}
{% block meta_description %}A comprehensive list of productions created on the Spectrum demo scene.{% endblock %}
{% block meta_keywords %}spectrum demo scene browse list releases demotopia zxdemo productions{% endblock %}

{% block sidebar %}
	<img src="/static/zxdemo/images/section/head_releases.gif" alt="Releases" width="224" height="42" /><br />
	<form action="{% url 'zxdemo_productions' %}" method="get">
		Show <select name="count" onchange="this.form.submit()">
			{% for i in count_options %}
				<option value="{{ i }}" {% if i == count %}selected="yes"{% endif %}>{{ i }}</option>
			{% endfor %}
		</select> results per page <noscript><input type="submit" name="go" value="go" /></noscript>
	</form>
{% endblock %}

{% block body %}
	{% include "zxdemo/include/alpha_pagination_links.html" with listing=productions %}

	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="itemlist">
		<col width="5%" /><col width="45%" /><col width="10%" /><col width="5%" /><col width="35%" />
		{% for production in productions %}
			{% cycle 'odd' 'even' as rowcolour silent %}
			{% include "zxdemo/include/production_listing_item.html" %}
		{% endfor %}
	</table>

	{% include "zxdemo/include/prev_next_links.html" with listing=productions %}
{% endblock %}
