{% extends "zxdemo/base.html" %}
{% load zxdemo_tags %}

{% block html_title %}Demotopia - Search results{% endblock %}

{% block outer_body %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" />
        <col width="224" />
        <col width="*" />
        <tr>
            <td bgcolor="#dedeff" valign="top" align="center" width="224">&nbsp;</td>
            <td width="100%"><br /><h2>Search results for {{ search_term }}:</h2></td>
        </tr>
        {% if feature == 'music' %}
            {% include "zxdemo/include/search/music.html" %}
            {% include "zxdemo/include/search/demos.html" %}
            {% include "zxdemo/include/search/graphics.html" %}
        {% elif feature == 'graphics' %}
            {% include "zxdemo/include/search/graphics.html" %}
            {% include "zxdemo/include/search/demos.html" %}
            {% include "zxdemo/include/search/music.html" %}
        {% else %}
            {% include "zxdemo/include/search/demos.html" %}
            {% include "zxdemo/include/search/music.html" %}
            {% include "zxdemo/include/search/graphics.html" %}
        {% endif %}
    </table>
{% endblock %}
