.media {
	overflow: hidden;
	position: relative;

	svg,
	img {
		display: block;
		width: 100%;
	}

	svg {
		max-height: 100%;
	}

	iframe {
		position: absolute;
		.pos(0);
	}
}

.media--thumbnail {

	img {
		.pos(0);
		.size(100%);
		object-fit: cover;
		position: absolute;
	}
}