.panel {
  overflow: hidden; /* self-clear */
}

.panel__title {
  background-color: @colorLightGreen;
  border-right: 6px solid #eaeaea;
  color: white;
  float: left;
  font-family: FabricaRegular, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  min-width: 150px;
  padding: 6px;
  text-transform: uppercase;
  margin-bottom: 1ex;
}

.panel__heading {
  margin-bottom: 16px;
}

.panel__footer {
  margin-top: 1.5em;
  padding: 1.5em 0;
  border-top: 1px solid #e5e5e5;
  margin-bottom: -16px;
  text-align: right;
}