.panel {
	overflow: hidden; /* self-clear */

	h3 {
		background-color: @colorLightGreen;
		border-right: 6px solid #eaeaea;
		color: white;
		float: left;
		font-family: FabricaRegular, sans-serif;
		font-size: 10pt;
		font-weight: normal;
		min-width: 150px;
		padding: 6px;
		text-transform: uppercase;
	}
}
