.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 3em;
  font-size: 1rem;
  line-height: 1.5;

  tr {
    border-top: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: 1px solid #f0f0f0;
    }
  }

  tr:nth-child(even) {
    background-color: @colorGreyLightest;
  }

  td {
    padding: .5rem 0 .5rem .5rem;
  }

  .media--thumbnail {
    .size(3em);
    background-color: rgb(238, 238, 238);
  }

  .meta {
    font-weight: 300;
  }
}

.table--history {

  td {
    padding: 1ex 1em;
  }

  tr:nth-child(odd) {

    td {
      background: #f0f0f0;
    }
  }

  tr {
    td:nth-child(1),
    td:nth-child(2) {
      white-space: nowrap;
      width: 1%;
    }
  }

  a {
    color: inherit;
  }
}