{% with production.get_comments as comments %}
	{% if comments %}
		<div class="comments">
			<h2>{{ comments|length }} comment{{ comments|length|pluralize }}</h2>
			{% for comment in comments %}
				<div class="comment" id="comment-{{ comment.id }}">
					<b>{{ comment.user.username }}</b> - {{ comment.created_at|date:"H:i j F Y" }}
					<a href="{{ production.get_absolute_url }}#comment-{{ comment.id }}">#</a>
					<p>{{ comment.body|urlize|linebreaks }}</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endwith %}

{% if comment_form %}
	{% include "comments/_production_comment_form.html" %}
{% endif %}
