{% load url from future %}

{% with production.get_comments as comments %}
	{% if comments or site_is_writeable %}
		<div class="comments_panel">
			{% if comments %}
				<div class="comments">
					<h2>{{ comments|length }} comment{{ comments|length|pluralize }}</h2>
					{% for comment in comments %}
						<div class="comment" id="comment-{{ comment.id }}">
							{% if request.user.is_staff and site_is_writeable %}
								<div class="admin_controls">
									<a href="{% url 'edit_production_comment' production.id comment.id %}" class="open_in_lightbox">Edit</a>
								</div>
							{% endif %}
							<b>{{ comment.user.username }}</b> - {{ comment.created_at|date:"H:i j F Y" }}
							<a href="{{ production.get_absolute_url }}#comment-{{ comment.id }}">#</a>
							<p>{{ comment.body|urlize|linebreaks }}</p>
						</div>
					{% endfor %}
				</div>
			{% elif request.user.is_authenticated and site_is_writeable %}
				<h3 class="comment_form_trigger">Be the first to comment on this production...</h3>
			{% else %}
				<h3><a href="{% url 'log_in' %}?next={{ production.get_absolute_url|urlencode }}">Be the first to comment on this production...</a></h3>
			{% endif %}
			{% if comment_form and site_is_writeable %}
				{% include "comments/_production_comment_form.html" %}
			{% endif %}
		</div>
	{% endif %}
{% endwith %}
