<h2>New graphics</h2>

<form action="{% url new_graphics %}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% with form.title as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% with form.byline as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% with form.release_date as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}

	{% with form.type as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% with form.platform as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% include "shared/production_download_formset.html" %}
	<div class="field">
		<input type="submit" />
	</div>
</form>
