/* Tags */
.tags_panel {

	ul.tags {

		li {

			a.tag_name {
				color: #3383bb;
				background-color: #eeeeee;
				border: 1px solid #cccccc;
				border-radius: 6px;
				font-weight: bold;
				font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
				font-size: 1.1em;
				margin: 2px 5px 2px 0;
				text-decoration: none;
				padding: .2em .5em;
				float: left;

				&:hover {
					text-decoration: none;
					background-color: #ddd;
				}
			}
		}
	}

	form.tags_form {

		#id_tags {
			width: 400px;
		}
	}

	ul.tagit {
		clear: both;
		background: white;

		li.tagit-new .ui-widget-content {
			background: transparent;
		}
	}

	#tags_message.error {
		clear: both;
		padding: 4px;
		margin-bottom: 4px;
		color: #400;
		border: 1px solid #400;
	}
}

/* hide edit controls whenever javascript adds the hide_edit_controls class */
.tags_panel.hide_edit_controls {

	form.tags_form {
		display: none;
	}
}

.tags_panel.editing {

	ul.tags {
		display: none;
	}
}

.tag_description {
	background-color: rgba(68, 68, 68, 0.85);
	color: white;
	width: 300px;
	padding: 0 8px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	&:before{
		position: absolute;
		top: -10px;
		right: 0;
		width: 0;
		height: 0;
		border-bottom: 5px solid rgba(68, 68, 68, 0.85);
		border-right: 5px solid rgba(68, 68, 68, 0.85);
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		content:" ";
	}

	p {
		margin: 0.5em 0;
	}

	a {
		color: #aaf;
	}
}
