/* party releases form: need to surround list items with boxes
 like we would for sortable formsets - because production_fields have
 confusing dimensions and it's not clear where their boundaries are otherwise
*/
form.party_release_form {
	margin-top: 1em;

	.spawning_formset .spawned_form {
		border: 1px solid #888;
		background-color: #ddd;
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 2px;

		a.delete_button {
			float: right;
		}
	}
}
