.edit_competition {
    h2 {
        margin-bottom: 1em;
    }

    form.entry_form {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    form.entry_form input[type=submit] {
        margin-left: 150px;
    }
}
