/* party series listing */
.party_series_index {
    border-spacing: 0;
    width: 100%;

    tr:nth-child(even) {
        background-color: #eee;
    }

    th,
    td {
        padding-block: 4px;
    }

    th {
        padding-inline-end: 20px;
        width: 200px;
    }
}
