/* party series listing */
.party_series_index {
    width: 100%;
    border-spacing: 0;
}

.party_series_index tr.even {
    background-color: #eee;
}

.party_series_index th, .party_series_index td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.party_series_index th {
    width: 200px;
    padding-right: 20px;
}

.party_series_index ul.parties {
    display: inline;
}

.party_series_index ul.parties li {
    display: inline;
}
