.show_party_series {
    .party_series_core_details {
        .attributes {
            width: 100%;
            border-top: 1px solid #ccc;
            padding-top: 10px;
            padding-bottom: 10px;

            li {
                color: #555;
                padding-left: 16px;
                background: no-repeat url(/static/images/icons/mini_bullet.png) left center;
                font-family: FabricaRegular, Helvetica, Arial, sans-serif;
                letter-spacing: 1px;
                text-transform: uppercase;

                &:first-child {
                    background-image: none;
                    padding-left: 0;
                }

                &.website {
                    clear:both;
                    background-image: none;
                    padding-left: 0;
                }
            }
        }
    }

    ul.parties {
        li {
            float: left;
            text-align: center;
            width: 250px;
            min-height: 190px;
        }

        li a {
            display: block;
            text-decoration: none;
            color: inherit;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        li.no_thumb a {
            padding-top: 100px;
        }

        li a:hover {
            background-color: #eee;
        }

        li a:link h3 {
            text-decoration: underline;
        }

        .thumbnail {
            margin: auto;
            margin-bottom: 10px;
        }
    }

    .last_edited_by {
        clear: both;
        padding-top: 16px;
        border-top: 1px dotted #ddd;

        a.user {
            font-weight: bold;
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
