.show_party_series {
    .party_series_core_details {
        .attributes {
            padding-top: 10px;
        }
    }

    ul.parties {
        li {
            float: left;
            text-align: center;
            width: 250px;
            min-height: 190px;
        }

        li a {
            display: block;
            text-decoration: none;
            color: inherit;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        li.no_thumb a {
            padding-top: 100px;
        }

        li a:hover {
            background-color: #eee;
        }

        li a:link h3 {
            text-decoration: underline;
        }

        .thumbnail {
            margin: auto;
            margin-bottom: 10px;
        }
    }
}
