.show_party {
    .list.external_links {
        a {
            margin: 0;
        }
    }

    .list.-organisers {

        .list__item {
            align-items: center;
            display: flex;
            gap: 4px;
        }
    }

    .parties_in_series {

        ul {
            display: inline;

            li {
                display: inline;

                &.current {
                    font-weight: bold;
                }
            }
        }
    }

    .invitations_panel {
        margin-top: 20px;
    }
}


.results_panel {
    display: grid;
    gap: 32px;
    grid-template-columns: 7fr 13fr;
    padding-top: 32px;
    position: relative;
    width: 100%;

    .results_body {
        padding-top: 16px;
    }

    .competition {
        clear: both;
    }

    .tournament {
        clear: both;
    }
}

.results_menu_column {
    position: relative;
}

.results_menu {
    box-sizing: border-box;
    padding-top: 10px;
    position: absolute;
    max-height: 100vh;

    ul {
        @include listReset();

        clear: both;
        padding-top: 10px;
    }

    li:nth-child(odd) {
        background-color: #eee;
    }

    a {
        display: block;
        padding: 4px 8px;
        color: #5e5f5f;
        text-decoration: none;
        border-left: 4px solid rgba(0, 0, 0, 0);
        transition: border-color .15s;

        &:hover {
            border-color: #ec5a64;
        }
    }

    .results_panel.fixed & {
        overflow-y: auto;
        position: fixed;
        top: 0;
    }

    .results_panel.bottom & {
        bottom: 0;
        top: auto;
    }
}

@media screen and (max-width: 600px) {
    .results_panel {
        display: block;

        .results_menu_column {
            float: none;
            height: auto;
            width: 100%;
        }

        .results_body {
            float: none;
            width: 100%;
        }

        .results_menu {
            position: static;
            width: 100% !important;
        }
    }

    .results_panel.fixed {

        .results_menu {
            position: static;
        }
    }
}
