[run]
source = .
omit = 
    */migrations/*
    wsgi*.py
    demozoo/settings/dev.py
    demozoo/settings/productionvm.py
    demozoo/settings/staging.py
    fabfile.py
    runtests.py
[html]
directory = coverage_html_report
