*.pyc
/local_settings.py
/settings/local.py
/etc/demozoo.htpasswd
/apache/demozoo2.htpasswd
/data
/demoscene/static/images/icons.svg
/demoscene/static/images/sites.svg
/static
/media
/.vagrant
/.coverage
/coverage_html_report
.DS_Store
/.idea
/.tmp
/node_modules
