beautifulsoup4>=4.9.3,<5
Django>=1.11.27,<=1.11.99
Fabric>=1.14,<1.15
Markdown==2.4
Pillow==6.2.1
boto3>=1.14,<1.15
celery==3.1.23
django-celery>=3.2,<3.3
django-celery-with-redis==3.0
django-compressor>=2.1,<2.2
django-cors-headers==1.1.0
django-debug-toolbar==1.8
django-storages>=1.9,<1.10
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.9.4
djangorestframework-jsonp==1.0.2
html-sanitizer>=1.9.1,<2
psycopg2>=2.5.4,<3.0
pyrecoil>=0.3.1,<0.4
redis==2.10.5
unidecode==0.04.14
bcrypt==1.0.2
django-extensions>=1.6,<1.7
coverage>=4.0,<5.0
django-dotenv>=1.4.2,<2.0

# pinned because newer versions keep breaking shit
# https://github.com/dateutil/dateutil/issues/1071
# https://github.com/dateutil/dateutil/issues/402
python-dateutil==2.5.1

six==1.9.0
freezegun>=0.3,<0.4
mock>=3.0,<4.0
requests>=2.22,<3.0
responses>=0.10,<0.11

# django-compressor dependency, broke py2 compatibility in 1.0.3
django-appconf==1.0.2
