{% extends "base.html" %}
{% load url from future %}

{% block html_title %}{{ _("Reset password") }} - Demozoo{% endblock html_title %}

{% block base_main %}
<h1>{{ _("Reset password") }}</h1>

<form method="post" class="form form--password-reset">
	{% csrf_token %}
	<fieldset>
		{% for field in form.visible_fields %}
			{% include "shared/form_field.html" %}
		{% endfor %}
	</fieldset>
	<div class="buttons">
		<button type="submit">
			<span>{{ _("Reset") }}" /></span>
		</button>
	</div>
</form>
{% endblock base_main %}
