{% extends "base.html" %}
{% load url from future %}

{% block html_title %}{{ _("Reset password") }} - Demozoo{% endblock html_title %}

{# suppress the 'next' field in the header login form - we don't want to end up back here on login #}
{% block login_next_field %}{% endblock %}

{% block base_main %}
<h1>{{ _("Password reset successful") }}</h1>
{{ _("We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.") }}
{% endblock base_main %}
