.autosuggest_result .microthumb {
	float: right;
}

.autosuggest_result.production {
	background-image: url('/static/images/icons/disk.png');
}

.autosuggest_result.graphics {
	background-image: url('/static/images/icons/palette.png');
}

.autosuggest_result.music {
	background-image: url('/static/images/icons/music.png');
}

.autosuggest_result.scener {
	background-image: url('/static/images/icons/scener.png');
}

.autosuggest_result.group {
	background-image: url('/static/images/icons/group.png');
}

.autosuggest_result.party {
	background-image: url('/static/images/icons/party.png');
}

.autosuggest_result {
	background-position: 0 center;
	background-repeat: no-repeat;
	height: 30px;
	overflow: hidden;
	padding-left: 22px; /* clearfix for thumbnails */
	vertical-align: middle;
}
