.button {
    display: inline-block;
    background-color: #f5f5f5;
    color: #888;
    overflow: visible;
    margin: 0;
    letter-spacing: -0.05ex;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    transition: .2s ease all;
    text-transform: uppercase; /* 1 */
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; /* 2 */

    &:link,
    &:visited {
        color: #888;
    }

    &:hover {
        background-color: demozoo-color('primary');
        border-color: demozoo-color('primary');
        color: white;

        svg {
            fill: white;
        }
    }

    &__text {
        align-items: center;
        display: flex;
        padding: .8em 1.6em;

    }

    .a-icon {
        @include size(24px);

        fill: #888;
        line-height: 1;
        margin-left: 0.25em;
        position: relative;
        right: -8px;
        vertical-align: middle;
    }
}

/* Action button */
a.action_button {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #668;
    line-height: 32px;
    padding: 4px;
    text-decoration: none;

    &:hover {
        background-color: #ccc;
    }

    &.icon {
        padding-left: 24px;
        background-position: 4px center;
        background-repeat: no-repeat;
    }

    &.add {
        background-image: url('/static/images/icons/add.png');
    }

    &.edit {
        background-image: url('/static/images/icons/edit.png');
    }

    &.picture_edit {
        background-image: url('/static/images/icons/picture_edit.png');
    }

    &.done {
        background-image: url('/static/images/icons/tick.png');
    }

    &.import_table {
        background-image: url('/static/images/icons/table_go.png');
    }

    &.delete {
        background-image: url('/static/images/icons/delete.png');
    }

    &.switch {
        background-image: url('/static/images/icons/arrow_refresh.png');
    }

    &.back {
        background-image: url('/static/images/icons/back.png');
    }

    &.locked {
        background-image: url('/static/images/icons/lock.png');
    }

    &.unlocked {
        background-image: url('/static/images/icons/lock_open.png');
    }

    &.spanner {
        background-image: url('/static/images/icons/wrench.png');
    }
}
