.icon-legacy {
    @include size(16px);

    display: inline-block;
    vertical-align: middle;
    background: no-repeat 50% 50% transparent;
    margin-right: 0.25em;

    &--releases {
        background-image: url('/static/images/icons/package.png');
    }
}
