/* Signposts: breadcrumb-like labels to give an idea of where you are in the site */
.signpost {
    background-color: #6bc7f1;
    color: white;
    font-family: FabricaRegular, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    min-width: 120px;
    padding: 4px 6px;
    text-transform: uppercase;

    a {
        color: currentColor;
        color: inherit;
        display: block;
        text-decoration: none;
    }
}
