/* Signposts: breadcrumb-like labels to give an idea of where you are in the site */
.signpost {
    background-color: #6bc7f1;
    color: white;
    float: left;
    font-family: FabricaRegular, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 0 10px 10px 0;
    padding: 4px 6px;
    text-transform: uppercase;
    width: 120px;
}
.signpost a {
    color: inherit;
    text-decoration: none;
}
