/* Signposts: breadcrumb-like labels to give an idea of where you are in the site */
.signpost {
    background-color: #6bc7f1;
    color: white;
    display: inline-block;
    font-family: FabricaRegular, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    min-width: 120px;
    padding: 4px 6px;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
        color: white;
    }
}
