.col {
    &.-blurb {
        width: 80%;
    }

    &.-fit {
        width: 1%;
    }

    &.-production {
        width: 40%;
    }

    &.-ranking,
    &.-score {
        width: 3em;
    }

    &.-thumb {
        width: 48px;
    }

    &.-date {
        width: 6em;
    }
}