$unit: 1.25%;

.list {
    @include listReset();

    clear: both;

    &__item {
        box-sizing: border-box;
    }

    &.-inline {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        gap: 4px 12px;
    }

    &.-subgroups {
        .list__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &.-credits,
    &.-editScreenshots {

        .list__item {
            align-items: center;
            display: flex;
            justify-content: space-between;
            gap: 4px 12px;
        }
    }

    &.-editScreenshots {

        .list__item {
            justify-content: start;
        }
    }

    &.-screenshots {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0 calc($unit / -2);

        .list__item {
            padding: 0 calc($unit / 2) $unit;

            @media (min-width: 768px) {
                width: calc(100% / 2);
            }

            @media (min-width: 1024px) {
                width: calc(100% / 3);
            }

            @media (min-width: 1280px) {
                width: calc(100% / 4);
            }
        }
    }
}

.list--party-editions {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc($unit / -2);

    .list__item {
        padding: $unit calc($unit / 2);

        @media (min-width: 768px) {
            width: calc(100% / 2);
        }

        @media (min-width: 1024px) {
            width: calc(100% / 3);
        }

        @media (min-width: 1280px) {
            width: calc(100% / 4);
        }
    }
}


.list--results {

    .list__item {
        align-items: center;
        border-top: 1px solid demozoo-color('table-border');
        display: flex;

        &:nth-child(odd) {
            background: #F8F8F8;

            .media {
                background: #fcfcfc;
            }
        }

        &:last-child {
            border-bottom: 1px solid demozoo-color('table-border');
        }
    }
}
