div.result {
    align-items: center;
    padding: .5em;
    display: flex;

    .media {
        @include size(2.75em);

        flex-shrink: 0;
        margin-inline-end: 0.5rem;
    }

    .snippet {
        line-height: 1.25rem;
        padding-block: .125rem;
    }
}