div.result {
  align-items: center;
  padding: .5em;
  display: flex;

  .media {
    margin: 0 .5rem 0 0;
    @include size(2.75em);
    flex-shrink: 0;
  }

  .snippet {
    padding: .125rem 0;
    line-height: 1.25rem;
  }
}