html,
body {
	height: 100%;
}

html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 1.3em;
	background-color: @colorBackground;
	color: black;
}

/* Resets are total bullshit */
body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
ol {
	.listReset(); // REMOVE THIS SHITTY RESET ASAP K THX.
}

a {

	&:link {
		color: @colorLink;
	}

	&:visited {
		color: @colorLinkVisited;
	}
}

pre {
	font-family: dejavu_sans_monobook, monospace;
	line-height: 1em;
}





