html,
body {
	height: 100%;
}

html {
	//font-family: Helvetica, Arial, sans-serif;
	//font-size: 10pt;
	//line-height: 1.3em;
	font-family: -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	"Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	font-size: 12px;
	line-height: 1.5;
	background-color: @colorBackground;
	color: #333;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
ol {
	.listReset(); // REMOVE THIS SHITTY RESET ASAP K THX.
}

nav {

	ul {
		.listReset();
	}
}

a {

	&:link {
		color: @colorLink;
	}

	&:visited {
		color: @colorLinkVisited;
	}
}

pre {
	font-family: dejavu_sans_monobook, monospace;
	line-height: 1em;
}





