/* site-wide styles */

#side_column {
	float: left;
	width: 25%;
}

#main_column {
	float: left;
	width: 75%;
}

.annotation {
	font-size: 0.66em;
	color: #666;
}

.redacted {
	color: #666;
	text-decoration: line-through;
}

.notes {
	border: 1px solid #eee;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	color: #444;
}

.notes a:link {
	text-decoration: none;
	border-bottom: 1px solid #000088;
}
.notes a:visited {
	text-decoration: none;
	border-bottom: 1px solid #880088;
}

.panel {
	border: 1px solid #ccc;
	margin-top: 16px;
	padding: 16px;
	position: relative;
}

#main_column .panel {
	margin-left: 16px;
}

body.loading {
	cursor: progress;
}

/* notification messages */
ul.messages li.success {
	background-color: #bfb;
	color: #040;
	border: 1px solid #040;
	padding: 4px;
	margin-bottom: 36px;
}

ul.messages li.error {
	background-color: #fbb;
	color: #400;
	border: 1px solid #400;
	padding: 4px;
	margin-bottom: 36px;
}

ul.errorlist {
	margin: 1em;
	padding: 0.5em;
	background-color: #fbb;
}

.help_text {
	font-size: 0.66em;
}

.hover_help {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	background-image: url('/static/images/icons/information.png');
	cursor: help;
}

.hover_help .help_text {
	position: absolute;
	display: none;
	bottom: 0px;
	margin-bottom: 20px;
	font-size: 0.8em;
	width: 300px;
	border: 1px solid #008;
	padding: 4px;
	background-color: #ddf;
}

.hover_help:hover .help_text,
.hover_help:focus .help_text {
	display: block;
}

.thumbnail {
	background-color: #888;
	width: 133px;
	height: 100px;
	display: inline-block;
	line-height: 100px;
	text-align: center;
}
.thumbnail img {
	vertical-align: middle;
}


.microthumb {
	background-color: #888;
	width: 48px;
	height: 36px;
	display: inline-block;
	line-height: 36px;
	text-align: center;
}
.microthumb img {
	vertical-align: middle;
}

.listing_with_screenshots tr {
	height: 36px;
}


ul.tabs {
	position: absolute;
	top: -31px;
}

ul.tabs li {
	float: left;
	line-height: 22px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: -1px;
}

ul.tabs a {
	display: block;
	background-color: #ddd;
	text-decoration: none;
	color: #444;
	border-bottom: 1px solid #ccc;
	line-height: 21px;
	padding: 4px 12px;
}

ul.tabs a:hover {
	background-color: #eee;
}

ul.tabs li.active_tab {
	background-color: white;
	padding: 4px 12px;
}

/* listings */
li.scener {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/scener.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.add_scener {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/add_scener.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.group {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/group.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.group a, li.scener a {
	color: #008;
}

li.group.previous_membership {
	background-image: url(/static/images/icons/group_grey.png);
}

li.scener.previous_membership {
	background-image: url(/static/images/icons/scener_grey.png);
}

li.previous_membership a {
	color: #bbe;
}

li.add_group {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/add_group.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.production {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/disk.png);
	background-position: left center;
	background-repeat: no-repeat;
}

li.music {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/music.png);
	background-position: left center;
	background-repeat: no-repeat;
}

li.graphics {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/palette.png);
	background-position: left center;
	background-repeat: no-repeat;
}

li.party {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/party.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}


li.add {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}

li.edit {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/edit.png);
	background-position: left center;
	background-repeat: no-repeat;
}


form.entry_form .party_field input.party_field_search {
	width: 300px;
}
form.entry_form .party_field.ajaxified input.party_field_search {
	width: 400px;
}


/* production view */
.production_title h2 {
	display: inline;
}

.production_title h3 {
	padding-left: 4px;
	display: inline;
}

body.show_production .production_title {
	margin-bottom: 16px;
}

body.show_production .screenshots {
	clear: both;
	float: left;
	margin-right: 16px;
	width: 400px;
}

body.show_production #main_image {
	width: 400px;
	height: 300px;
	background-color: #888;
	display: block;
	margin-bottom: 10px;
	line-height: 300px;
	text-align: center;
}

body.show_production #main_image img {
	margin: auto;
	vertical-align: middle;
}

body.show_production .screenshots .carousel li {
	margin-right: 8px;
}

body.show_production .screenshots .carousel_panel {
	position: relative;
}

body.show_production .screenshots .carousel_panel button.prev {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: -15px;
}

body.show_production .screenshots .carousel_panel button.next {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 405px;
}

body.show_production .screenshots ul.actions {
	clear: both;
	float: none;
}

body.show_production .screenshots ul.actions li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

body.show_production .production_details {
	float: left;
	width: 400px;
}

body.show_production .production_details .production_types {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .platforms {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .competition_placings {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .tags li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	font-size: 10pt;
}

body.show_production .production_details .tags li a.tag_name {
	border: 1px solid #888;
	background-color: #ddd;
	text-decoration: none;
	color: #444;
	padding: 2px;
}

body.show_production .production_details .tags li a:hover.tag_name {
	background-color: #ccc;
	text-decoration: underline;
}

body.show_production .production_details .tags li form {
	display: inline;
}

body.show_production .production_details .tags li button {
	background-image: url('/static/images/icons/delete.png');
	border: none;
	background-color: transparent;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	cursor: pointer;
}

body.show_production .production_details .tags form.add_tag {
	padding-top: 4px;
	clear: both;
}

ul.memberships {
	margin-bottom: 8px;
}

/* party series listing */
.party_series_index {
	width: 100%;
	border-spacing: 0;
}

.party_series_index tr.even {
	background-color: #eee;
}

.party_series_index th, .party_series_index td {
	padding-top: 4px;
	padding-bottom: 4px;
}

.party_series_index th {
	width: 200px;
	padding-right: 20px;
}

.party_series_index ul.parties {
	display: inline;
}

.party_series_index ul.parties li {
	display: inline;
}

/* party series page */
.show_party_series ul.parties li {
	float: left;
	text-align: center;
	width: 250px;
	min-height: 180px;
}

.show_party_series ul.parties li a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
}

.show_party_series ul.parties li a:hover {
	background-color: #eee;
}

.show_party_series ul.parties li a:link h3 {
	text-decoration: underline;
}

.show_party_series ul.parties .thumbnail {
	margin: auto;
	margin-bottom: 10px;
}

ul.parties_in_series {
	display: inline;
}

ul.parties_in_series li {
	display: inline;
}

ul.parties_in_series li.current {
	font-weight: bold;
}

.party_details .tagline {
	font-size: 0.8em;
}

.competition {
	margin-top: 20px;
}

.productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/package.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.member_productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/membership.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.credits_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/wrench.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.soundtracks_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/music.png');
	background-position: left center;
	background-repeat: no-repeat;
}

ul.nick_change_options {
	list-style-type: disc;
	margin-left: 3em;
}

ul.nick_change_options li {
	margin-bottom: 1em;
}


/* latest activity page */
.chart_set {
	clear: both;
}

.chart {
	width: 280px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 1px solid #888;
}

.chart h2 {
	font-size: 14pt;
	margin-bottom: 4px;
}

.search_results {
	margin-top: 1em;
}

.search_results ul {
	margin-top: 0.5em;
}

.search_results p.snippet {
	font-size: 0.8em;
	color: #666;
	margin-top: 0;
	margin-bottom: 0.2em;
}

body.editorial h1 {
	margin-bottom: 1em;
}

body.edit_competition h2 {
	margin-bottom: 1em;
}

body.edit_competition form.entry_form {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

body.edit_competition form.entry_form input[type=submit] {
	margin-left: 150px;
}

table.history {
	margin-top: 1em;
}

table.history .timestamp {
	white-space: nowrap;
	padding-right: 1em;
}

table.history .user {
	white-space: nowrap;
	padding-right: 1em;
}

form.entry_form .credit_formset .category_header {
	float: left;
	font-weight: bold;
	width: 100px;
}

form.entry_form .credit_formset .detail_header {
	float: left;
	font-weight: bold;
}

form.entry_form .credit_formset .field_input select {
	width: 100px;
}

form.entry_form .credit_formset .field_input input[type="text"] {
	width: 250px;
}

/* party invitations form: need to surround list items with boxes
 like we would for sortable formsets - because production_fields have
 confusing dimensions and it's not clear where their boundaries are otherwise
*/
form.party_invitation_form .spawning_formset .spawned_form {
	border: 1px solid #888;
	background-color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 2px;
}
form.party_invitation_form .spawning_formset .spawned_form a.delete_button {
	float: right;
}

/* Small-screen versions */
@media screen and (max-width: 1200px) {

	#page {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1081px) {

	#page {
		border-right: none;
	}

    #site_header nav {
		clear: both;
		float: none;
		width: 470px;
		margin-left: 64px;
		padding-top: 24px;
	}
}

@media screen and (max-width: 601px) {

	#site_header {
		padding-top: 16px;
	}

	#site_header nav {
		margin: auto;
		padding-left: 16px;
		padding-right: 16px;
	}

	#site_header nav form.search #id_q {
		width: 300px;
	}

	#site_header #login_status_panel {
		margin-right: 16px;
	}

	#site_main {
		margin-left: 16px;
		margin-right: 16px;
	}

	.homepage .banner {
		height: 175px;
		background-size: 100%;
	}
	.homepage .banner h1 {
		top: 60px;
		right: 30px;
		font-size: 18pt;
	}

	.homepage .banner p {
		top: 80px;
		right: 30px;
		font-size: 10pt;
	}
}

@media screen and (max-width: 501px) {

	#site_header h1 a {
		display: block;
		width: auto;
		height: auto;
		line-height: 33px;
		padding-left: 8px;
		padding-right: 16px;
		margin: 0;
		text-indent: 0;
		background-image: none;
		text-transform: uppercase;
		font-family: FabricaRegular, Helvetica, Arial, sans-serif;
		color: white;
		text-decoration: none;
		font-weight: normal;
		font-size: 16pt;
		letter-spacing: 4px;
	}

	#site_header nav {
		width: auto;
	}

	#site_header nav ul li {
		float: none;
		width: 200px;
	}

	#site_header nav ul li a:hover {
		border-top: none;
		margin-top: 0;
		background-color: #ecd8da;
		border-left: 4px solid #ec5a64;
		margin-left: -4px;
	}

	#site_header nav ul li.active a:hover {
		border-left: none;
		margin-left: 0;
		background-color: #ec5a64;
	}

	#site_header nav form.search {
		padding-top: 16px;
	}

	#site_header nav form.search #id_q {
		width: 200px;
	}
}
