/* reset */
body {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* Font declarations */
@font-face {
		font-family: 'FabricaRegular';
		src: url('/static/font/fabrica/fabrica-webfont.eot');
		src: url('/static/font/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
				url('/static/font/fabrica/fabrica-webfont.woff') format('woff'),
				url('/static/font/fabrica/fabrica-webfont.ttf') format('truetype'),
				url('/static/font/fabrica/fabrica-webfont.svg#FabricaRegular') format('svg');
		font-weight: normal;
		font-style: normal;
}

/* site-wide styles */

html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 1.3em;
	background-color: #bfbfbf;
	color: black;
}

#page {
	margin: 15px auto;
	max-width: 1150px; /* exc right-border */
	border-right: 50px solid #e8e8e8;
	background-color: white;
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 7px rgba(50, 50, 50, 1);
}

#site_header {
	padding-top: 36px;
	padding-bottom: 36px;
}

#site_header h1 {
	float: left;
	margin-right: 36px;
}

#site_header h1 a {
	display: block;
	width: 253px;
	height: 52px;
	background-color: #c32e3b;
	text-indent: -5000px;
	background-image: url('/static/images/demozoo_title.png');
}

#site_header nav {
	float: left;
	margin-right: 36px;
}

#site_header nav li {
	float: left;
}

#site_header nav li a {
	display: block;
	line-height: 25px;
	padding: 0 10px;
	text-decoration: none;
	font-family: FabricaRegular, Helvetica, Arial, sans-serif;
	color: #5e5f5f;
	text-transform: uppercase;
}

#site_header nav li.active a {
	background-color: #ec5a64;
	color: white;
}

#site_header nav li a:hover {
	border-top: 4px solid #ec5a64;
	margin-top: -4px;
}

#site_header nav li.active a:hover {
	border-top: none;
	margin-top: 0;
}

#site_header nav form.search {
	clear: left;
	padding-top: 2px;
}

#site_header nav form.search #id_q {
	border: none;
	padding: 0;
	padding-left: 6px;
	height: 25px;
	width: 395px;
	font-size: 10pt;
	background-color: #77c6ef;
	color: black;
	margin: 0;
	float: left;
}

#site_header nav form.search #id_q.placeholder {
	color: white;
	font-size: 8pt;
}

#site_header nav form.search input[type='submit'] {
	background-color: #386580;
	border: none;
	height: 25px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0;
	font-size: 8pt;
	font-family: FabricaRegular, Helvetica, Arial, sans-serif;
	color: white;
	float: left;
}

#site_header #login_status_panel {
	margin-right: 64px;
	width: 169px;
	float: right;
	background-color: #e8e8e8;
}

#site_header #login_status_panel .login_status {
	line-height: 33px;
	text-indent: 32px;
}

#site_header #login_status_panel .login_status a {
	display: block;
	text-decoration: none;
	color: inherit;
	background-image: url('/static/images/icons/arrow_down.png');
	background-position: 145px center;
	background-repeat: no-repeat;
}

#site_header #login_status_panel .logged_out {
	font-style: italic;
	color: #9d9d9d;
}

#site_header #login_status_panel .logged_in {
	background-image: url('/static/images/icons/scener.png');
	background-repeat: no-repeat;
	background-position: 8px center;
	font-weight: bold;
	color: #5e5f5f;
}

#site_header #login_status_panel .login_links {
	position: absolute;
	width: 169px;
	background-color: #e8e8e8;
	border-top: 1px solid #5d5f5f;
	z-index: 10;
}

#site_header #login_status_panel .login_links form {
	border-bottom: 1px solid #5e5f5f;
	padding: 8px;
	color: #5e5f5f;
}

#site_header #login_status_panel .login_links form p {
	margin-top: 0;
	margin-bottom: 8px;
}

#site_header #login_status_panel .login_links ul li {
	border-bottom: 1px solid #5e5f5f;
}

#site_header #login_status_panel .login_links ul li a {
	display: block;
	text-decoration: none;
	color: #5e5f5f;
	line-height: 24px;
	padding-left: 8px;
}

#site_header #login_status_panel .login_links ul li a:hover {
	background-color: #d3d3d3;
}

#site_main {
	margin-left: 64px;
	margin-right: 64px;
	border-right: 6px solid #e8e8e8;
	padding-right: 8px;
}

#site_footer {
	clear: both;
	padding-bottom: 36px;
}

#side_column {
	float: left;
	width: 25%;
}

#main_column {
	float: left;
	width: 75%;
}

.annotation {
	font-size: 0.66em;
	color: #666;
}

.redacted {
	color: #666;
	text-decoration: line-through;
}

.notes {
	border: 1px solid #eee;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	color: #444;
}

.notes a:link {
	text-decoration: none;
	border-bottom: 1px solid #000088;
}
.notes a:visited {
	text-decoration: none;
	border-bottom: 1px solid #880088;
}

.panel {
	border: 1px solid #ccc;
	margin-top: 16px;
	padding: 16px;
	position: relative;
}

#main_column .panel {
	margin-left: 16px;
}

body.loading {
	cursor: progress;
}

/* notification messages */
ul.messages li.success {
	background-color: #bfb;
	color: #040;
	border: 1px solid #040;
	padding: 4px;
	margin-bottom: 36px;
}

ul.messages li.error {
	background-color: #fbb;
	color: #400;
	border: 1px solid #400;
	padding: 4px;
	margin-bottom: 36px;
}

ul.errorlist {
	margin: 1em;
	padding: 0.5em;
	background-color: #fbb;
}

.help_text {
	font-size: 0.66em;
}

.hover_help {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	background-image: url('/static/images/icons/information.png');
	cursor: help;
}

.hover_help .help_text {
	position: absolute;
	display: none;
	bottom: 0px;
	margin-bottom: 20px;
	font-size: 0.8em;
	width: 300px;
	border: 1px solid #008;
	padding: 4px;
	background-color: #ddf;
}

.hover_help:hover .help_text,
.hover_help:focus .help_text {
	display: block;
}

.thumbnail {
	background-color: #888;
	width: 160px;
	height: 120px;
	display: inline-block;
}

/* data entry forms */
.form_title h2 {
	display: inline;
}

.form_title p {
	padding-left: 16px;
	display: inline;
}

form.entry_form .field {
	clear: both;
	padding-top: 12px;
}

form.entry_form label.field_label {
	width: 150px;
	float: left;
}

form.entry_form .field_input {
	width: 450px;
	float: left;
}

form.entry_form .unlabelled_field_input {
	padding-left: 150px;
}

form.entry_form .field_input input[type=text] {
	width: 400px;
}

form.entry_form .field_input input.date[type=text] {
	width: 150px;
}

form.entry_form  .field_input input.numeric[type=text] {
	width: 100px;
}

form.entry_form .field_input textarea {
	width: 420px;
	height: 300px;
}

form.entry_form .field_input textarea.short_notes {
	height: 50px;
}

form.entry_form .formset_header {
	padding-left: 32px;
}

form.entry_form ul.subfields > li {
	float: left;
}

form.entry_form ul.subfields > li.subfield_competition_rank {
	width: 150px;
}

form.entry_form ul.subfields > li.subfield_competition_entry {
	width: 500px;
}

form.entry_form ul.subfields > li.subfield_competition_score {
	width: 150px;
}

form.entry_form .field .field_input .day_of_week {
	padding-left: 0.5em;
	color: #888;
}

/* external links form needs bigger labels */
form.external_links_form .field label.field_label {
	width: 200px;
}

form.external_links_form .field .field_input {
	width: 400px;
}

.spawning_formset {
	clear: both;
}

.spawning_formset li {
	line-height: 24px;
}

.spawning_formset li.placeholder_form {
	display: none;
}

.spawning_formset li .formset_item {
	float: left;
}

.spawning_formset li .formset_item .field {
	float: left;
	padding-top: 0;
}

.spawning_formset li .formset_item .field .field_input {
	width: 420px;
}

.spawning_formset li a.delete_button {
	float: left;
	text-indent: -5000px;
	width: 16px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/images/icons/delete.png);
}

.spawning_formset li a.add_button {
	width: 100px;
	background-color: #ccc;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	border: 1px solid #444;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 8px;
	margin-left: 16px;
	line-height: 32px;
	text-decoration: none;
	color: #444;
}

.spawning_formset li a.add_button:hover {
	background-color: #888;
}

ul.sortable_formset li.sortable_item {
	border: 1px solid #888;
	background-color: #ddd;
	line-height: 28px;
	margin-bottom: 2px;
}

ul.sortable_formset li.sortable_item .ui-icon {
	float: left;
	margin-top: 5px;
	margin-left: 3px;
}

ul.sortable_formset li.sortable_item a.delete_button {
	height: 30px;
	float: right;
	margin-right: 8px;
}

ul.tabs {
	position: absolute;
	top: -31px;
}

ul.tabs li {
	float: left;
	line-height: 22px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: -1px;
}

ul.tabs a {
	display: block;
	background-color: #ddd;
	text-decoration: none;
	color: #444;
	border-bottom: 1px solid #ccc;
	line-height: 21px;
	padding: 4px 12px;
}

ul.tabs a:hover {
	background-color: #eee;
}

ul.tabs li.active_tab {
	background-color: white;
	padding: 4px 12px;
}

/* listings */
li.scener {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/scener.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.add_scener {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/add_scener.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.group {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/group.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.group a, li.scener a {
	color: #008;
}

li.group.previous_membership {
	background-image: url(/static/images/icons/group_grey.png);
}

li.scener.previous_membership {
	background-image: url(/static/images/icons/scener_grey.png);
}

li.previous_membership a {
	color: #bbe;
}

li.add_group {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/add_group.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.production, td.production {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/disk.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.music, td.music {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/music.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.graphics, td.graphics {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/palette.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

li.party {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/party.png);
	background-position: left 2px;
	background-repeat: no-repeat;
}

ul.download_links li.download_link {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-image: url(/static/images/icons/disk.png);
	background-position: left center;
	background-repeat: no-repeat;
}

ul.download_links li.sceneorg {
	background-image: url(/static/images/icons/external_sites/sceneorg.png);
}

ul.download_links li.amigascne {
	background-image: url(/static/images/icons/external_sites/amigascne.png);
}

ul.download_links li.untergrund {
	background-image: url(/static/images/icons/external_sites/untergrund.png);
}

ul.download_links ul.download_mirrors {
	display: inline;
}

ul.download_links ul.download_mirrors li {
	display: inline;
	padding-right: 8px;
}

ul.download_links ul.download_mirrors li a {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

ul.download_links ul.download_mirrors li a.country_nl {
	background-image: url(/static/images/icons/flags/nl.png);
}

ul.download_links ul.download_mirrors li a.country_no {
	background-image: url(/static/images/icons/flags/no.png);
}

ul.download_links ul.download_mirrors li a.country_us {
	background-image: url(/static/images/icons/flags/us.png);
}

ul.download_links ul.download_mirrors li a.country_jp {
	background-image: url(/static/images/icons/flags/jp.png);
}

ul.download_links ul.download_mirrors li a.country_de {
	background-image: url(/static/images/icons/flags/de.png);
}

ul.download_links ul.download_mirrors li a.country_fr {
	background-image: url(/static/images/icons/flags/fr.png);
}

ul.download_links ul.download_mirrors li a.country_hu {
	background-image: url(/static/images/icons/flags/hu.png);
}

ul.download_links ul.download_mirrors li a.country_uk {
	background-image: url(/static/images/icons/flags/gb.png);
}

ul.download_links ul.download_mirrors li a.country_se {
	background-image: url(/static/images/icons/flags/se.png);
}

ul.download_links ul.download_mirrors li a.country_ca {
	background-image: url(/static/images/icons/flags/ca.png);
}

li.add {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}

li.edit {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/edit.png);
	background-position: left center;
	background-repeat: no-repeat;
}

ul.actions {
	float: right;
}

ul.actions li {
	display: inline;
}

ul.actions li a {
	line-height: 32px;
	border: 1px solid #888;
	background-color: #eee;
	color: #008;
	padding: 4px;
	margin-left: 4px;
	text-decoration: none;
}

ul.actions li a:hover {
	background-color: #ccc;
}

ul.actions li a.add {
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.actions li a.edit {
	padding-left: 24px;
	background-image: url(/static/images/icons/edit.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.actions li a.done {
	padding-left: 24px;
	background-image: url(/static/images/icons/tick.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.actions li a.import_table {
	padding-left: 24px;
	background-image: url(/static/images/icons/table_go.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.maintenance_actions {
	clear: both;
	padding-top: 16px;
}

ul.maintenance_actions li a {
	line-height: 32px;
	border: 1px solid #888;
	background-color: #eee;
	color: #008;
	padding: 4px;
	margin-left: 4px;
	text-decoration: none;
}

ul.maintenance_actions li a:hover {
	background-color: #ccc;
}

ul.maintenance_actions li a.delete {
	padding-left: 24px;
	background-image: url(/static/images/icons/delete.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.maintenance_actions li a.switch {
	padding-left: 24px;
	background-image: url(/static/images/icons/arrow_refresh.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.maintenance_actions li {
	display: inline;
}

/* nick fields */
.nick_field .nick_search input[type=text] {
	width: 300px;
}

.nick_field.ajaxified .nick_search input[type=text] {
	width: 400px;
}

.byline_field .byline_search input[type=text] {
	width: 300px;
}

.byline_field.ajaxified .byline_search input[type=text] {
	width: 400px;
}

.production_field {
	line-height: 28px;
	width: 480px;
	float: left;
}

.production_field .form_view .title_field {
	float: left;
	width: 200px;
}

.production_field .form_view > label {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}

.production_field .byline_field {
	float: left;
}

.production_field .byline_field.ajaxified .byline_search input[type=text] {
	width: 200px;
}

.production_field .static_view_text {
	float: left;
}

.production_field .clear_button {
	float: left;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	background-image: url('/static/images/icons/cross.png');
}

form.entry_form .party_field input.party_field_search {
	width: 300px;
}
form.entry_form .party_field.ajaxified input.party_field_search {
	width: 400px;
}

/* byline matches */
.matched_names {
	font-size: 0.9em;
}

.matched_names ul li.matched_name {
	position: relative;
}

.matched_names ul li.matched_name a.selected_result {
	line-height: 24px;
	display: block;
	padding-right: 4px;
	cursor: pointer;
	border: 2px solid white;
	padding-left: 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	color: black;
	text-decoration: none;
}

.matched_names ul li.matched_name a.selected_result span {
	padding-right: 20px;
	padding-left: 4px;
}

.matched_names ul li a.icon_error {
	background-image: url(/static/images/icons/error.png);
	color: red;
}

.matched_names ul li a.icon_scener {
	background-image: url(/static/images/icons/scener.png);
}

.matched_names ul li a.icon_group {
	background-image: url(/static/images/icons/group.png);
}

.matched_names ul li a.icon_add_scener {
	background-image: url(/static/images/icons/add_scener.png);
}

.matched_names ul li a.icon_add_group {
	background-image: url(/static/images/icons/add_group.png);
}

.matched_names ul li.matched_name {
	float: left;
	margin-right: 4px;
}

.matched_names ul li.matched_name a:hover.selected_result {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #888;
	border-right: 2px solid #888;
}

.matched_names ul li.matched_name a:hover.selected_result span,
.matched_names ul li.matched_name a.active.selected_result span {
	background-image: url(/static/images/icons/arrow_down.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.matched_names ul li.matched_name a.active.selected_result {
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	background-color: #ddd;
}

.matched_names ul li.matched_name ul.suggestions {
	position: absolute;
	z-index: 100;
	white-space: nowrap;
	top: 28px;
	border: 1px solid #888;
	background-color: white;
}

.matched_names ul li.matched_name ul.suggestions li a {
	display: block;
	color: black;
	text-decoration: none;
	padding-left: 28px;
	padding-right: 4px;
	line-height: 24px;
	background-position: 4px center;
	background-repeat: no-repeat;
}

.matched_names ul li.matched_name ul.suggestions li a:hover {
	background-color: #ddd;
}

/* NickField matched names */
.nick_match {
	font-size: 0.9em;
	position: relative;
}

.nick_match a.selected_result {
	line-height: 24px;
	display: block;
	padding-right: 4px;
	cursor: pointer;
	border: 2px solid #eee;
	padding-left: 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	color: black;
	text-decoration: none;
}

.nick_match a.selected_result span {
	padding-right: 20px;
	padding-left: 4px;
}

.nick_match a.error {
	background-image: url(/static/images/icons/error.png);
	color: red;
}

.nick_match a.scener {
	background-image: url(/static/images/icons/scener.png);
}

.nick_match a.group {
	background-image: url(/static/images/icons/group.png);
}

.nick_match a.add_scener {
	background-image: url(/static/images/icons/add_scener.png);
}

.nick_match a.add_group {
	background-image: url(/static/images/icons/add_group.png);
}

.nick_match {
	float: left;
	margin-right: 4px;
}

.nick_match a:hover.selected_result {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #888;
	border-right: 2px solid #888;
}

.nick_match a:hover.selected_result span,
.nick_match a.active.selected_result span {
	background-image: url(/static/images/icons/arrow_down.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.nick_match a.active.selected_result {
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	background-color: #ddd;
}

.nick_match ul {
	white-space: nowrap;
	top: 28px;
	border: 1px solid #888;
	background-color: white;
}

.nick_match.ajaxified ul {
	position: absolute;
	z-index: 100;
}

.nick_match ul li {
	display: block;
	color: black;
	text-decoration: none;
	padding-left: 28px;
	padding-right: 4px;
	padding-bottom: 0;
	background-position: 4px center;
	background-repeat: no-repeat;
}

.nick_match ul li label {
	display: block;
	line-height: 24px;
}

.nick_match ul li:hover {
	background-color: #eee;
}

.nick_match ul li.selected, .nick_match ul li.selected {
	background-color: #ddd;
}

.nick_match ul li label {
	cursor: pointer;
}

.nick_match.ajaxified ul li input[type=radio] {
	display: none;
}

/* production view */
.production_title h2 {
	display: inline;
}

.production_title h3 {
	padding-left: 4px;
	display: inline;
}

body.show_production .production_title {
	margin-bottom: 16px;
}

body.show_production .screenshots {
	clear: both;
	float: left;
	margin-right: 16px;
	width: 400px;
}

body.show_production .screenshots .carousel li {
	margin-right: 8px;
}

body.show_production .screenshots .carousel_panel {
	position: relative;
}

body.show_production .screenshots .carousel_panel button.prev {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: -15px;
}

body.show_production .screenshots .carousel_panel button.next {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 405px;
}

body.show_production .screenshots ul.actions {
	clear: both;
	float: none;
}

body.show_production .screenshots ul.actions li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

body.show_production .production_details {
	float: left;
	width: 400px;
}

body.show_production .production_details .production_types {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .platforms {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .competition_placings {
	margin-bottom: 0.5em;
	list-style-type: disc;
	padding-left: 1em;
}

body.show_production .production_details .tags li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	font-size: 10pt;
}

body.show_production .production_details .tags li a.tag_name {
	border: 1px solid #888;
	background-color: #ddd;
	text-decoration: none;
	color: #444;
	padding: 2px;
}

body.show_production .production_details .tags li a:hover.tag_name {
	background-color: #ccc;
	text-decoration: underline;
}

body.show_production .production_details .tags li form {
	display: inline;
}

body.show_production .production_details .tags li button {
	background-image: url('/static/images/icons/delete.png');
	border: none;
	background-color: transparent;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	cursor: pointer;
}

body.show_production .production_details .tags form.add_tag {
	padding-top: 4px;
	clear: both;
}

ul.memberships {
	margin-bottom: 8px;
}

.screenshot_wrapper {
	position: absolute;
	z-index: 1001;
	padding: 8px;
	border: 1px solid #444;
	background-color: #eee;
	background-image: url('/static/images/screenshot_loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.screenshot_wrapper .lightbox_close {
	margin-top: -4px;
	margin-bottom: 4px;
}

.screenshot_wrapper img {
	float: left;
	clear: both;
}

.screenshot_overlay {
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background-color: #000;
}

#lightbox_outer {
	display: table;
	position: fixed;
	z-index: 1000;
	top: 0;
	height: 100%;
	padding-bottom: 16px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#lightbox_middle {
	display: table-cell;
	vertical-align: middle;
	padding-top: 8px;
}

#lightbox {
	margin: auto;
	width: 620px;
	overflow: auto;
	border: 1px solid #444;
	background-color: #EEE;
	color: #333;
	padding: 12px;
}

/* party series listing */
.party_series_index {
	width: 100%;
	border-spacing: 0;
}

.party_series_index tr.even {
	background-color: #eee;
}

.party_series_index th, .party_series_index td {
	padding-top: 4px;
	padding-bottom: 4px;
}

.party_series_index th {
	width: 200px;
	padding-right: 20px;
}

.party_series_index ul.parties {
	display: inline;
}

.party_series_index ul.parties li {
	display: inline;
}

/* party series page */
.show_party_series ul.parties li {
	float: left;
	text-align: center;
	width: 250px;
	min-height: 180px;
}

.show_party_series ul.parties li a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
}

.show_party_series ul.parties li a:hover {
	background-color: #eee;
}

.show_party_series ul.parties li a:link h3 {
	text-decoration: underline;
}

.show_party_series ul.parties .thumbnail {
	margin: auto;
	margin-bottom: 10px;
}

ul.parties_in_series {
	display: inline;
}

ul.parties_in_series li {
	display: inline;
}

ul.parties_in_series li.current {
	font-weight: bold;
}

.party_details .tagline {
	font-size: 0.8em;
}

.competition {
	margin-top: 20px;
}

.productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/package.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.member_productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/membership.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.credits_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/wrench.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.soundtracks_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/music.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.external_links {
	margin-top: 16px;
	margin-bottom: 8px;
	line-height: 16px;
}

.external_links h3 {
	display: inline;
}

.external_links ul {
	display: inline;
}

.external_links li {
	display: inline;
}

.external_links a {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.external_links a.pouet {
	background-image: url('/static/images/icons/external_sites/pouet.png');
}

.external_links a.amp {
	background-image: url('/static/images/icons/external_sites/amp.png');
}

.external_links a.csdb {
	background-image: url('/static/images/icons/external_sites/csdb.png');
}

.external_links a.nectarine {
	background-image: url('/static/images/icons/external_sites/nectarine.png');
}

.external_links a.bitjam {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}

.external_links a.artcity {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}

.external_links a.bitworld {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}

.external_links a.mobygames {
	background-image: url('/static/images/icons/external_sites/mobygames.png');
}

.external_links a.asciiarena {
	background-image: url('/static/images/icons/external_sites/asciiarena.png');
}

.external_links a.sceneorg {
	background-image: url('/static/images/icons/external_sites/sceneorg.png');
}

.external_links a.demoparty_net {
	background-image: url('/static/images/icons/external_sites/demopartynet.png');
}

.external_links a.slengpung {
	background-image: url('/static/images/icons/external_sites/slengpung.png');
}

.external_links a.breaks_amiga {
	background-image: url('/static/images/icons/external_sites/breaks_amiga.png');
}

.external_links a.zxdemo {
	background-image: url('/static/images/icons/external_sites/zxdemo.png');
}

.external_links a.twitter {
	background-image: url('/static/images/icons/external_sites/twitter.png');
}

.external_links a.facebook {
	background-image: url('/static/images/icons/external_sites/facebook.png');
}

.external_links a.googleplus {
	background-image: url('/static/images/icons/external_sites/googleplus.png');
}

.external_links a.amigascne {
	background-image: url('/static/images/icons/external_sites/amigascne.png');
}

.external_links a.untergrund {
	background-image: url('/static/images/icons/external_sites/untergrund.png');
}

.external_links a.scenesat {
	background-image: url('/static/images/icons/external_sites/scenesat.png');
}

.external_links a.youtube {
	background-image: url('/static/images/icons/external_sites/youtube.png');
}

.external_links a.vimeo {
	background-image: url('/static/images/icons/external_sites/vimeo.png');
}

.external_links a.demoscene_tv {
	background-image: url('/static/images/icons/external_sites/demoscene_tv.png');
}

.external_links a.capped {
	background-image: url('/static/images/icons/external_sites/capped.png');
}

.external_links a.soundcloud {
	background-image: url('/static/images/icons/external_sites/soundcloud.png');
}

.external_links a.lanyrd {
	background-image: url('/static/images/icons/external_sites/lanyrd.png');
}

.external_links a.deviantart {
	background-image: url('/static/images/icons/external_sites/deviantart.png');
}

.external_links a.modarchive {
	background-image: url('/static/images/icons/external_sites/modarchive.png');
}

.external_links a.website {
	background-image: url('/static/images/icons/world.png');
}

.external_links a.edit {
	background-image: url('/static/images/icons/edit.png');
	font-weight: bold;
}

ul.nick_change_options {
	list-style-type: disc;
	margin-left: 3em;
}

ul.nick_change_options li {
	margin-bottom: 1em;
}

a.lightbox_close {
	float: right;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	background-image: url('/static/images/icons/cross.png');
}

.ui-datepicker-trigger {
	background-image: url('/static/images/icons/calendar.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 4px;
	text-indent: -5000px;
	width: 20px;
	height: 20px;
}

.asmContainer select {
	width: 200px;
}

.asmContainer ol.asmList {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	width: 200px;
}

.asmContainer a.asmListItemRemove {
	text-indent: -5000px;
	background-image: url('/static/images/icons/delete.png');
	width: 16px;
	height: 16px;
	padding: 3px;
	background-repeat: no-repeat;
	background-position: center;
}

/* homepage */
.chart_set {
	clear: both;
}

.chart {
	width: 280px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 1px solid #888;
}

.chart h2 {
	font-size: 14pt;
	margin-bottom: 4px;
}

.search_results {
	margin-top: 1em;
}

.search_results ul {
	margin-top: 0.5em;
}

.search_results p.snippet {
	font-size: 0.8em;
	color: #666;
	margin-top: 0;
	margin-bottom: 0.2em;
}

body.editorial h1 {
	margin-bottom: 1em;
}

body.edit_competition h2 {
	margin-bottom: 1em;
}

body.edit_competition form.entry_form {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

body.edit_competition form.entry_form input[type=submit] {
	margin-left: 150px;
}

table.history {
	margin-top: 1em;
}

table.history .timestamp {
	white-space: nowrap;
	padding-right: 1em;
}

table.history .user {
	white-space: nowrap;
	padding-right: 1em;
}

form.entry_form .credit_formset .category_header {
	float: left;
	font-weight: bold;
	width: 100px;
}

form.entry_form .credit_formset .detail_header {
	float: left;
	font-weight: bold;
}

form.entry_form .credit_formset .field_input select {
	width: 100px;
}

form.entry_form .credit_formset .field_input input[type="text"] {
	width: 250px;
}

/* party invitations form: need to surround list items with boxes
 like we would for sortable formsets - because production_fields have
 confusing dimensions and it's not clear where their boundaries are otherwise
*/
form.party_invitation_form .spawning_formset .spawned_form {
	border: 1px solid #888;
	background-color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 2px;
}
form.party_invitation_form .spawning_formset .spawned_form a.delete_button {
	float: right;
}

/* Small-screen versions */
@media screen and (max-width: 1200px) {

	#page {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1081px) {

	#page {
		border-right: none;
	}

    #site_header nav {
		clear: both;
		float: none;
		width: 470px;
		margin-left: 64px;
		padding-top: 24px;
	}
}

@media screen and (max-width: 601px) {

	#site_header {
		padding-top: 16px;
	}

	#site_header nav {
		margin: auto;
		padding-left: 16px;
		padding-right: 16px;
	}

	#site_header nav form.search #id_q {
		width: 300px;
	}

	#site_header #login_status_panel {
		margin-right: 16px;
	}

	#site_main {
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media screen and (max-width: 501px) {

	#site_header h1 a {
		display: block;
		width: auto;
		height: auto;
		line-height: 33px;
		padding-left: 8px;
		padding-right: 16px;
		margin: 0;
		text-indent: 0;
		background-image: none;
		text-transform: uppercase;
		font-family: FabricaRegular, Helvetica, Arial, sans-serif;
		color: white;
		text-decoration: none;
		font-weight: normal;
		font-size: 16pt;
		letter-spacing: 4px;
	}

	#site_header nav {
		width: auto;
	}

	#site_header nav ul li {
		float: none;
		width: 200px;
	}

	#site_header nav ul li a:hover {
		border-top: none;
		margin-top: 0;
		background-color: #ecd8da;
		border-left: 4px solid #ec5a64;
		margin-left: -4px;
	}

	#site_header nav ul li.active a:hover {
		border-left: none;
		margin-left: 0;
		background-color: #ec5a64;
	}

	#site_header nav form.search {
		padding-top: 16px;
	}

	#site_header nav form.search #id_q {
		width: 200px;
	}
}
