body.maintenance_index h2 {
	margin-bottom: 1em;
}

body.maintenance_index ul {
	margin-bottom: 1em;
}

body.maintenance_report #main_column {
	width: 100%;
}

body.maintenance_report table td {
	border-bottom: 1px solid #eee;
}

body.maintenance_report .exclude_button {
	margin-right: 8px;
}

.report {
	margin-bottom: 1em;
}

body.unresolved_screenshots a.resolve {
	color: #001;
	text-decoration: none;
}

body.unresolved_screenshots a:hover.resolve {
	background-color: #bbb;
}
