html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 1.3em;
	background-color: #bfbfbf;
	color: black;
}

#page {
	border-right: 50px solid #e8e8e8;
	background-color: white;

	margin: auto;
	max-width: 1400px;
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 7px rgba(50, 50, 50, 1);
}

#site_header {
	padding-top: 36px;
	padding-bottom: 36px;
}

#site_header h1 {
	float: left;
	margin-right: 36px;
}

#site_header h1 a {
	display: block;
	width: 253px;
	height: 52px;
	background-color: #c32e3b;
	text-indent: -5000px;
	background-image: url('/static/images/demozoo_title.png');
}

#site_header nav {
	float: left;
	margin-right: 36px;
}

#site_header nav li {
	float: left;
}

#site_header nav li a {
	display: block;
	line-height: 25px;
	padding: 0 10px;
	text-decoration: none;
	font-family: FabricaRegular, Helvetica, Arial, sans-serif;
	color: #5e5f5f;
	text-transform: uppercase;
}

#site_header nav li.active a {
	background-color: #ec5a64;
	color: white;
}

#site_header nav li a:hover {
	border-top: 4px solid #ec5a64;
	margin-top: -4px;
}

#site_header nav li.active a:hover {
	border-top: none;
	margin-top: 0;
}

#site_header nav form.search {
	clear: left;
	padding-top: 2px;
}

#site_header nav form.search #id_q {
	border: none;
	padding: 0;
	padding-left: 6px;
	height: 25px;
	width: 395px;
	font-size: 10pt;
	background-color: #77c6ef;
	color: black;
	margin: 0;
	float: left;
}

#site_header nav form.search #id_q.placeholder {
	color: white;
	font-size: 8pt;
}

#site_header nav form.search input[type='submit'] {
	background-color: #386580;
	border: none;
	height: 25px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0;
	font-size: 8pt;
	font-family: FabricaRegular, Helvetica, Arial, sans-serif;
	color: white;
	float: left;
}

.autosuggest_result {
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 22px;
	height: 30px;
	overflow: hidden; /* clearfix for thumbnails */
	vertical-align: middle;
}
.autosuggest_result .microthumb {
	float: right;
}
.autosuggest_result.production {
	background-image: url('/static/images/icons/disk.png');
}
.autosuggest_result.graphics {
	background-image: url('/static/images/icons/palette.png');
}
.autosuggest_result.music {
	background-image: url('/static/images/icons/music.png');
}
.autosuggest_result.scener {
	background-image: url('/static/images/icons/scener.png');
}
.autosuggest_result.group {
	background-image: url('/static/images/icons/group.png');
}
.autosuggest_result.party {
	background-image: url('/static/images/icons/party.png');
}

#site_header #login_status_panel {
	margin-right: 64px;
	width: 169px;
	float: right;
	background-color: #e8e8e8;
}

#site_header #login_status_panel .login_status {
	line-height: 33px;
	text-indent: 32px;
}

#site_header #login_status_panel .login_status a {
	display: block;
	text-decoration: none;
	color: inherit;
	background-image: url('/static/images/icons/arrow_down.png');
	background-position: 145px center;
	background-repeat: no-repeat;
}

#site_header #login_status_panel .logged_out {
	font-style: italic;
	color: #9d9d9d;
}

#site_header #login_status_panel .logged_in {
	background-image: url('/static/images/icons/scener.png');
	background-repeat: no-repeat;
	background-position: 8px center;
	font-weight: bold;
	color: #5e5f5f;
}

#site_header #login_status_panel .login_links {
	position: absolute;
	width: 169px;
	background-color: #e8e8e8;
	border-top: 1px solid #5d5f5f;
	z-index: 10;
}

#site_header #login_status_panel .login_links form {
	border-bottom: 1px solid #5e5f5f;
	padding: 8px;
	color: #5e5f5f;
}

#site_header #login_status_panel .login_links form p {
	margin-top: 0;
	margin-bottom: 8px;
}

#site_header #login_status_panel .login_links ul li {
	border-bottom: 1px solid #5e5f5f;
}

#site_header #login_status_panel .login_links ul li a {
	display: block;
	text-decoration: none;
	color: #5e5f5f;
	line-height: 24px;
	padding-left: 8px;
}

#site_header #login_status_panel .login_links ul li a:hover {
	background-color: #d3d3d3;
}

#site_main {
	margin-left: 64px;
	margin-right: 64px;
	padding-right: 8px;
}

#site_footer {
	clear: both;
	border: 10px solid white;
	background-color: #e8e8e8;
	text-align: center;

	li {
		line-height: 3em;
		font-size: 0.8em;
		padding: 0 10px;
		margin: 0;
		border-left: 1px solid #888;
		display: inline;
		&:first-child {
			border-left: none;
			padding-left: 0;
		}
	}
}


/* Small-screen versions */
@media screen and (max-width: 1200px) {

	#page {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1081px) {

	#page {
		border-right: none;
	}

    #site_header nav {
		clear: both;
		float: none;
		width: 470px;
		margin-left: 64px;
		padding-top: 24px;
	}
}

@media screen and (max-width: 601px) {

	#site_header {
		padding-top: 16px;

		nav {
			margin: auto;
			padding-left: 16px;
			padding-right: 16px;

			form.search #id_q {
				width: 300px;
			}
		}

		#login_status_panel {
			margin-right: 16px;
		}
	}


	#site_main {
		margin-left: 16px;
		margin-right: 16px;
	}

}

@media screen and (max-width: 501px) {

	#site_header {
		h1 a {
			display: block;
			width: auto;
			height: auto;
			line-height: 33px;
			padding-left: 8px;
			padding-right: 16px;
			margin: 0;
			text-indent: 0;
			background-image: none;
			text-transform: uppercase;
			font-family: FabricaRegular, Helvetica, Arial, sans-serif;
			color: white;
			text-decoration: none;
			font-weight: normal;
			font-size: 16pt;
			letter-spacing: 4px;
		}

		nav {
			width: auto;

			ul li {
				float: none;
				width: 200px;

				a:hover {
					border-top: none;
					margin-top: 0;
					background-color: #ecd8da;
					border-left: 4px solid #ec5a64;
					margin-left: -4px;
				}

				&.active a:hover {
					border-left: none;
					margin-left: 0;
					background-color: #ec5a64;
				}
			}

			form.search {
				padding-top: 16px;

				#id_q {
					width: 200px;
				}
			}

		}
	}
}
