#side_column {
	float: left;
	width: 25%;
}

#main_column {
	float: left;
	width: 75%;
}

.panel {
	border: 1px solid #ccc;
	margin-top: 16px;
	padding: 16px;
	position: relative;
}

#main_column .panel {
	margin-left: 16px;
}

.productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/package.png');
	background-position: left center;
	background-repeat: no-repeat;
}
