.login_menu {

    input[type=text],
    input[type=password] {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
    }
}

.site__content {

    form .login_sceneid,
    #lightbox form .login_sceneid {
        margin: 10px 0 0;
    }
    form .login_sceneid a.sceneid,
    #lightbox form .login_sceneid a.sceneid {
        margin: 5px 0 0;
        display: block;
    }
}
