ul.external_links {

    li {
        display: inline-block;
    }

    a {
        display: block;
        background-position: left center;
        background-repeat: no-repeat;
        margin-right: 16px;
        padding: 3px 0 3px 22px;
    }
}
