.latest-activity {

    section {
        margin: 0 0 2rem;
    }

    h2 {
        color: demozoo-color('body-text');
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.25;
        margin: 1em 0 0;
        padding: 1ex 0;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        section {
            box-sizing: border-box;
            width: 50%;

            &:nth-child(odd) {
                padding-right: 1.5em;
            }

            &:nth-child(even) {
                padding-left: 1.5em;
            }
        }
    }
}