.result {

    &__ranking {
        display: block;
        text-align: center;
    }

    &__score {
        text-align: right;
        padding-right: 8px;
    }

    &__title {
        font-weight: 600;
    }

    .meta {
        font-weight: 300;
    }
}
