{% load url from future %}
{% load zxdemo_tags %}

{% for link in production.links.all %}
	{% if link.is_download_link %}
		<a href="{{ link.url }}">{% download_icon link %}</a>
	{% endif %}
{% endfor %}
{% if production.supertype == 'graphics' %}
	{% for screenshot in production.screenshots.all %}
		<a href="{% url 'zxdemo_show_screenshot' screenshot.id %}" target="_blank" onclick="viewscreen(this.href, {{ screenshot.standard_width }}, {{ screenshot.standard_height }}); return false;"><img src="/static/zxdemo/images/icon/gfx_new.gif" border="0" width="24" height="24" alt="[View screenshot]" /></a>
	{% endfor %}
{% endif %}
