

{% if posts.paginator.num_pages > 1 %}
	<ul class="pagination">
		{% if posts.has_previous %}
			<li>
				<a href="{% url 'forums_topic' topic.id %}?page={{ posts.previous_page_number }}" title="Previous page">&laquo;</a>
			</li>
		{% endif %}

		{% for i in posts.paginator.page_range %}
			{% if i == posts.number %}
				<li class="current">{{ i }}</li>
			{% else %}
				<li><a href="{% url 'forums_topic' topic.id %}?page={{ i }}">{{ i }}</a></li>
			{% endif %}
		{% endfor %}

		{% if posts.has_next %}
			<li>
				<a href="{% url 'forums_topic' topic.id %}?page={{ posts.next_page_number }}" title="Next page">&raquo;</a>
			</li>
		{% endif %}
	</ul>
{% endif %}
