{% extends "base.html" %}
{% load demoscene_tags ui_tags compress %}


{% block html_title %}Discussions - Demozoo{% endblock %}

{% block body_class %}forums_index{% endblock %}

{% block base_main %}
    {% if site_is_writeable %}
        <ul class="actions">
            <li>{% icon_button url="forums_new_topic" icon="add" lightbox=True label="New topic" %}</li>
        </ul>
    {% endif %}

    <div class="focus_title">
        <h2>Discussions</h2>
    </div>
    {% include "forums/_topics.html" with show_full_meta=1 %}
{% endblock %}
