{% extends "base.html" %}
{% load demoscene_tags compress laces %}


{% block html_title %}{{ topic.title }} - Discussions - Demozoo{% endblock %}

{% block body_class %}show_topic{% endblock %}

{% block base_main %}
    <a href="{% url 'forums' %}"><div class="signpost">Discussions</div></a>

    <div class="focus_title">
        <h2>{{ topic.title }}</h2>
    </div>

    <div class="posts_panel">
        {% component pagination_controls %}

        <div class="posts">
            {% for post in posts %}
                <div class="post" id="post-{{ post.id }}">
                    {% if request.user.is_staff and site_is_writeable %}
                        <div class="admin_controls">
                            <a href="{% url 'forums_edit_post' post.id %}" class="open_in_lightbox">Edit</a>
                            | <a href="{% url 'forums_delete_post' post.id %}" class="open_in_lightbox">Delete</a>
                        </div>
                    {% endif %}
                    <b>{{ post.user.username }}</b> - {{ post.created_at|date:"H:i j F Y" }}
                    <a href="{{ post.get_absolute_url }}" title="Permalink">#</a>
                    <p>{{ post.body|urlize|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>

        {% component pagination_controls %}

        {% if topic.locked %}
            {% if user.is_staff %}
                <p><strong>This topic is locked</strong> (but you can reply anyway because you're an admin).</p>
            {% else %}
                <p><strong>This topic is locked.</strong></p>
            {% endif %}
        {% elif not user.is_authenticated %}
            <p><a href="{% url 'log_in' %}?next={{ topic.get_absolute_url|urlencode }}">Log in</a> to reply.</p>
        {% endif %}

        {% if form %}
            {% include "forums/_reply_form.html" %}
        {% endif %}
    </div>

{% endblock %}
