{% load ui_tags %}

<section class="o-panel -tags editable_chunk{% if can_edit %} edit_toggle{% endif %}">
    <header class="o-panel__header">
        <h3 class="o-panel__heading">Tags</h3>
    </header>
    <div class="o-panel__content">
        <div id="tags_message"></div>
        {% include "bbs/_tags_list.html" with tags=tags only %}
        {% if can_edit %}
            <form class="tags_form" action="{% url 'bbs_edit_tags' bbs.id %}" method="post">
                {% csrf_token %}
                {{ tags_form.tags }}
                {% button label="Update" icon="check" %}
            </form>
        {% endif %}
    </div>
</section>
