<div class="panel editable_chunk text_ads_panel">
    <h3 class="panel__title">Text ads</h3>
    {% if site_is_writeable %}
        <ul class="actions">
            <li>
                <a href="{% url 'bbs_edit_text_ads' bbs.id %}" class="action_button icon edit edit_chunk open_in_lightbox" rel="nofollow">Edit text ads</a>
            </li>
        </ul>
    {% endif %}
    <ul class="text_ads">
        {% for file in text_ads %}
            <li><a href="{% url 'bbs_text_ad' bbs.id file.id %}" title="{{ file.filename }} - ({{ file.filesize }} bytes)">{{ file.filename }}</a></li>
        {% endfor %}
    </ul>
</div>
