{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Add group affiliation for {{ bbs.name }} - Demozoo{% endblock %}

{% block base_main %}
    <h2>Add group affiliation for {{ bbs.name }}:</h2>

    <form action="{% url 'bbs_add_affiliation' bbs.id %}" method="post" data-edit-form class="entry_form">
        {% csrf_token %}

        {% include "shared/form_fields.html" %}

        <div class="field">
            <input type="submit" value="Add group"/>
        </div>
    </form>
{% endblock %}
