{% extends base_template_with_ajax_option %}
{% load spawning_formset compress %}


{% block html_title %}Editing BBStros for {{ bbs.name }} - Demozoo{% endblock %}
{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.bbstro_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing BBStros for {{ bbs.name }}:</h2>

    <form action="{% url 'bbs_edit_bbstros' bbs.id %}" method="post" class="entry_form bbstro_form">
        {% csrf_token %}

        {% spawningformset formset %}
            {% spawningform as form %}
                {{ form.production }}
            {% endspawningform %}
        {% endspawningformset %}

        <div class="field">
            <input type="submit" value="Update BBStros"/>
        </div>
    </form>
{% endblock %}
