{% extends base_template_with_ajax_option %}


{% block html_title %}Editing {{ affiliation.group.name }}'s affiliation with {{ bbs.name }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.edit_affiliation_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing {{ affiliation.group.name }}'s affiliation with {{ bbs.name }}</h2>

    <form action="{% url 'bbs_edit_affiliation' bbs.id affiliation.id %}" method="post" class="entry_form edit_affiliation_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="field">
            <input type="submit" value="Submit edit"/>
        </div>
    </form>

    <p>
        <a href="{% url 'bbs_remove_affiliation' bbs.id affiliation.id %}" data-lightbox>Remove affiliation</a>
    </p>
{% endblock %}
