{% extends "generic/edit_form_with_ajax_option.html" %}
{% load ui_tags %}

{% block html_title %}Editing {{ operator.releaser.name }} as staff member of {{ bbs.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ operator.releaser.name }} as staff member of {{ bbs.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'bbs_edit_operator' bbs.id operator.id %}{% endblock %}

{% block submit_button_label %}Submit edit{% endblock %}

{% block after_form %}
    <ul class="actions">
        {% url 'bbs_remove_operator' bbs.id operator.id as delete_url %}
        <li>{% action_button url=delete_url icon="delete" label="Remove staff member" lightbox=True %}</li>
    </ul>
{% endblock %}
