{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ operator.releaser.name }} as staff member of {{ bbs.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ operator.releaser.name }} as staff member of {{ bbs.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'bbs_edit_operator' bbs.id operator.id %}{% endblock %}

{% block submit_button_label %}Submit edit{% endblock %}

{% block after_form %}
    <p>
        <a href="{% url 'bbs_remove_operator' bbs.id operator.id %}" data-lightbox>Remove staff member</a>
    </p>
{% endblock %}
