{% extends base_template_with_ajax_option %}
{% load ui_tags %}

{% block html_title %}Editing {{ affiliation.group.name }}'s affiliation with {{ bbs.name }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.edit_affiliation_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing {{ affiliation.group.name }}'s affiliation with {{ bbs.name }}</h2>

    <form action="{% url 'bbs_edit_affiliation' bbs.id affiliation.id %}" method="post" class="entry_form edit_affiliation_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="field">
            {% button label="Submit edit" %}
        </div>
    </form>

    <p>
        {% url 'bbs_remove_affiliation' bbs.id affiliation.id as bbs_remove_affiliation_url %}
        {% button href=bbs_remove_affiliation_url lightbox=True level="tertiary" label="Remove affiliation" %}
    </p>
{% endblock %}
