{% extends base_template_with_ajax_option %}


{% block html_title %}
    {% if add_only %}
        Add text ad for {{ bbs.name }} - Demozoo
    {% else %}
        Editing text ads for {{ bbs.name }} - Demozoo
    {% endif %}
{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
{% endblock %}

{% block base_main %}
    {% if add_only %}
        <h2>Adding text ad for {{ bbs.name }}:</h2>
    {% else %}
        <h2>Editing text ads for {{ bbs.name }}:</h2>
    {% endif %}

    <form action="{% url 'bbs_edit_text_ads' bbs.id %}" method="post" enctype="multipart/form-data" data-edit-form class="entry_form">
        {% csrf_token %}

        {{ formset.management_form }}
        {% if formset|length %}
            <div class="field">
                <label class="field_label">Text ad{{ formset|length|pluralize }}</label>
                <div class="field_input">
                    {% for form in formset %}
                        <li>
                            {{ form.instance.filename }} ({{ form.instance.filesize }} bytes)
                            {% if not add_only %}{{ form }}{% endif %}
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="field">
            <label for="id_text_ad" class="field_label">Upload file(s)</label>
            <input type="file" id="id_text_ad" name="text_ad" multiple="multiple"/>
        </div>

        <div class="field">
            <input type="submit" value="{% if add_only %}Add text ad{% else %}Update text ads{% endif %}" />
        </div>
    </form>
{% endblock %}
