{% extends "generic/edit_form_with_ajax_option.html" %}
{% load spawning_formset %}

{% block html_title %}Editing productions promoting {{ bbs.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing productions promoting {{ bbs.name }}:</h2>
{% endblock %}

{% block action_url %}{% url 'bbs_edit_bbstros' bbs.id %}{% endblock %}

{% block form_body %}
    {% spawningformset formset %}
        {% spawningform as form %}
            {{ form.production }}
        {% endspawningform %}
    {% endspawningformset %}
{% endblock %}

{% block submit_button_label %}Update production list{% endblock %}
