{% extends "base.html" %}
{% load ui_tags %}

{% block html_title %}BBSes - Demozoo{% endblock %}

{% block base_main %}
<div>
    <header class="page__header">
        {% if site_is_writeable %}
            <div class="o-actions">
                {% url 'new_bbs' as new_bbs_url %}
                {% button href=new_bbs_url lightbox=True icon="add" label="New BBS" %}
            </div>
        {% endif %}
        <h1 class="page__title">BBSes</h1>
    </header>

    {% include "bbs/_list.html" with bbses=page.object_list %}
    <br />

    {% include "shared/pagination_links.html" %}

</div>

{% endblock %}
