{% extends "base.html" %}
{% load ui_tags %}

{% block html_title %}Text ad for {{ bbs.name }}: {{ text_ad.filename }} - Demozoo{% endblock %}

{% block base_main %}
    {% if request.user.is_staff %}
        <ul class="actions">
            <li>{% action_button url=fix_encoding_url icon="spanner" label="Fix encoding" %}</li>
        </ul>
    {% endif %}

    <h2>Text ad for {{ bbs.name }}: {{ text_ad.filename }}</h2>
    <p><a href="{{ bbs.get_absolute_url }}">Back to BBS</a></p>
    <pre class="text-file {% if text_ad.is_ansi %}ansi{% endif %}">{{ text_ad.as_renderable }}</pre>
{% endblock %}
