{% extends "base.html" %}
{% load demoscene_tags releaser_tags compress ui_tags %}
{% load safe_markdown %}


{% block html_title %}{{ bbs.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
        <script src="/static/js/tag-it.js"></script>
        <script src="/static/js/components/tagging.js"></script>
        <script src="/static/bbs/js/pages/show_bbs.js"></script>
    {% endcompress %}
{% endblock %}

{% block body_class %}t-bbs{% endblock %}

{% block base_main %}
    <div class="core_details editable_chunk">
        <header class="core_details__header">
            <div class="signpost">BBS</div>

            {% if prompt_to_edit %}
                <div class="o-actions">
                    {% url 'edit_bbs' bbs.id as edit_bbs_url %}
                    {% button href=edit_bbs_url lightbox=True icon="edit" label="Edit" %}
                </div>
            {% endif %}
        </header>
        <div class="focus_title bbs_name">
            <h2>{{ bbs.name }}</h2>
        </div>

        {% if alternative_names %}
            <section class="panel">
                <header class="panel__header">
                    <h3 class="panel__title">Also known as</h3>
                </header>
                <div class="panel__content">
                    <ul class="list -inline">
                        {% for name in alternative_names %}
                            <li class="list__item"><strong>{{ name.name }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

        {% if bbs.location %}
            <p>
                Location:
                {{ bbs.location }}
                {% if bbs.country_code %}
                    <img src="/static/images/icons/flags/{{ bbs.country_code|lower }}.png" alt="" />
                {% endif %}
            </p>
        {% endif %}

    </div>

    {% if external_links or can_edit %}
        <section class="panel external_links_panel editable_chunk">
            <header class="panel__header">
                <h3 class="panel__title">External links</h3>
                {% if can_edit %}
                    <div class="o-actions">
                        {% url 'bbs_edit_external_links' bbs.id as bbs_external_links_edit_url %}
                        {% button href=bbs_external_links_edit_url lightbox=True icon="edit" label="Edit" focus=True %}
                    </div>
                {% endif %}
            </header>
            <div class="panel__content">
                <ul class="list -inline external_links">
                    {% for link in external_links %}
                        <li class="list__item">{{ link.html_link|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    {% if bbs.notes or request.user.is_staff %}
        <section class="panel notes_panel editable_chunk">
            {% if request.user.is_staff and site_is_writeable %}
                <div class="o-actions">
                    {% url 'bbs_edit_notes' bbs.id as edit_bbs_notes_url %}
                    {% button href=edit_bbs_notes_url lightbox=True icon="edit" label="Edit" title="Edit notes" %}
                </div>
            {% endif %}
            <div class="notes">
                {{ bbs.notes|safe_markdown }}
            </div>
        </section>
    {% endif %}

    <section class="t-bbs__attributions">
        <div class="column">
            <section class="panel staff_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_staff %}editing{% endif %}{% endif %}">
                <header class="panel__header">
                    <h3 class="panel__title">Staff</h3>
                </header>
                <div class="panel__content">
                    <ul class="list">
                        {% for operator in staff %}
                            <li class="list__item">
                                {% comment %}todo: if not operator.is_current tooltip is 'ex-staff' {% endcomment %}
                                {% url 'scener' operator.releaser.id as scener_url %}
                                {% include "shared/entity.html" with url=scener_url type="scener" flag=operator.releaser label=operator.releaser.name description=operator.get_role_display %}
                                {% if can_edit %}
                                    {% url 'bbs_edit_operator' bbs.id operator.id as bbs_edit_operator_url %}
                                    {% button href=bbs_edit_operator_url lightbox=True level="tertiary" icon="edit" title="Edit staff member" %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if can_edit %}
                        {% url 'bbs_add_operator' bbs.id as bbs_add_operator_url %}
                        {% button href=bbs_add_operator_url lightbox=True icon="add" label="Add staff member" %}
                    {% endif %}
                </div>
            </section>

            <section class="panel affiliations_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_affiliations %}editing{% endif %}{% endif %}">
                <header class="panel__header">
                    <h3 class="panel__title">Affiliated with</h3>
                </header>
                <div class="panel__content">
                    <ul class="list">
                        {% for affiliation in affiliations %}
                            <li class="list__item">
                                {% url 'group' affiliation.group.id as group_url %}
                                {% include "shared/entity.html" with href=group_url type="group" label=affiliation.group.name description=affiliation.get_role_display %}
                                {% if can_edit %}
                                    {% url 'bbs_edit_affiliation' bbs.id affiliation.id as bbs_edit_affiliation_url %}
                                    {% button href=bbs_edit_affiliation_url level="tertiary" lightbox=True title="Edit affiliation" icon="edit" %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if can_edit %}
                        {% url 'bbs_add_affiliation' bbs.id as add_bbs_affiliation_url %}
                        {% button href=add_bbs_affiliation_url lightbox=True icon="add" label="Add group" %}
                    {% endif %}
                </div>
            </section>
        </div>
        <div class="column">
            {% if text_ads or can_edit %}
                {% include "bbs/_text_ads.html" %}
            {% endif %}

            {% include "bbs/_tags.html" %}

            {% if bbstros or can_edit %}
                <section class="panel bbstros_panel editable_chunk">
                    <header class="panel__header">
                        <h3 class="panel__title">
                            Promoted in
                        </h3>
                        {% if can_edit %}
                            <div class="o-actions">
                                {% url 'bbs_edit_bbstros' bbs.id as edit_bbstros_url %}
                                {% button href=edit_bbstros_url label="Edit production list" icon="edit" lightbox=True %}
                            </div>
                        {% endif %}
                    </header>
                    <div class="panel__content">
                        {% if bbstros %}
                            {% production_listing bbstros show_screenshots=1 show_prod_types=1 %}
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
    </section>

    {% last_edited_by bbs %}

    {% if request.user.is_staff and site_is_writeable %}
        <div class="o-actions">
            {% if not bbs.is_referenced %}
                {% url 'delete_bbs' bbs.id as delete_bbs_url %}
                {% button lightbox=True href=delete_bbs_url icon="delete" label="Delete BBS" %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
