{% extends "base.html" %}


{% block html_title %}Text ad for {{ bbs.name }}: {{ text_ad.filename }} - Demozoo{% endblock %}

{% block base_main %}
    {% if request.user.is_staff %}
        <ul class="actions">
            <li><a href="{% url 'maintenance:fix_bbs_text_ad_encoding' text_ad.id %}" class="action_button icon spanner">Fix encoding</a></li>
        </ul>
    {% endif %}

    <h2>Text ad for {{ bbs.name }}: {{ text_ad.filename }}</h2>
    <p><a href="{{ bbs.get_absolute_url }}">Back to BBS</a></p>
    <pre class="text-file {% if text_ad.is_ansi %}ansi{% endif %}">{{ text_ad.as_renderable }}</pre>
{% endblock %}
