{% extends "base.html" %}
{% load demoscene_tags production_tags releaser_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ bbs.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/comments_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
        <script src="/static/js/tag-it.js"></script>
        <script src="/static/js/components/tagging.js"></script>
        <script src="/static/bbs/js/pages/show_bbs.js"></script>
    {% endcompress %}
{% endblock %}

{% block body_class %}show_bbs{% endblock %}

{% block base_main %}
    <div class="editable_chunk">
        <div class="signpost">BBS</div>

        {% if prompt_to_edit %}
            <ul class="actions">
                <li>
                    {% edit_button url=bbs.urls.edit classname="edit_chunk" lightbox=True nofollow=True title="Edit BBS details" %}
                </li>
            </ul>
        {% endif %}

        <div class="focus_title bbs_name">
            <h2>{{ bbs.name }}</h2>
        </div>

        {% if alternative_names %}
            <h3 class="panel__title">Also known as</h3>

            <ul class="alternative_names">
                {% for name in alternative_names %}
                    <li><b>{{ name.name }}</b></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if bbs.location %}
            <p>
                Location:
                {{ bbs.location }}
                {% if bbs.country_code %}
                    <img src="/static/images/icons/flags/{{ bbs.country_code|lower }}.png" alt="" />
                {% endif %}
            </p>
        {% endif %}

    </div>

    {% if external_links or can_edit %}
        {% include "shared/external_links_panel.html" with obj=bbs %}
    {% endif %}

    {% if bbs.notes or request.user.is_staff %}
        {% include "shared/notes_panel.html" with obj=bbs %}
    {% endif %}

    <div id="side_column">
        {% include "bbs/includes/staff_panel.html" with is_editing=editing_staff %}

        {% include "bbs/includes/affiliations_panel.html" with is_editing=editing_affiliations %}
    </div>
    
    <div id="main_column">
        {% if text_ads or can_edit %}
            {% include "bbs/includes/text_ads_panel.html" %}
        {% endif %}

        {% include "bbs/includes/tags_panel.html" %}

        {% if bbstros or can_edit %}
            {% include "bbs/includes/bbstros_panel.html" %}
        {% endif %}
    </div>

    {% last_edited_by bbs %}

    {% include "comments/_comments.html" with commentable=bbs edit_action='edit_bbs_comment' delete_action='delete_bbs_comment' no_comments_message='Be the first to comment on this BBS...' add_action='add_bbs_comment' %}

    {% if request.user.is_staff and site_is_writeable %}
    <ul class="maintenance_actions">
        {% if not bbs.is_referenced %}
            <li>{% action_button url=bbs.urls.delete icon="delete" lightbox=True label="Delete BBS" %}</li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}
