{% extends "base.html" %}
{% load demoscene_tags production_tags releaser_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ bbs.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/comments_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
        <script src="/static/js/tag-it.js"></script>
        <script src="/static/js/components/tagging.js"></script>
        <script src="/static/bbs/js/pages/show_bbs.js"></script>
    {% endcompress %}
{% endblock %}

{% block body_class %}show_bbs{% endblock %}

{% block base_main %}
    <div class="editable_chunk">
        <div class="signpost">BBS</div>

        {% if prompt_to_edit %}
            <ul class="actions">
                <li>
                    <a href="{% url 'edit_bbs' bbs.id %}" class="action_button icon-edit edit_chunk" data-lightbox rel="nofollow">Edit</a>
                </li>
            </ul>
        {% endif %}

        <div class="focus_title bbs_name">
            <h2>{{ bbs.name }}</h2>
        </div>

        {% if alternative_names %}
            <h3 class="panel__title">Also known as</h3>

            <ul class="alternative_names">
                {% for name in alternative_names %}
                    <li><b>{{ name.name }}</b></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if bbs.location %}
            <p>
                Location:
                {{ bbs.location }}
                {% if bbs.country_code %}
                    <img src="/static/images/icons/flags/{{ bbs.country_code|lower }}.png" alt="" />
                {% endif %}
            </p>
        {% endif %}

    </div>

    {% if external_links or can_edit %}
        <div class="editable_chunk panel external_links_panel">
            <h3 class="panel__title">External links</h3>

            {% if can_edit %}
                <ul class="actions">
                    <li>
                        <a href="{% url 'bbs_edit_external_links' bbs.id %}" class="action_button icon-edit edit_chunk" data-lightbox data-focus="empty" title="Edit external links" rel="nofollow">Edit</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="external_links">
                {% for link in external_links %}
                    <li>{{ link.html_link|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if bbs.notes or request.user.is_staff %}
        <div class="editable_chunk panel notes_panel">
            {% if request.user.is_staff and site_is_writeable %}
                <ul class="actions">
                    <li><a class="action_button icon-edit edit_chunk" data-lightbox href="{% url 'bbs_edit_notes' bbs.id %}">Edit notes</a></li>
                </ul>
            {% endif %}
            <div class="notes">
                {{ bbs.notes|safe_markdown }}
            </div>
        </div>
    {% endif %}

    <div id="side_column">
        <div class="panel staff_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_staff %}editing{% endif %}{% endif %}">
            <h3 class="panel__title">Staff</h3>

            <ul class="staff">
                {% for operator in staff %}
                    <li class="scener {% if not operator.is_current %}previous_membership{% endif %}">
                        <a href="{% url 'scener' operator.releaser.id %}" {% if not operator.is_current %}title="ex-staff"{% endif %}>{{ operator.releaser.name }}</a>
                        {% location_flag operator.releaser %}
                        - {{ operator.get_role_display }}
                        {% if can_edit %}
                            <a href="{% url 'bbs_edit_operator' bbs.id operator.id %}" class="edit_operator" data-lightbox>
                                <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit staff member" title="Edit staff member" />
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if can_edit %}
                <ul class="listing_actions">
                    <li><a href="{% url 'bbs_add_operator' bbs.id %}" class="action_button icon-add" data-lightbox>Add staff member</a></li>
                </ul>
            {% endif %}
        </div>

        <div class="panel affiliations_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_affiliations %}editing{% endif %}{% endif %}">
            <h3 class="panel__title">Affiliated with</h3>

            <ul class="affiliations">
                {% for affiliation in affiliations %}
                    <li class="group">
                        <a href="{% url 'group' affiliation.group.id %}">{{ affiliation.group.name }}</a>
                        {% if affiliation.role %}- {{ affiliation.get_role_display }}{% endif %}
                        {% if can_edit %}
                            <a href="{% url 'bbs_edit_affiliation' bbs.id affiliation.id %}" class="edit_affiliation" data-lightbox>
                                <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit affiliation" title="Edit affiliation" />
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if can_edit %}
                <ul class="listing_actions">
                    <li><a href="{% url 'bbs_add_affiliation' bbs.id %}" class="action_button icon-add" data-lightbox>Add group</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
    
    <div id="main_column">
        {% if text_ads or can_edit %}
            {% include "bbs/_text_ads.html" %}
        {% endif %}

        {% include "bbs/_tags.html" %}

        {% if bbstros or can_edit %}
            <div class="panel bbstros_panel editable_chunk">
                <h3 class="panel__title">
                    Promoted in
                </h3>
                {% if can_edit %}
                    <ul class="actions">
                        <li><a href="{% url 'bbs_edit_bbstros' bbs.id %}" class="action_button icon-edit edit_chunk" data-lightbox>Edit production list</a></li>
                    </ul>
                {% endif %}

                {% if bbstros %}
                    {% production_listing bbstros show_screenshots=1 show_prod_types=1 %}
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% last_edited_by bbs %}

    {% include "comments/_comments.html" with commentable=bbs edit_action='edit_bbs_comment' delete_action='delete_bbs_comment' no_comments_message='Be the first to comment on this BBS...' add_action='add_bbs_comment' %}

    {% if request.user.is_staff and site_is_writeable %}
    <ul class="maintenance_actions">
        {% if not bbs.is_referenced %}
            <li><a href="{% url 'delete_bbs' bbs.id %}" class="action_button icon-delete" data-lightbox>Delete BBS</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}
