{% load ui_tags %}

<div class="panel editable_chunk text_ads_panel">
    <h3 class="panel__title">Text ads</h3>
    {% if can_edit %}
        <ul class="actions">
            <li>
                {% edit_button url=bbs.urls.edit_text_ads classname="edit_chunk" lightbox=True nofollow=True title="Edit text ads" %}
            </li>
        </ul>
    {% endif %}
    <ul class="text_ads">
        {% for file in text_ads %}
            <li><a href="{% url 'bbs_text_ad' bbs.id file.id %}" title="{{ file.filename }} - ({{ file.filesize }} bytes)">{{ file.filename }}</a></li>
        {% endfor %}
    </ul>
</div>
