.card {
  padding-block: 10px;

  &__content {
    padding-inline-end: 0;
    font-weight: 400;
  }

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__byline {
    margin: 0;
  }

  &__meta {
    margin: 0;
    color: #888;
  }

  &.-newAddition,
  &.-newRelease {
    align-items: flex-start;
    color: #444;
    display: flex;
    font-size: 12px;
    gap: 8px;
    text-decoration: none;

    .thumbnail {
      aspect-ratio: 16/9;
      background: #eee;
      border-radius: 4px;
      box-shadow: inset 0 0 24px #ccc;
      flex-shrink: 0;
      overflow: hidden;
      width: 128px;

      img {
        @include size(100%);

        display: block;
        object-fit: cover;
      }
    }

    .card__meta {
      text-transform: uppercase;
    }
  }

  &:hover {
    background-color: rgba(black, 0.075);
    transition: background-color 0.25s linear;
  }
}
