.competition {
    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: darken(demozoo-color('body-text'), 25%);
        font-size: 1.5em;
        font-weight: 700;
        line-height: 2;
        margin: 0;
        order: -1;
        padding: 0;
    }
}