.notes_panel {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;

    color: #444;
    margin-block: 8px 20px;

    .notes {
        width: 80%;

        @include markdown();
    }

    .o-actions {
        float: right;
        margin-block: 10px;
        margin-inline-start: 10px;
    }
}
