.page {

  &__header {

    &::after {
      clear: both;
      content: "";
      display: table;
      margin: 1.5em;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 300;
    margin: .3rem 0;
  }
}