.releasers {
    font-size: 14px;
    line-height: 1.5;

    .group {
        display: flex;
        align-items: center;
    }

    .media--thumbnail {
        @include size(36px);
        margin-right: 1ex;
    }

    .annotation {
        color: #888;
    }
}