.search-results {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 3em;
}

.search-results__title {
  font-size: 2em;
  line-height: 1;
  margin: 1ex 0 1em;
}

.search-results__heading {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: .75em;
}

.search-results__list {
  @include listReset();
}

.search-results__footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 1.5em;
  padding: 1.5em 0;
  text-align: right;
}

