.stats {
    background-color: #f8f8f8;
    border: #f0f0f0 1px solid;
    color: #aaa;

    @media (min-width: 540px) {
        .list {
            display: flex;
        }

        li {
            flex: 1;
            text-align: center;
            padding: 4em 1.5em;
        }

        .stats__count {
            font-size: 2.5vw;
            display: block;
            font-weight: 400;
        }

        .stats__label {
            font-size: 1.5vw;
            line-height: 1;
            font-weight: 700;
        }
    }

    @media (min-width: 1400px) {
        .stats__count {
            font-size: 42px;
        }

        .stats__label {
            font-size: 21px;
        }
    }
}

.stats__count {
   color: #666;
}

