.submenu {
    @include listReset();

    margin-block: 8px 16px;
    display: flex;
    flex-wrap: wrap;

    p {
        float: left;
        line-height: 25px;
        margin: 0;
        padding: 0 10px 0 0;
    }

    li {
        line-height: 25px;
        padding: 0 10px;

        &:hover {
            border-top: 4px solid #ec5a64;
            margin-top: -4px;
        }

        a, button, strong {
            color: #5e5f5f;
            text-decoration: none;
            border: 0;
            background-color: inherit;
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            cursor: pointer;
        }

        strong {
            font-weight: normal;
        }

        &.active {
            background-color: #ec5a64;

            a, button, strong {
                color: white;
            }
        }
    }
}
