.text-file {
    white-space: pre-wrap;
}
.font-msdos {
    font-family:ibm_vga_8x16, dejavu_sans_monobook, monospace;
    font-size:16px;
    line-height:16px
}
.font-amiga {
    font-family:topazplusa1200, ibm_vga_8x16, dejavu_sans_monobook, monospace;
    font-size:1rem;
    line-height:1rem;
}
.font-attribution {
    font-size: .8em;
}
