.tournament {

    &__heading {
        color: darken(demozoo-color('body-text'), 25%);
        font-size: 1.5em;
        font-weight: 700;
        line-height: 2;
        margin: 0;
        padding: 0;
    }

    .external_links {
        margin-bottom: 1em;
    }

    .result ul.external_links {
        display: inline;

        a {
            margin: 0;
            padding: 0 3px;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    ul.staff {
        display: inline;

        li {
            display: inline;

            &.scener {
                padding-left: 24px;
                background-position: 0;
                background-repeat: no-repeat;
                background-image: url('/static/images/icons/scener.png');
            }

            &.group {
                padding-left: 24px;
                background-position: 0;
                background-repeat: no-repeat;
                background-image: url('/static/images/icons/group.png');
            }
        }
    }
}
