.now_serving {

  ul {
    padding-block: 10px;
    justify-content: center;

    a {
      align-items: center;
      color: #444;
      display: flex;
      gap: 8px 4px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .a-icon {
    @include size(16px);
  }
}
