.upcoming_parties {

  table {
    border-top: 10px solid white;
    clear: both;
    line-height: 1.5;

    th {
      font-family: FabricaRegular, Helvetica, Arial, sans-serif;
      vertical-align: top;
      text-align: end;
      padding-inline-end: 1em;

    }

    td {
      vertical-align: top;

      ul {
        margin-block: 0 10px;
      }
    }
  }

  a {
    text-decoration: none;
    color: #444;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}