.upcoming_parties {

  table {
    th {
      font-family: FabricaRegular, Helvetica, Arial, sans-serif;
      vertical-align: top;
      text-align: end;
      padding-inline-end: 1em;

    }

    td {
      vertical-align: top;
    }
  }

  a {
    text-decoration: none;
    color: #444;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}