:root {
    font-size: 12px;

    @media (min-width: 768px) {
        font-size: 14px;
    }
}

html,
body {
    height: 100%;
}

html {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

nav {

    ul {
        @include listReset();
    }
}

a {
    color: #02a;

    &:visited {
        color: #42a;
    }
}

pre {
    font-family: dejavu_sans_monobook, monospace;
    line-height: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}



