:root {
    font-size: 12px;

    @media (min-width: 768px) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: #02a;

    &:visited {
        color: #42a;
    }
}

pre {
    font-family: dejavu_sans_monobook, monospace;
    line-height: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}



