{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ scener.name }}'s membership of {{ membership.group.name }} - Demozoo{% endblock %}

{% block base_main %}
    <h2>Editing {{ scener.name }}'s membership of {{ membership.group.name }}</h2>

    <form action="{% url 'scener_edit_membership' scener.id membership.id %}" method="post" data-edit-form class="entry_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="field">
            <input type="submit" value="Edit membership"/>
        </div>
    </form>

    <p>
        <a href="{% url 'scener_remove_group' scener.id membership.group.id %}" data-lightbox>Remove from group</a>
    </p>
{% endblock %}
