{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ scener.name }}'s membership of {{ membership.group.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ scener.name }}'s membership of {{ membership.group.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'scener_edit_membership' scener.id membership.id %}{% endblock %}
{% block submit_button_label %}Edit membership{% endblock %}

{% block after_form %}
    <p>
        <a href="{% url 'scener_remove_group' scener.id membership.group.id %}" data-lightbox>Remove from group</a>
    </p>
{% endblock %}
