{% extends "base.html" %}
{% load releaser_tags ui_tags laces %}

{% block html_title %}Sceners - Demozoo{% endblock %}

{% block base_main %}
    <h2>Sceners</h2>
    
    {% if site_is_writeable %}
        <ul class="actions">
            <li>{% icon_button url="new_scener" icon="add" lightbox=True label="New scener" %}</li>
        </ul>
    {% endif %}
    
    <ul class="releaser_list">
        {% for nick in nick_page.object_list %}
            <li class="scener">
                {% scener_with_affiliations nick %}
                {% nick_variants nick %}
                {% location_flag nick.releaser %}
            </li>
        {% endfor %}
    </ul>

    {% component pagination_controls %}
{% endblock %}
