{% extends "base.html" %}
{% load demoscene_tags compress ui_tags %}


{% block html_title %}Sceners - Demozoo{% endblock %}

{% block base_main %}
    <h2>Sceners</h2>
    
    {% if site_is_writeable %}
        <div class="o-actions">
            {% url 'new_scener' as new_scener_url %}
            {% button href=new_scener_url lightbox=True icon="add" label="New scener" %}
        </div>
    {% endif %}
    
    <ul class="releaser_list">
        {% for nick in nick_page.object_list %}
            <li class="scener">
                {% scener_with_affiliations nick %}
                {% nick_variants nick %}
                {% releaser_flag nick.releaser %}
            </li>
        {% endfor %}
    </ul>
    
    {% with nick_page as page %}
        {% include "shared/pagination_links.html" %}
    {% endwith %}
{% endblock %}
