{% extends "base.html" %}
{% load demoscene_tags compress ui_tags %}


{% block html_title %}Sceners - Demozoo{% endblock %}

{% block base_main %}
    <header class="page__header">
        {% if site_is_writeable %}
            <div class="o-actions">
                {% url 'new_scener' as new_scener_url %}
                {% button href=new_scener_url lightbox=True icon="add" label="New scener" %}
            </div>
        {% endif %}
        <h1 class="page__title">Sceners</h1>
    </header>

    <ul class="list list--results">
        {% for nick in nick_page.object_list %}
            <li class="list__item">
                <div class="result">
                    <div class="media media--thumbnail">
                        {% icon 'scener' %}
                    </div>
                    <div>
                        {% scener_with_affiliations nick %}
                        {% nick_variants nick %}
                        {% releaser_flag nick.releaser %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    {% with nick_page as page %}
        {% include "shared/pagination_links.html" %}
    {% endwith %}
{% endblock %}
