{% extends "base.html" %}
{% load demoscene_tags releaser_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ scener.name_with_affiliations }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {% if scener.hide_from_search_engines %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block body_class %}show_scener{% endblock %}

{% block base_main %}
    <div class="editable_chunk">
        <div class="signpost">Scener</div>

        {% if prompt_to_edit or show_lock_button or show_locked_button %}
            <ul class="actions">
                {% if show_lock_button %}
                    <li>{% icon_button icon="lock-open" classname="edit_chunk" lightbox=True url=scener.urls.lock title="Lock this scener" %}</li>
                {% endif %}
                {% if show_locked_button %}
                    <li>{% icon_button icon="lock" classname="edit_chunk" lightbox="True" url=scener.urls.protected title="Protected" %}</li>
                {% endif %}
                {% if prompt_to_edit %}
                    <li>
                        {% edit_button url=scener.urls.edit_primary_nick classname="edit_chunk" lightbox=True focus_empty=True title="Edit name" nofollow=True %}
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="focus_title scener_name">
            <h2>{{ scener.name }}</h2>
            {% with scener.primary_nick.nick_variant_and_abbreviation_list as nick_variants %}
                {% if nick_variants %}
                    <h3>- {{ nick_variants }}</h3>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% if alternative_nicks %}
        {% include "releasers/includes/alternative_nicks_panel.html" with releaser=scener is_editing=editing_nicks %}
    {% endif %}

    <div>
        {% if can_edit_real_names %}
            <p>
                Real name:
                {% if scener.has_real_name %}
                    {{ scener.real_name }}
                {% else %}
                    <em>not set</em>
                {% endif %}
                {% if site_is_writeable %}
                    <a href="{% url 'scener_edit_real_name' scener.id %}" data-lightbox rel="nofollow">
                        <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit real name" title="Edit real name" />
                    </a>
                {% endif %}
            </p>
        {% elif scener.has_real_name %}
            <p>
                Real name: {{ scener.real_name }}
            </p>
        {% endif %}

        <p>
            Location:
            {% if scener.location %}
                {{ scener.location }}
                {% if scener.country_code %}
                    <img src="/static/images/icons/flags/{{ scener.country_code|lower }}.png" alt="" />
                {% endif %}
            {% endif %}
            {% if can_edit %}
                <a href="{% url 'scener_edit_location' scener.id %}" data-lightbox rel="nofollow">
                    <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit location" title="Edit location" />
                </a>
            {% endif %}
        </p>

    </div>

    {% include "shared/external_links_panel.html" with obj=scener %}

    {% if scener.notes or request.user.is_staff %}
        {% include "shared/notes_panel.html" with obj=scener %}
    {% endif %}

    <div id="side_column">
        {% include "sceners/includes/groups_panel.html" with is_editing=editing_groups %}
    </div>
    
    <div id="main_column">
        {% if parties_organised %}
            {% include "releasers/includes/parties_organised_panel.html" %}
        {% endif %}

        {% if bbses_operated %}
            {% include "sceners/includes/bbses_operated_panel.html" %}
        {% endif %}

        {% combined_releases scener include_tournaments=True %}
    </div>

    {% last_edited_by scener %}

    {% if request.user.is_staff and site_is_writeable %}
        <ul class="maintenance_actions">
            {% if not scener.is_referenced %}
                <li>{% action_button url=scener.urls.delete icon="delete" lightbox=True label="Delete scener" %}</li>
            {% endif %}
            {% if scener.can_be_converted_to_group %}
                <li>{% action_button url=scener.urls.convert_to_group icon="switch" lightbox=True label="Convert to group" %}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
