{% extends 'base.html' %}

{% load awards_tags demoscene_tags ui_tags safe_markdown %}

{% block html_title %}{{ event.name }} - Your recommendations - Demozoo{% endblock %}

{% block body_class %}show_award{% endblock %}

{% block base_main %}

{% if can_view_reports or can_access_screening %}
    <h1>{{ event.name }} - Welcome, jury member!</h1>
    {% if can_access_screening %}
        <h2>Production screening</h2>
        <p>Screen this year's releases, and help our juries narrow down the candidates...</p>
        <p><strong>Note:</strong> this isn't the jury process itself - it's just a first pass to filter out the mediocre prods. Do not consider specific categories at this stage - if you think a prod might be interesting enough for <em>any</em> jury to consider further, give it a "yay".</p>
        <p>Worried that you might be rejecting a hidden treasure? Don't be. We aim for each prod to be screened by at least two people, and one "yay" is enough to put it through. If it doesn't pass that bar, <em>and</em> doesn't get suggested independently by a juror or the public recommendations, it probably wasn't an award candidate anyway :-)</p>
        <p>
            <strong>{{ event.screened_productions_count }}</strong> of <strong>{{ event.screenable_productions_count }}</strong> productions have at least one vote.
            You have screened <strong>{{ screened_by_me_count }}</strong>
            of these{% if screened_by_me_count > 0 %} (<a href="{% url 'awards_screening_review' event.slug %}">review my votes</a>){% endif %}.
        </p>
        <form action="{% url 'awards_screening' event.slug %}" class="screening-form" method="get">
            Show me:
            <ul>
                <li>
                    {{ screening_filter_form.platform_group }} productions
                </li>
                <li>
                    of <select id="id_all_types">
                        <option value="all" selected>all types</option>
                        <option value="selected">selected types</option>
                    </select>
                    {{ screening_filter_form.production_types }}
                </li>
                <li>
                    on <select id="id_all_platforms">
                        <option value="all" selected>all platforms</option>
                        <option value="selected">selected platforms</option>
                    </select>
                    {{ screening_filter_form.platforms }}
                </li>
                <li>
                    {{ screening_filter_form.has_youtube }} YouTube videos
                </li>
                <li>
                    that have {{ screening_filter_form.rating_count }}
                </li>
            </ul>
            <button type="submit">Start screening</button>
        </form>
        <script>
            const updateTypesVisibility = () => {
                const allTypesSelect = document.getElementById('id_all_types');
                const typesField = document.getElementById('id_production_types');
                if (allTypesSelect.value === 'all') {
                    typesField.style.display = 'none';
                    // unset all checkboxes inside typesField
                    const checkboxes = typesField.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => { checkbox.checked = false; });
                } else {
                    typesField.style.display = '';
                }
            };
            const updatePlatformsVisibility = () => {
                const allPlatformsSelect = document.getElementById('id_all_platforms');
                const platformsField = document.getElementById('id_platforms');
                if (allPlatformsSelect.value === 'all') {
                    platformsField.style.display = 'none';
                    // unset all checkboxes inside platformsField
                    const checkboxes = platformsField.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => { checkbox.checked = false; });
                } else {
                    platformsField.style.display = '';
                }
            };
            document.getElementById('id_all_types').addEventListener('change', updateTypesVisibility);
            document.getElementById('id_all_platforms').addEventListener('change', updatePlatformsVisibility);
            // initial visibility
            updateTypesVisibility();
            updatePlatformsVisibility();
        </script>
    {% endif %}
    {% if can_view_reports %}
        <h2>Public recommendations</h2>
        {% include "awards/_report_categories.html" with current_category=None %}
    {% endif %}
{% else %}
    <h1>{{ event.name }}</h1>

    {% if event.recommendations_enabled and event.intro %}
        {{ event.intro|safe_markdown }}
    {% endif %}
{% endif %}

{% if other_events|length > 1 %}
<div class="events_in_series">
    <strong>Other {{ event.series.name }} events:</strong>
    <ul>
        {% for evt in other_events %}
            <li>
                {% if evt == event %}
                    <strong>{{ evt.suffix }}</strong>
                {% else %}
                    <a href="{{ evt.get_absolute_url }}">{{ evt.suffix }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if nominations_by_category %}
    {% for category, category_data in nominations_by_category %}
        <h2 id="{{ category.slug_with_fallback }}">{{ category.name }}</h2>
        <table class="table" summary="">
            <colgroup>
                <col class="col--thumb" />
                <col width="40%" />
                <col />
                <col class="col--date" />
            </colgroup>
            {% for status, nominations in category_data %}
                <tbody>
                    <tr>
                        <th colspan="4" class="nominee_status nominee_status_{{ status }}">
                            {% if status == "winner" %}Winner{% else %}Nominees{% endif %}
                        </th>
                    </tr>
                    {% for production, screenshot in nominations %}
                        {% include "productions/tags/production_listing_row.html" with show_prod_types=True show_screenshots=True mark_excludable=False %}
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% endfor %}
{% endif %}

{% if not can_view_reports and not can_access_screening and not nominations_by_category and not event.recommendations_enabled %}
    <p>Recommendations are closed right now. Stay tuned for further announcements!</p>
{% endif %}

{% if showing_recommendations %}
    {% if recommendations_by_category %}
        <h2>Your recommendations</h2>
        {% for category, recommendations in recommendations_by_category %}
            <h3>{{ category.name }}</h3>
            {% recommended_production_listing recommendations show_screenshots=True show_prod_types=True %}
        {% endfor %}
    {% elif event.recommendations_enabled %}
        {% if can_view_reports %}
            {# don't prompt jury members for recommendations #}
        {% elif request.user.is_authenticated %}
            <h2>Your recommendations</h2>
            <p>You haven't made any recommendations yet. Search for your favourite productions of the year and get to it :-)</p>
        {% else %}
            <h2>Your recommendations</h2>
            {% url 'award' event.slug as recommendations_url %}
            <p><a href="{% url 'log_in' %}?next={{ recommendations_url|urlencode }}">Log in</a> to start making recommendations.</p>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}
