{% extends 'base.html' %}

{% load awards_tags production_tags %}

{% block html_title %}{{ event.name }} - {{ category.name }} recommendations - Demozoo{% endblock %}

{% block base_main %}

<h1>{{ event.name }} - {{ category.name }} recommendations</h1>

{% include "awards/_report_categories.html" with current_category=category %}

{% if productions %}
    {% if event.show_recommendation_counts %}
        {% recommendation_summary_listing productions show_screenshots=True show_prod_types=True %}
    {% else %}
        {% production_listing productions show_screenshots=True show_prod_types=True %}
    {% endif %}
{% else %}
    <p>No recommendations for this category yet</p>
{% endif %}

{% endblock %}
