{% extends 'base.html' %}

{% load demoscene_tags %}

{% block html_title %}{{ event.name }} - {{ category.name }} recommendations - Demozoo{% endblock %}

{% block base_main %}

<h1>{{ event.name }} - {{ category.name }} recommendations</h1>

{% include "awards/_report_categories.html" with current_category=category %}

{% if productions %}
    {% production_listing productions show_screenshots=True show_prod_types=True %}
{% else %}
    <p>No recommendations for this category yet</p>
{% endif %}

{% endblock %}
