{% extends 'base.html' %}

{% load production_tags ui_tags compress laces %}

{% block html_title %}{{ event.name }} - Screening - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/productions/js/components/media_lightbox.js"></script>
        <script src="/static/productions/js/components/carousel.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {{ carousel.media }}
{% endblock %}

{% block body_class %}award_screening{% endblock %}

{% block base_main %}
    {% include "productions/includes/media_lightbox_template.html" %}

    <h1>{{ event.name }} - Screening</h1>
    <hr>
    <div class="focus_title">
        <ul class="actions">
            <li>{% icon_button icon="arrow-up-right-from-square" url=production.get_absolute_url title="Open production page" %}</li>
        </ul>
        <h2>{{ production.title }}</h2>
        {% if production.byline_string %}
            <h3>
                by {% byline production %}
            </h3>
        {% endif %}
    </div>
    <div>
        {% for production_type in production.types.all %}
            <strong>{{ production_type.name }}</strong>
            {% if not forloop.last %} / {% endif %}
        {% endfor %}
        {% for platform in production.platforms.all %}
            {% if forloop.first %}for{% endif %}
            <strong>{{ platform.name }}</strong>
            {% if not forloop.last %} / {% endif %}
        {% endfor %}
    </div>

    <div class="mainstage">
        {{ carousel.render }}

        <div class="right">
            {% component downloads_panel %}

            <div class="panel">
                <h3 class="panel__title">Comments</h3>
                {% if comments %}
                    <ul class="comments">
                        {% for comment in comments %}
                            <li>
                                {{ comment.comment|urlize|linebreaks }}
                                <div class="cite">- posted by {{ comment.user.username }} at {{ comment.created_at|date:"H:i j F Y" }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="{{ comment_url }}" class="comments_form" method="post">
                    {% csrf_token %}
                    {% include "shared/form_fields.html" with form=comment_form %}
                    <button type="submit">Post comment</button>
                </form>
            </div>

            <script>
                $(function() {
                    const commentFormTrigger = $('<button class="comment_form_trigger">Add a comment</button>');
                    $('.comments_form').before(commentFormTrigger);
                    $('.comments_form').hide();
                    $('.comment_form_trigger').on('click', function() {
                        $('.comment_form_trigger').slideUp();
                        $('.comments_form').slideDown();
                    });
                })
            </script>

            <div class="decision">
                <form action="{{ screening_url }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="production_id" value="{{ production.id }}">

                    {% icon_button icon="check" label="Yay" attrs='name="accept" value="yes"' %}
                    {% icon_button icon="circle-xmark" label="Nay" attrs='name="accept" value="no"' %}
                    {% icon_button url=screening_url icon="arrow-right" label="Skip" %}
                </form>
            </div>

        </div>
    </div>

{% endblock %}
