.comments_panel {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: auto auto 16px;
	padding: 10px;
	width: 70%;

	.comments {

		h2 {
			margin-bottom: 0.5em;
		}

		.admin_controls {
			float: right;
		}

		.comment {
			border-bottom: 1px solid #ccc;
			margin-bottom: 0.5em;
		}
	}
}

.comment_form {
	margin-top: 16px;

	textarea {
		width: 100%;
	}
}
