ul.external_links {
	li {
		display: inline;
	}

	a {
		padding-left: 20px;
		background-position: left center;
		background-repeat: no-repeat;
		margin-left: 16px;
		padding-top: 3px;
		padding-bottom: 3px;

		&.pouet { background-image: url('/static/images/icons/external_sites/pouet.png'); }
		&.amp { background-image: url('/static/images/icons/external_sites/amp.png'); }
		&.csdb { background-image: url('/static/images/icons/external_sites/csdb.png'); }
		&.nectarine { background-image: url('/static/images/icons/external_sites/nectarine.png'); }
		&.bitjam { background-image: url('/static/images/icons/external_sites/bitfellas.png'); }
		&.artcity { background-image: url('/static/images/icons/external_sites/bitfellas.png'); }
		&.bitworld { background-image: url('/static/images/icons/external_sites/bitfellas.png'); }
		&.kestra_bitworld { background-image: url('/static/images/icons/external_sites/kestra_bitworld.png'); }
		&.mobygames { background-image: url('/static/images/icons/external_sites/mobygames.png'); }
		&.asciiarena { background-image: url('/static/images/icons/external_sites/asciiarena.png'); }
		&.sceneorg { background-image: url('/static/images/icons/external_sites/sceneorg.png'); }
		&.demoparty_net { background-image: url('/static/images/icons/external_sites/demopartynet.png'); }
		&.slengpung { background-image: url('/static/images/icons/external_sites/slengpung.png'); }
		&.breaks_amiga { background-image: url('/static/images/icons/external_sites/breaks_amiga.png'); }
		&.zxdemo { background-image: url('/static/images/icons/external_sites/zxdemo.png'); }
		&.twitter { background-image: url('/static/images/icons/external_sites/twitter.png'); }
		&.facebook { background-image: url('/static/images/icons/external_sites/facebook.png'); }
		&.googleplus { background-image: url('/static/images/icons/external_sites/googleplus.png'); }
		&.amigascne { background-image: url('/static/images/icons/external_sites/amigascne.png'); }
		&.untergrund { background-image: url('/static/images/icons/external_sites/untergrund.png'); }
		&.scenesat { background-image: url('/static/images/icons/external_sites/scenesat.png'); }
		&.youtube { background-image: url('/static/images/icons/external_sites/youtube.png'); }
		&.vimeo { background-image: url('/static/images/icons/external_sites/vimeo.png'); }
		&.demoscene_tv { background-image: url('/static/images/icons/external_sites/demoscene_tv.png'); }
		&.capped { background-image: url('/static/images/icons/external_sites/capped.png'); }
		&.pushnpop { background-image: url('/static/images/icons/external_sites/pushnpop.png'); }
		&.soundcloud { background-image: url('/static/images/icons/external_sites/soundcloud.png'); }
		&.lanyrd { background-image: url('/static/images/icons/external_sites/lanyrd.png'); }
		&.deviantart { background-image: url('/static/images/icons/external_sites/deviantart.png'); }
		&.modarchive { background-image: url('/static/images/icons/external_sites/modarchive.png'); }
		&.wikipedia { background-image: url('/static/images/icons/external_sites/wikipedia.png'); }
		&.speccywiki { background-image: url('/static/images/icons/external_sites/speccywiki.png'); }
		&.discogs { background-image: url('/static/images/icons/external_sites/discogs.png'); }
		&.hall_of_light { background-image: url('/static/images/icons/external_sites/halloflight.png'); }
		&.spotify { background-image: url('/static/images/icons/external_sites/spotify.png'); }
		&.github { background-image: url('/static/images/icons/external_sites/github.png'); }
		&.website { background-image: url('/static/images/icons/world.png'); }
	}
}
