.tabbed_panel {
	border: 1px solid #ccc;
	margin-top: 16px;
	padding: 16px;
	position: relative;
}

ul.tabs {
	position: absolute;
	top: -31px;

	li {
		float: left;
		line-height: 22px;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		margin-left: -1px;

		&.active_tab {
			background-color: white;
			padding: 4px 12px;
		}
	}

	a {
		display: block;
		background-color: #ddd;
		text-decoration: none;
		color: #444;
		border-bottom: 1px solid #ccc;
		line-height: 21px;
		padding: 4px 12px;

		&:hover {
			background-color: #eee;
		}
	}
}
