/* Tags */
.tags_panel {
	ul.tags {
		li {
			display: inline-block;
			margin-right: 8px;
			margin-top: 8px;
			font-size: 10pt;

			border: 1px solid #888;
			background-color: #ddd;

			&:hover {
				background-color: #ccc;
			}

			a.tag_name {
				text-decoration: none;
				color: #444;
				padding: 4px;
				float: left;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	form.tags_form {
		#id_tags {
			width: 400px;
		}
	}

	ul.tagit {
		clear: both;
		background: white;
		li.tagit-new .ui-widget-content {
			background: transparent;
		}
	}
}

/* hide edit controls whenever javascript adds the hide_edit_controls class */
.tags_panel.hide_edit_controls {
	form.tags_form {
		display: none;
	}
}

.tags_panel.editing {
	ul.tags {
		display: none;
	}
}
