SECRET_KEY = 'q=5-*%!&#5gbfk93oz!bnswnovisvu4eo^9a&!96i0@$_2mq^12($-g'

YAHOO_API_KEY = 'get one from http://developer.yahoo.com/wsregapp/'

AWS_STORAGE_BUCKET_NAME = 'media.demozoo.org'
AWS_ACCESS_KEY_ID = 'get one from http://aws.amazon.com/s3/'
AWS_SECRET_ACCESS_KEY = 'get one from http://aws.amazon.com/s3/'
