{% extends 'base.html' %}
{% load demoscene_tags compress ui_tags %}
{% load safe_markdown %}

{% block body_class %}homepage{% endblock %}

{% block base_main %}
    <section class="t-home">
        <div class="t-home__main">
            <div class="banner_wrapper">
                {% if perms.homepage.add_banner and site_is_writeable %}
                    <div class="o-actions">
                        {% url 'banners_index' as banners_index_url %}
                        {% button href=banners_index_url label="Edit" title="Edit banner" icon="edit" %}
                    </div>
                    <div style="clear: both;"></div>
                {% endif %}
                {% if banner %}
                    {% include 'homepage/_banner.html' with banner=banner banner_url=banner.url %}
                {% endif %}
            </div>
    
            {% if upcoming_parties %}
                <section class="block upcoming_parties ">
                    <header class="block__header">
                    <h3 class="block__heading">Upcoming parties</h3>
                    </header>
                    <div class="block__content">
                    {% regroup upcoming_parties by start_date.date.month as month_list %}
                        <table>
                            {% for month in month_list %}
                                <tr>
                                    <th>{{ month.list.0.start_date.date|date:"F" }}</th>
                                    <td>
                                        <ul class="list -inline">
                                            {% for party in month.list %}
                                                <li class="list__item">
                                                    {% if party.is_cancelled %}<del>{% endif %}
                                                    <a href="{% url 'party' party.id %}" title="{% if party.is_cancelled %}Cancelled - {% endif %}{% if party.is_online %}Online; {% elif party.location %}{{ party.location }}; {% endif %}{% date_range party.start_date party.end_date %}">
                                                        {% if party.is_online %}
                                                            <img src="/static/images/icons/computer.png" alt="[Online]" />
                                                        {% elif party.country_code %}
                                                            <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="[{{ party.country_code }}]" />
                                                        {% endif %}
                                                        {{ party.name }}
                                                    </a>
                                                    {% if party.is_cancelled %}</del>{% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>
            {% endif %}
    
            <section class="block news">
                <header class="block__header">
                    <h2 class="block__heading">Latest news</h2>
                    {% if perms.homepage.add_newsstory and site_is_writeable %}
                        <div class="o-actions">
                            {% url 'add_news' as add_news_url %}
                            {% button href=add_news_url label="Add news" icon="add" %}
                        </div>
                    {% endif %}
                </header>
                <div class="block__content">
                    <ul class="list -news">
                        {% for story in news_stories %}
                            <li class="list__item">
                                <div class="o-newsCard {% if not story.is_public %} -private{% endif %}">
                                    {% if perms.homepage.change_newsstory and site_is_writeable %}
                                        <div class="o-actions -newsCard">
                                            {% url 'edit_news' story.id as edit_news_url %}
                                            {% button href=edit_news_url label="Edit" icon="edit" %}
                                        </div>
                                    {% endif %}
                                    <h3 class="o-newsCard__heading">{{ story.title }}</h3>
                                    <div class="o-newsCard__content">
                                        <div class="o-newsCard__image">
                                            {% if story.image %}
                                                <img src="{{ story.image.image_url }}" width="100" alt="" />
                                            {% else %}
                                                <img src="/static/images/news.png" width="100" alt="" />
                                            {% endif %}
                                            <div class="date">{{ story.created_at|date:"d M Y" }}</div>
                                        </div>
                                        <div class="o-newsCard__description">
                                            {{ story.text|safe_markdown }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    
            <section class="block now_serving">
                <header class="block__header">
                    <h2 class="block__heading">Now serving</h2>
                </header>
                <div class="block__content">
                    {% site_stats as stats %}
                    <ul class="list -inline">
                        <li class="list__item"><a href="{% url 'productions' %}">{% icon 'production' %}{{ stats.production_count }} productions</a></li>
                        <li class="list__item"><a href="{% url 'graphics' %}">{% icon 'graphics' %}{{ stats.graphics_count }} graphics</a></li>
                        <li class="list__item"><a href="{% url 'musics' %}">{% icon 'music' %}{{ stats.music_count }} music tracks</a></li>
                        <li class="list__item"><a href="{% url 'groups' %}">{% icon 'group' %}{{ stats.group_count }} groups</a></li>
                        <li class="list__item"><a href="{% url 'sceners' %}">{% icon 'scener' %}{{ stats.scener_count }} sceners</a></li>
                        <li class="list__item"><a href="{% url 'parties' %}">{% icon 'party' %}{{ stats.party_count }} parties</a></li>
                        <li class="list__item"><a href="{% url 'bbses' %}">{% icon 'bbs' %}{{ stats.bbs_count }} BBSes</a></li>
                    </ul>
                </div>
            </section>
        </div>
    
        <div class="t-home__aside">
            {% if forum_topics %}
                <section class="block -forumTopics">
                    <header class="block__header">
                        <h2 class="block__heading">Discussions</h2>
                    </header>
                    <div class="block__content">
                        {% include "forums/_topics.html" with topics=forum_topics %}
                    </div>
                    <footer class="block__footer">
                        <a href="{% url 'forums' %}">All discussions</a>
                    </footer>
                </section>
            {% endif %}
    
            <section class="block">
                <header class="block__header">
                    <h2 class="block__heading">New releases</h2>
                </header>
                <div class="block__content">
                    <ul class="list -zebra -newReleases">
                        {% for prod, screenshot in latest_releases_and_screenshots %}
                            <li class="list__item">
                                <a href="{{ prod.get_absolute_url }}" class="card -newRelease">
                                    {% thumbnail screenshot %}
                                    <div class="card__content">
                                        <h3 class="card__title">{{ prod.title }}</h3>
                                        {% if prod.byline_string %}
                                            <p class="card__byline">by {{ prod.byline }}</p>
                                        {% endif %}
                                        <p class="card__meta">
                                            {{ prod.platforms.all|join:" / " }}
                                            {% if prod.platforms.count and prod.types.count %} - {% endif %}
                                            {{ prod.types.all|join:" / " }}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="block__footer">
                    <a href="{% url 'productions' %}">More releases</a>
                </footer>
            </section>
    
            <section class="block -newAdditions">
                <header class="block__header">
                    <h2 class="block__heading">New in the archive</h2>
                </header>
                <div class="block__content">
                    <ul class="list -zebra">
                        {% for prod in latest_additions %}
                            <li class="list__item">
                                <a href="{{ prod.get_absolute_url }}" class="card -newAddition">
                                    <div class="thumbnail"></div>
                                    <div class="card__content">
                                        <h3 class="card__title">{{ prod.title }}</h3>
                                        {% if prod.byline_string %}
                                            <p class="card__byline">by {{ prod.byline }}</p>
                                        {% endif %}
                                        <p class="card__meta">
                                            {% if prod.release_date %}
                                                {{ prod.release_date.date.year }}
                                                {% if prod.platforms.count or prod.types.count %} - {% endif %}
                                            {% endif %}
                                            {{ prod.platforms.all|join:" / " }}
                                            {% if prod.platforms.count and prod.types.count %} - {% endif %}
                                            {{ prod.types.all|join:" / " }}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="block__footer">
                    <a href="{% url 'latest_activity' %}">Latest activity</a>
                    | <a href="{% url 'recent_edits' %}">Recent edits</a>
                </footer>
            </section>
    
            <section class="block -comments">
                <header class="block__header">
                    <h2 class="block__heading">Comments</h2>
                </header>
                <div class="block__content">
                    <ul class="list -zebra -comments">
                        {% for comment in comments %}
                            <li class="list__item">
                                <div class="m-comment">
                                    <q>{{ comment.body|truncatechars:140 }}</q>
                                    - <strong>{{ comment.user.username }}</strong> on <a href="{{ comment.commentable.get_absolute_url }}">{{ comment.commentable.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
