{% extends base_template_with_ajax_option %}
{% load url from future %}

{% block html_title %}New group for {{ scener.name }} - Demozoo{% endblock %}

{% block extra_head %}
	{% include "shared/editor_css.html" %}
{% endblock %}

{% block base_main %}
	<h2>New group for {{ scener.name }}:</h2>

	<form action="{% url 'scener_add_group' scener.id %}" method="post" class="entry_form">
		{% csrf_token %}
		
		{% for field in form.visible_fields %}
			{% include "shared/form_field.html" %}
		{% endfor %}
		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}
		
		<div class="field">
			<input type="submit" />
		</div>
	</form>
{% endblock %}
