{% extends "base.html" %}
{% load demoscene_tags compress %}
{% load url from future %}

{% block html_title %}{{ scener.name_with_affiliations }} edit history - Demozoo{% endblock %}
{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" href="/static/css/components/tabs.less" type="text/less" />
		<link rel="stylesheet" href="/static/css/components/history.less" type="text/less" />
	{% endcompress %}
{% endblock %}

{% block base_main %}
	<div class="tabbed_panel">
		<ul class="tabs">
			<li><a href="{% url 'scener' scener.id %}">Scener</a></li>
			<li class="active_tab">History</li>
		</ul>

		<h2>Edit history for {% scener_with_affiliations scener %}</h2>
		{% include "shared/history_table.html" %}

	</div>
{% endblock %}
