{% extends "base.html" %}
{% load demoscene_tags %}
{% load safe_markdown %}
{% load url from future %}

{% block html_title %}{{ scener.name_with_affiliations }} - Demozoo{% endblock %}

{% block base_main %}
	<div class="panel">
		<ul class="tabs">
			<li class="active_tab">Scener</li>
			<li><a href="{% url 'scener_history' scener.id %}">History</a></li>
		</ul>
	
		<ul class="actions">
			{% if editing %}
				<li><a href="{% url 'edit_scener_done' scener.id %}" class="done">Done</a></li>
			{% else %}
				<li><a href="{% url 'edit_scener' scener.id %}" class="edit">Edit</a></li>
			{% endif %}
		</ul>
		<h2>
			{{ scener.name }} {% nick_variants scener.primary_nick %}
			{% if editing %}
				<a href="{% url 'releaser_edit_primary_nick' scener.id %}" class="open_in_lightbox">
					<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit name" title="Edit name" />
				</a>
			{% endif %}
		</h2>
		
		{% with scener.alternative_nicks as alternative_nicks %}
			{% if alternative_nicks or editing %}
				<h3>Also known as:</h3>
				<ul>
					{% for nick in alternative_nicks %}
						<li>
							{{ nick.name }} {% nick_variants nick %}
							{% if editing %}
								<a href="{% url 'releaser_edit_nick' scener.id nick.id %}" class="open_in_lightbox">
									<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit name" title="Edit name" />
								</a>
							{% endif %}
						</li>
					{% endfor %}
					{% if editing %}
						<li class="add">
							<a href="{% url 'releaser_add_nick' scener.id %}" class="open_in_lightbox">Add another name</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endwith %}
		
		{% if user_has_real_name_access %}
			<p>
				Real name:
				{% if scener.real_name %}
					{% if scener.show_first_name %}{{ scener.first_name }}{% else %}<span class="redacted" title="first name hidden from ordinary users">{{ scener.first_name }}</span>{% endif %}
					{% if scener.show_surname %}{{ scener.surname }}{% else %}<span class="redacted" title="surname hidden from ordinary users">{{ scener.surname }}</span>{% endif %}
				{% else %}
					<em>not set</em>
				{% endif %}
				{% if editing %}
					<a href="{% url 'scener_edit_real_name' scener.id %}" class="open_in_lightbox">
						<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit real name" title="Edit real name" />
					</a>
				{% endif %}
			</p>
		{% elif scener.real_name_available_to_show %}
			<p>
				Real name: {{ scener.public_real_name }}
			</p>
		{% endif %}
		
		{% if scener.location or editing %}
			<p>
				Location:
				{% if scener.location %}
					{{ scener.location }}
					{% if scener.country_code %}
						<img src="/static/images/icons/flags/{{ scener.country_code|lower }}.png" alt="" />
					{% endif %}
				{% endif %}
				{% if editing %}
					<a href="{% url 'scener_edit_location' scener.id %}" class="open_in_lightbox">
						<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit location" title="Edit location" />
					</a>
				{% endif %}
			</p>
		{% endif %}
		
		{% if external_links or editing %}
			<div class="external_links">
				<h3>External links:</h3>
				<ul>
					{% for link in external_links %}
						<li>{{ link.html_link|safe }}</li>
					{% endfor %}
					{% if editing %}<li><a href="{% url 'releaser_edit_external_links' scener.id %}" class="edit open_in_lightbox focus_empty_input">Edit</a></li>{% endif %}
				</ul>
			</div>
		{% endif %}
	</div>
	
	{% if scener.notes or editing_as_admin %}
		<div class="notes">
			{% if editing_as_admin %}
				<ul class="actions">
					<li><a class="edit open_in_lightbox" href="{% url 'releaser_edit_notes' scener.id %}">Edit notes</a></li>
				</ul>
			{% endif %}
			{{ scener.notes|safe_markdown }}
			<div style="clear: both;"></div>
		</div>
	{% endif %}
	
	<div id="side_column">
		{% if memberships or editing %}
			<div class="panel">
				<h3>Member of:</h3>
				<ul>
					{% for membership in memberships %}
						<li class="group {% if not membership.is_current %}previous_membership{% endif %}">
							<a href="{% url 'group' membership.group.id %}" {% if not membership.is_current %}title="previous membership"{% endif %}>{{ membership.group.name }}</a>
							{% if editing %}
								<a href="{% url 'scener_edit_membership' scener.id membership.id %}" class="open_in_lightbox">
									<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit membership" title="Edit membership" />
								</a>
							{% endif %}
						</li>
					{% endfor %}
					{% if editing %}
						<li class="add">
							<a href="{% url 'scener_add_group' scener.id %}" class="open_in_lightbox">Add group</a>
						</li>
					{% endif %}
				</ul>
			</div>
		{% endif %}
	</div>
	
	<div id="main_column">
		{% if productions or editing %}
			<div class="panel">
				<h3 class="productions_header">Productions:</h3>
				{% include "shared/production_listing.html" with show_screenshots=1 %}
				
				{% if editing %}
					<ul>
						<li class="add">
							<a href="{% url 'new_production' %}?releaser_id={{ scener.id }}" class="open_in_lightbox">Add production</a>
						</li>
					</ul>
				{% endif %}
			</div>
		{% endif %}
		
		{% if credits or editing %}
			<div class="panel">
				<h3 class="credits_header">Credited on:</h3>
				{% with scener as releaser %}
					{% include "shared/credited_production_listing.html" with show_screenshots=1 %}
				{% endwith %}
				{% if editing %}
					<ul>
						<li class="add">
							<a href="{% url 'releaser_add_credit' scener.id %}" class="open_in_lightbox">Add credit</a>
						</li>
					</ul>
				{% endif %}
			</div>
		{% endif %}
	</div>
	
	{% if editing_as_admin %}
		<ul class="maintenance_actions">
			{% if not scener.is_referenced %}
				<li><a href="{% url 'delete_releaser' scener.id %}" class="delete open_in_lightbox">Delete scener</a></li>
			{% endif %}
			{% if scener.can_be_converted_to_group %}
				<li><a href="{% url 'scener_convert_to_group' scener.id %}" class="switch open_in_lightbox">Convert to group</a></li>
			{% endif %}
		</ul>
	{% endif %}
{% endblock %}
