{% extends "base.html" %}
{% load demoscene_tags %}
{% load safe_markdown %}

{% block base_main %}
	<h2>{{ scener.name }} {% nick_variants scener.primary_nick %}</h2>
	
	{% if scener.location %}<p>Location: {{ scener.location }}</p>{% endif %}
	
	{% with scener.alternative_nicks as alternative_nicks %}
		{% if alternative_nicks %}
			<h3>Also known as:</h3>
			<ul>
				{% for nick in alternative_nicks %}
					<li>{{ nick.name }} {% nick_variants nick %}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
	<a href="{% url edit_scener scener.id %}">edit</a>
	
	{% if scener.notes %}
		<div class="notes">
			{{ scener.notes|safe_markdown }}
		</div>
	{% endif %}
	
	<h3>Member of:</h3>
	<ul>
		{% for group in scener.groups.all %}
			<li class="group">
				<a href="{% url group group.id %}">{{ group.name }}</a>
				{% if user.is_authenticated %}
					<a href="{% url scener_remove_group scener.id group.id %}">
						<img src="/static/images/icons/delete.png" width="16" height="16" alt="Remove group" title="Remove group" />
					</a>
				{% endif %}
			</li>
		{% endfor %}
		{% if user.is_authenticated %}
			<li class="add">
				<a href="{% url scener_add_group scener.id %}">Add group</a>
			</li>
		{% endif %}
	</ul>
	
	<h3>Productions:</h3>
	<ul>
		{% for prod in scener.productions %}
			<li><a href="{{ prod.get_absolute_url }}">{{ prod.title }}</a></li>
		{% endfor %}
	</ul>
	
	<h3>Credited on:</h3>
	<ul>
		{% for credit in scener.credits %}
			<li>
				<a href="{{ credit.production.get_absolute_url }}">{{ credit.production.title }}</a>
				{% if credit.role %}
					- {{ credit.role }}
				{% endif %}
				{% if credit.nick.name != scener.name %}
					<i>(as {{ credit.nick.name }})</i>
				{% endif %}
				{% if user.is_authenticated %}
					<a href="{% url releaser_edit_credit scener.id credit.id %}">
						<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit credit" title="Edit credit" />
					</a>
				{% endif %}
			</li>
		{% endfor %}
		{% if user.is_authenticated %}
			<li class="add">
				<a href="{% url releaser_add_credit scener.id %}">Add credit</a>
			</li>
		{% endif %}
	</ul>
	
	{% if scener.has_any_external_links %}
		<h3>External links</h3>
		<ul>
			{% if scener.pouet_user_url %}<li><a href="{{ scener.pouet_user_url }}">{{ scener.name }} on Pouët</a></li>{% endif %}
			{# Leave Slengpung URLs out for now - they're a can of worms. {% if scener.slengpung_user_url %}<li><a href="{{ scener.slengpung_user_url }}">{{ scener.name }} on Slengpung</a></li>{% endif %} #}
			{% if scener.amp_author_url %}<li><a href="{{ scener.amp_author_url }}">{{ scener.name }} on Amiga Music Preservation</a></li>{% endif %}
			{% if scener.csdb_author_url %}<li><a href="{{ scener.csdb_author_url }}">{{ scener.name }} on CSDb</a></li>{% endif %}
			{% if scener.nectarine_author_url %}<li><a href="{{ scener.nectarine_author_url }}">{{ scener.name }} on Nectarine Demoscene Radio</a></li>{% endif %}
			{% if scener.bitjam_author_url %}<li><a href="{{ scener.bitjam_author_url }}">{{ scener.name }} on BitJam</a></li>{% endif %}
			{% if scener.artcity_author_url %}<li><a href="{{ scener.artcity_author_url }}">{{ scener.name }} on ArtCity</a></li>{% endif %}
			{% if scener.mobygames_author_url %}<li><a href="{{ scener.mobygames_author_url }}">{{ scener.name }} on MobyGames</a></li>{% endif %}
		</ul>
	{% endif %}
{% endblock %}
