{% extends base_template_with_ajax_option %}
{% load urlsub %}


{% block html_title %}New music - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
{% endblock %}

{% block base_main %}
    <div class="form_title">
        <h2>New music</h2>
        <p>(see also:
            <a href="{% url 'new_production' %}{% urlsub %}" data-lightbox>New production</a>
            | <a href="{% url 'new_graphics' %}{% urlsub %}" data-lightbox>New graphics</a>)</p>
    </div>

    <form action="{% url 'new_music' %}" method="post" data-edit-form class="entry_form">
        {% csrf_token %}

        {% include "shared/form_field.html" with field=form.title %}
        {% include "shared/form_field.html" with field=form.byline %}
        {% include "shared/form_field.html" with field=form.release_date %}
        {% include "shared/form_field.html" with field=form.type %}
        {% include "shared/form_field.html" with field=form.platform %}

        {% include "productions/includes/download_formset.html" %}
        <div class="field">
            <input type="submit" Value="Add new music"/>
        </div>
    </form>
{% endblock %}
