{% extends "base.html" %}
{% load compress demoscene_tags laces %}


{% block html_title %}Music - Demozoo{% endblock %}

{% block base_main %}
    {% if site_is_writeable %}
        <ul class="actions">
            <li><a href="{% url 'new_music' %}" class="action_button icon add open_in_lightbox">New music</a></li>
        </ul>
    {% endif %}

    <h2>Releases</h2>

    <ul class="submenu">
        <li><a href="{% url 'productions' %}">Productions</a></li>
        <li class="active"><a href="{% url 'musics' %}"><strong>Music</strong></a></li>
        <li><a href="{% url 'graphics' %}">Graphics</a></li>
    </ul>

    <form action="{% url 'musics' %}" method="GET" class="production_listing_filters">
        <ul class="fields">
            {{ form.as_ul }}
        </ul>
        <input type="submit" value="Find music">
    </form>

    {% include "shared/production_reorder_links.html" %}

    {% with production_page.object_list as productions %}
        {% if productions %}
            {% production_listing productions show_screenshots=1 show_prod_types=1 %}
        {% else %}
            <p style="text-align: center; font-style: italic;">No releases matching these criteria. Maybe you should make a demo about it...?</p>
        {% endif %}
    {% endwith %}
    
    {% component pagination_controls %}
{% endblock %}
