{% extends "base.html" %}
{% load demoscene_tags %}
{% load url from future %}

{% block html_title %}Parties - Demozoo{% endblock %}

{% block base_main %}
	<ul class="actions">
		<li><a href="{% url 'new_party' %}" class="add">New party</a></li>
	</ul>

	<h2>Parties</h2>
	
	<p>
		<a href="{% url 'parties' %}">By name</a> | <strong>By date</strong>
	</p>

	{% regroup parties by start_date.date.year as year_list %}
	{% for year in year_list %}
		<h3>{{ year.grouper }}</h3>
		<ul>
			{% for party in year.list %}
				<li>
					<a href="{{ party.get_absolute_url }}">{{ party.name }}</a>
					- {% date_range party.start_date party.end_date %}
					{% if party.location %}
						- 
						{{ party.location }}
						{% if party.country_code %}
							<img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
