{% load json_filter %}
<h2>New party</h2>

<form action="{% url new_party %}" method="post" class="entry_form">
	{% csrf_token %}
	{% for field in form.visible_fields %}
		{% include "shared/form_field.html" %}
	{% endfor %}
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
	<div class="field">
		<input type="submit" />
	</div>
</form>
<script>/* <![CDATA[ */
	var partySeriesNames = {{ party_series_names|json|safe }};
	var partySeriesNameMatches = {};
	for (var i = 0; i < partySeriesNames.length; i++) {
		var name = partySeriesNames[i];
		partySeriesNameMatches[name.toLowerCase()] = name;
	}
	
	var partySeriesEdited = false;
	$('#id_party_series_name').change(function() {
		partySeriesEdited = true;
	})
	$('#id_name').change(function() {
		if (!partySeriesEdited) {
			var name = $(this).val();
			var words = name.split(/\s+/);
			for (var i = words.length; i > 0; i--) {
				var candidate = words.slice(0, i).join(' ').toLowerCase();
				var match = partySeriesNameMatches[candidate];
				if (match) {
					$('#id_party_series_name').val(match);
					return;
				}
			}
			/* no matches, so use base name without numeric prefix */
			var baseName = name.replace(/\s+\d+$/, '');
			$('#id_party_series_name').val(baseName);
		}
	})
/* ]]> */</script>
