<script type="text/javascript">/* <![CDATA[ */
	$(function() {
		$('ul.results_table').resultsTable({
			platforms: {{ platforms_json|safe }},
			production_types: {{ production_types_json|safe }}
		});
	});
/* ]]> */</script>

<div class="field" style="margin-bottom: 20px;">
	<label for="competition_name">Competition name:</label>
	<input id="competition_name" type="text" value="Oldskool Demo" />
</div>

<ul class="results_table">
	<li class="results_header">
		<ul class="fields">
			<li class="placing_field"><div class="show">Placing</div></li>
			<li class="title_field"><div class="show">Title</div></li>
			<li class="by_field"><div class="show">By</div></li>
			<li class="platform_field"><div class="show">Platform</div></li>
			<li class="type_field"><div class="show">Type</div></li>
			<li class="score_field"><div class="show">Score</div></li>
		</ul>
		<div style="clear: both;"></div>
	</li>
	
	{% for placing in competition.results %}
		<li class="results_row {% if placing.production.is_stable_for_competitions %}stable{% endif %}">
			<ul class="fields">
				<li class="placing_field">
					<div class="show">{{ placing.ranking }}</div>
					<div class="edit"><input type="text" value="{{ placing.ranking }}" /></div>
				</li>
				<li class="title_field">
					<div class="show">
						<a href="{{ placing.production.get_absolute_url }}" tabindex="-1">{{ placing.production.title }}</a>
					</div>
					<div class="edit"><input type="text" value="{{ placing.production.title }}" /></div>
				</li>
				<li class="by_field">
					<div class="show">{{ placing.production.byline }}</div>
					<div class="edit"><input type="text" value="{{ placing.production.byline }}" /></div>
				</li>
				<li class="platform_field">
					<div class="show">
						{% with placing.production.platforms.count as platform_count %}
							{% if platform_count > 1 %}
								(multiple)
							{% else %}
								{% if platform_count %}{{ placing.production.platforms.all.0 }}{% endif %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="edit">
						<select>
							{% for platform in platforms %}
								<option value="{{ platform.id }}" {% if platform in placing.production.platforms.all %}selected="selected"{% endif %}>
									{{ platform.name }}
								</option>
							{% endfor %}
						</select>
					</div>
				</li>
				<li class="type_field">
					<div class="show">
						{% with placing.production.types.count as type_count %}
							{% if type_count > 1 %}
								(multiple)
							{% else %}
								{% if type_count %}{{ placing.production.types.all.0 }}{% endif %}
							{% endif %}
						{% endwith %}
					</div>
					<div class="edit">
						<select>
							{% for prodtype in production_types %}
								<option value="{{ prodtype.id }}" {% if prodtype in placing.production.types.all %}selected="selected"{% endif %}>
									{{ prodtype.name }}
								</option>
							{% endfor %}
						</select>
					</div>
				</li>
				<li class="score_field">
					<div class="show">{{ placing.score }}</div>
					<div class="edit"><input type="text" value="{{ placing.score }}" /></div>
				</li>
			</ul>
			<div style="clear: both;"></div>
		</li>
	{% endfor %}
</ul>
