{% extends "base.html" %}
{% load url from future %}

{% block extra_js %}
	<script src="/static/js/editable_grid.js"></script>
	<script src="/static/js/results_table.js"></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="/static/css/results_table.css"></script>
{% endblock %}

{% block body_class %}edit_competition{% endblock %}

{% block base_main %}
<script type="text/javascript">/* <![CDATA[ */
	$(function() {
		ResultsTable('#results_table', {
			platforms: {{ platforms_json|safe }},
			productionTypes: {{ production_types_json|safe }},
			competitionPlacings: {{ competition_placings_json|safe }},
			competition: {{ competition_json|safe }}
		})
	});
/* ]]> */</script>

<h2>{{ competition.party.name }} {{ competition.name }} competition</h2>

<form action="{% url 'party_edit_competition' party.id competition.id %}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
		{% include "shared/form_field.html" %}
	{% endfor %}
	<div class="field">
		<input type="submit" value="Update" />
	</div>
</form>
	
<ul id="results_table"></ul>

<ul class="actions">
	<li><a href="{% url 'party' competition.party.id %}" class="done">Done</a></li>
</ul>

{% endblock %}
