{% load spawning_formset %}

<h2>Editing external links for {{ party.name }}:</h2>

<form action="{% url party_edit_external_links party.id %}" method="post" class="entry_form">
	{% csrf_token %}
	<div class="field">
		<label for="id_external_links-0-url" class="field_label">Link URLs</label>
		{% spawningformset formset %}
			{% spawningform as form %}
				{{ form.url }}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
			{% endspawningform %}
		{% endspawningformset %}
	</div>
	<div class="field">
		<input type="submit" />
	</div>
</form>
