<div class="field" style="margin-bottom: 20px;">
	<label for="competition_name">Competition name:</label>
	<input id="competition_name" type="text" value="Oldskool Demo" />
</div>

<ul class="results_table">
	<li class="results_header">
		<ul class="fields">
			<li class="placing_field"><div class="show">Placing</div></li>
			<li class="title_field"><div class="show">Title</div></li>
			<li class="by_field"><div class="show">By</div></li>
			<li class="platform_field"><div class="show">Platform</div></li>
			<li class="type_field"><div class="show">Type</div></li>
			<li class="score_field"><div class="show">Score</div></li>
		</ul>
		<div style="clear: both;"></div>
	</li>
	
	<li class="results_row">
		<ul class="fields">
			<li class="placing_field">
				<div class="show">1</div>
				<div class="edit"><input type="text" value="1" /></div>
			</li>
			<li class="title_field">
				<div class="show">Pondlife</div>
				<div class="edit"><input type="text" value="Pondlife" /></div>
			</li>
			<li class="by_field">
				<div class="show"><strong>Hooy-Program</strong> + <strong>Raww Arse</strong></div>
				<div class="edit"><input type="text" value="Hooy-Program + Raww Arse" /></div>
			</li>
			<li class="platform_field">
				<div class="show">Spectrum</div>
				<div class="edit"><select><option selected="selected">Spectrum</option><option>Commodore 64</option></select></div>
			</li>
			<li class="type_field">
				<div class="show">Demo</div>
				<div class="edit"><select><option selected="selected">Demo</option><option>Intro</option></select></div>
			</li>
			<li class="score_field">
				<div class="show">100</div>
				<div class="edit"><input type="text" value="100" /></div>
			</li>
		</ul>
		<div style="clear: both;"></div>
	</li>
	<li class="results_row">
		<ul class="fields">
			<li class="placing_field">
				<div class="show">2</div>
				<div class="edit"><input type="text" value="2" /></div>
			</li>
			<li class="title_field">
				<div class="show">Quattro Formaggio</div>
				<div class="edit"><input type="text" value="Quattro Formaggio" /></div>
			</li>
			<li class="by_field">
				<div class="show"><strong>Gasman</strong> / <strong>Raww Arse</strong></div>
				<div class="edit"><input type="text" value="Gasman / Raww Arse" /></div>
			</li>
			<li class="platform_field">
				<div class="show">Spectrum</div>
				<div class="edit"><select><option selected="selected">Spectrum</option><option>Commodore 64</option></select></div>
			<li class="type_field">
				<div class="show">1K intro</div>
				<div class="edit"><select><option>Demo</option><option selected="selected">Intro</option></select></div>
			</li>
			<li class="score_field">
				<div class="show">90</div>
				<div class="edit"><input type="text" value="90" /></div>
			</li>
		</ul>
		<div style="clear: both;"></div>
	</li>
</ul>
<input type="button" value="Gratuitous extra button to test tab order" />
