{% extends "base.html" %}

{% block html_title %}Parties - Demozoo{% endblock %}

{% block base_main %}
	<h2>Parties</h2>
	
	<p>
		<strong>By name</strong> | <a href="{% url parties_by_date %}">By date</a>
	</p>
	
	<ul class="actions">
		<li><a href="{% url new_party %}">New party</a></li>
	</ul>
	
	{% regroup parties by party_series as party_series_list %}
	<ul class="party_series_index">
		{% for item in party_series_list %}
			<li>
				<a href="{{ item.grouper.get_absolute_url }}" class="party_series_link">{{ item.grouper.name }}</a>
				<ul class="parties">
					{% for party in item.list %}
						<li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
