{% extends "base.html" %}
{% load demoscene_tags %}
{% load safe_markdown %}

{% block base_main %}
	<div class="panel">
		<div class="party_details">
			<h2>
				{{ party.name }}{% if party.tagline %}: <span class="tagline">"{{ party.tagline }}"</span>{% endif %}
				<a href="{% url edit_party party.id %}" class="open_in_lightbox"><img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit party" title="Edit party" /></a>
			</h2>
			{% date_range party.start_date party.end_date %}
			
			{% if party.party_series.website %}
				<p><a href="{{ party.party_series.website }}">{{ party.party_series.website }}</a></p>
			{% endif %}
			
			<p>
				Location:
				{% if party.location %}
					{{ party.location }}
					{% if party.country_code %}
						<img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
					{% endif %}
				{% else %}
					<em>Not set</em>
				{% endif %}
			</p>
		
			{% with party.party_series.parties_by_date as parties_in_series %}
				{% if parties_in_series.count > 1 %}
					<div>
						Other {{ party.party_series.name }} parties:
						<ul class="parties_in_series">
							{% for party_in_series in parties_in_series %}
								{% if party_in_series == party %}
									<li class="current">{{ party_in_series.name }}</li>
								{% else %}
									<li>
										<a href="{{ party_in_series.get_absolute_url }}">{{ party_in_series.name }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	
	{% if party.notes or request.user.is_staff %}
		<div class="notes">
			{% if request.user.is_staff %}
				<ul class="actions">
					<li><a class="edit open_in_lightbox" href="{% url party_edit_notes party.id %}">Edit notes</a></li>
				</ul>
			{% endif %}
			{{ party.notes|safe_markdown }}
			<div style="clear: both;"></div>
		</div>
	{% endif %}
	
	{% for compo in competitions %}
		<div class="competition">
			<a id="competition_{{ compo.id }}"></a>
			<h3>
				{{ compo.name }}
				<a href="{% url party_edit_competition party.id compo.id %}">
					<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit competition" title="Edit competition" />
				</a>
			</h3>
			{% with compo.results as results %}
				{% if results %}
					<table>
						{% for result in results %}
							<tr>
								<td>{{ result.ranking }}</td>
								<td><a href="{{ result.production.get_absolute_url }}">{{ result.production.title }}</a></td>
								<td>{% byline result.production %}</td>
								<td>{{ result.score }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endwith %}
		</div>
	{% endfor %}
	
	<ul class="actions">
		<li>
			<a class="add open_in_lightbox" href="{% url party_add_competition party.id %}">Add competition</a>
		</li>
	</ul>
{% endblock %}
