{% extends "base.html" %}
{% load safe_markdown %}

{% block base_main %}
	<h2>
		{{ party_series.name }}
		<a href="{% url party_edit_series party_series.id %}" class="open_in_lightbox"><img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit party" title="Edit party" /></a>
	</h2>
	{% if party_series.website %}
		<p><a href="{{ party_series.website }}">{{ party_series.website }}</a></p>
	{% endif %}
	{% with party_series.parties_by_date as parties %}
		{% if parties %}
			<ul class="parties">
				{% for party in parties %}
					<li>
						<a href="{{ party.get_absolute_url }}">{{ party.name }}</a>
						{{ party.start_date }} - {{ party.end_date }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
	{% if party_series.notes or request.user.is_staff %}
		<div class="notes">
			{% if request.user.is_staff %}
				<ul class="actions">
					<li><a class="edit open_in_lightbox" href="{% url party_edit_series_notes party_series.id %}">Edit notes</a></li>
				</ul>
			{% endif %}
			{{ party_series.notes|safe_markdown }}
			<div style="clear: both;"></div>
		</div>
	{% endif %}
{% endblock %}
