{% extends "base.html" %}
{% load demoscene_tags %}

{% block base_main %}
	<h2>{{ party.name }}</h2>
	{{ party.start_date }} - {{ party.end_date }}
	<a href="{% url edit_party party.id %}">edit</a>
	
	{% with party.party_series.parties_by_date as parties_in_series %}
		{% if parties_in_series.count > 1 %}
			<div>
				Other {{ party.party_series.name }} parties:
				<ul class="parties_in_series">
					{% for party_in_series in parties_in_series %}
						{% if party_in_series == party %}
							<li class="current">{{ party_in_series.name }}</li>
						{% else %}
							<li>
								<a href="{{ party_in_series.get_absolute_url }}">{{ party_in_series.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}
	
	{% for compo in party.competitions.all %}
		<div class="competition">
			<h3>
				{{ compo.name }}
				<a href="{% url party_edit_competition party.id compo.id %}">
					<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit competition" title="Edit competition" />
				</a>
			</h3>
			{% with compo.results as results %}
				{% if results %}
					<table>
						{% for result in results %}
							<tr>
								<td>{{ result.ranking }}</td>
								<td><a href="{{ result.production.get_absolute_url }}">{{ result.production.title }}</a></td>
								<td>{% byline result.production %}</td>
								<td>{{ result.score }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endwith %}
		</div>
	{% endfor %}
	
	<ul class="actions">
		<li>
			<a class="add open_in_lightbox" href="{% url party_add_competition party.id %}">Add competition</a>
		</li>
	</ul>
{% endblock %}
