/* reset */
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* site-wide styles */

#site_header {
	border-bottom: 1px solid #444;
	margin-bottom: 24px;
}

#site_header h1 {
	width: 200px;
	float: left;
}

#site_header ul#main_menu li {
	float: left;
	padding-right: 20px;
}

.annotation {
	font-size: 0.66em;
	color: #666;
}

/* notification messages */
ul.messages li.success {
	background-color: #bfb;
	color: #040;
	border: 1px solid #040;
	padding: 4px;
	margin-bottom: 4px;
}


/* data entry forms */
form.entry_form .field {
	clear: both;
	padding-top: 12px;
}
form.entry_form .field label.field_label {
	width: 150px;
	float: left;
}
form.entry_form .field .field_input {
	width: 500px;
	float: left;
}
form.entry_form .field .field_input input[type=text] {
	width: 400px;
}

.spawning_formset li {
	clear: both;
	line-height: 24px;
}
.spawning_formset li .formset_item {
	float: left;
}
.spawning_formset li .formset_item .field {
	float: left;
	padding-top: 0;
}
.spawning_formset li .formset_item .field .field_input {
	width: 420px;
}

.spawning_formset li a.delete_button {
	float: left;
	text-indent: -5000px;
	width: 16px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/images/icons/delete.png);
}
.spawning_formset li a.add_button {
	width: 100px;
	background-color: #ccc;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	border: 1px solid #444;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 8px;
	margin-left: 16px;
	line-height: 32px;
	text-decoration: none;
	color: #444;
}
.spawning_formset li a.add_button:hover {
	background-color: #888;
}

/* listings */
li.scener {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/scener.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.group {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/group.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.add {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}

/* byline matches */
.matched_names {
	font-size: 0.9em;
}
.matched_names ul li.matched_name {
	position: relative;
}
.matched_names ul li.matched_name a.selected_result {
	line-height: 24px;
	display: block;
	padding-left: 24px;
	padding-right: 4px;
	cursor: pointer;
	border: 2px solid white;
	padding-left: 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	color: black;
	text-decoration: none;
}

.matched_names ul li.matched_name a.selected_result span {
	padding-right: 20px;
	padding-left: 4px;
}

.matched_names ul li a.icon_error {
	background-image: url(/static/images/icons/error.png);
	color: red;
}
.matched_names ul li a.icon_scener {
	background-image: url(/static/images/icons/scener.png);
}
.matched_names ul li a.icon_group {
	background-image: url(/static/images/icons/group.png);
}
.matched_names ul li a.icon_add_scener {
	background-image: url(/static/images/icons/add_scener.png);
}
.matched_names ul li a.icon_add_group {
	background-image: url(/static/images/icons/add_group.png);
}

.matched_names ul li.matched_name {
	float: left;
	margin-right: 4px;
}
.matched_names ul li.matched_name a:hover.selected_result {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #888;
	border-right: 2px solid #888;
}
.matched_names ul li.matched_name a:hover.selected_result span,
.matched_names ul li.matched_name a.active.selected_result span {
	background-image: url(/static/images/icons/arrow_down.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.matched_names ul li.matched_name a.active.selected_result {
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	background-color: #ddd;
}

.matched_names ul li.matched_name ul.suggestions {
	position: absolute;
	white-space: nowrap;
	top: 28px;
	border: 1px solid #888;
	background-color: white;
}

.matched_names ul li.matched_name ul.suggestions li a {
	display: block;
	color: black;
	text-decoration: none;
	padding-left: 28px;
	padding-right: 4px;
	line-height: 24px;
	background-position: 4px center;
	background-repeat: no-repeat;
}
.matched_names ul li.matched_name ul.suggestions li a:hover {
	background-color: #ddd;
}
