/* reset */
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* site-wide styles */

#site_header {
	border-bottom: 1px solid #444;
	margin-bottom: 24px;
}

#site_header h1 {
	width: 200px;
	float: left;
}

#site_header ul#main_menu li {
	float: left;
	padding-right: 20px;
}

#site_header form.search {
	float: right;
}

#side_column {
	float: left;
	width: 25%;
}

#main_column {
	float: left;
	width: 75%;
}

.annotation {
	font-size: 0.66em;
	color: #666;
}

.notes {
	border: 1px solid #eee;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	color: #444;
}

.notes a:link {
	text-decoration: none;
	border-bottom: 1px solid #000088;
}
.notes a:visited {
	text-decoration: none;
	border-bottom: 1px solid #880088;
}

.panel {
	border: 1px solid #ccc;
	margin-top: 16px;
	padding: 16px;
}
#main_column .panel {
	margin-left: 16px;
}

.membership_panel {
	width: 200px;
	float: left;
	margin-right: 16px;
}

body.loading {
	cursor: progress;
}

/* notification messages */
ul.messages li.success {
	background-color: #bfb;
	color: #040;
	border: 1px solid #040;
	padding: 4px;
	margin-bottom: 4px;
}


/* data entry forms */
form.entry_form .field {
	clear: both;
	padding-top: 12px;
}
form.entry_form .field label.field_label {
	width: 150px;
	float: left;
}
form.entry_form .field .field_input {
	width: 450px;
	float: left;
}
form.entry_form .field .unlabelled_field_input {
	padding-left: 150px;
}
form.entry_form .field .field_input input[type=text] {
	width: 400px;
}
form.entry_form .field .field_input input.date[type=text] {
	width: 150px;
}
form.entry_form .field .field_input input.numeric[type=text] {
	width: 100px;
}
form.entry_form .field .field_input textarea {
	width: 420px;
	height: 300px;
}
form.entry_form .field .field_input .help_text {
	font-size: 0.66em;
}

#ui-datepicker-div {
	z-index: 3010; /* jqmodal uses 3000 - need to be ahead of that */
}

/* external links form needs bigger labels */
form.external_links_form .field label.field_label {
	width: 200px;
}
form.external_links_form .field .field_input {
	width: 400px;
}
.spawning_formset li {
	clear: both;
	line-height: 24px;
}
.spawning_formset li .formset_item {
	float: left;
}
.spawning_formset li .formset_item .field {
	float: left;
	padding-top: 0;
}
.spawning_formset li .formset_item .field .field_input {
	width: 420px;
}

.spawning_formset li a.delete_button {
	float: left;
	text-indent: -5000px;
	width: 16px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/images/icons/delete.png);
}
.spawning_formset li a.add_button {
	width: 100px;
	background-color: #ccc;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	border: 1px solid #444;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 8px;
	margin-left: 16px;
	line-height: 32px;
	text-decoration: none;
	color: #444;
}
.spawning_formset li a.add_button:hover {
	background-color: #888;
}

/* listings */
li.scener {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/scener.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.group {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/group.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.production {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/disk.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.party {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/party.png);
	background-position: left center;
	background-repeat: no-repeat;
}

ul.download_links li.download_link {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/disk.png);
	background-position: left center;
	background-repeat: no-repeat;
}
ul.download_links li.sceneorg {
	background-image: url(/static/images/icons/external_sites/sceneorg.png);
}
ul.download_links li.amigascne {
	background-image: url(/static/images/icons/external_sites/amigascne.png);
}
ul.download_links li.untergrund {
	background-image: url(/static/images/icons/external_sites/untergrund.png);
}

li.add {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}

ul.actions {
	float: right;
}
ul.actions li {
	display: inline;
}
ul.actions li a {
	line-height: 32px;
	border: 1px solid #888;
	background-color: #eee;
	color: #008;
	padding: 4px;
	margin-left: 4px;
	text-decoration: none;
}
ul.actions li a:hover {
	background-color: #ccc;
}

ul.actions li a.add {
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}
ul.actions li a.edit {
	padding-left: 24px;
	background-image: url(/static/images/icons/edit.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}
ul.actions li a.done {
	padding-left: 24px;
	background-image: url(/static/images/icons/tick.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.maintenance_actions {
	clear: both;
	padding-top: 16px;
}
ul.maintenance_actions li a {
	line-height: 32px;
	border: 1px solid #888;
	background-color: #eee;
	color: #008;
	padding: 4px;
	margin-left: 4px;
	text-decoration: none;
}
ul.maintenance_actions li a:hover {
	background-color: #ccc;
}
ul.maintenance_actions li a.delete {
	padding-left: 24px;
	background-image: url(/static/images/icons/delete.png);
	background-position: 4px center;
	background-repeat: no-repeat;
}

ul.maintenance_actions li {
	display: inline;
}

/* nick fields */
form.entry_form .field .field_input .nick_field .nick_search input[type=text] {
	width: 300px;
}
form.entry_form .field .field_input .nick_field.ajaxified .nick_search input[type=text] {
	width: 400px;
}

/* byline matches */
.matched_names {
	font-size: 0.9em;
}
.matched_names ul li.matched_name {
	position: relative;
}
.matched_names ul li.matched_name a.selected_result {
	line-height: 24px;
	display: block;
	padding-left: 24px;
	padding-right: 4px;
	cursor: pointer;
	border: 2px solid white;
	padding-left: 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	color: black;
	text-decoration: none;
}

.matched_names ul li.matched_name a.selected_result span {
	padding-right: 20px;
	padding-left: 4px;
}

.matched_names ul li a.icon_error {
	background-image: url(/static/images/icons/error.png);
	color: red;
}
.matched_names ul li a.icon_scener {
	background-image: url(/static/images/icons/scener.png);
}
.matched_names ul li a.icon_group {
	background-image: url(/static/images/icons/group.png);
}
.matched_names ul li a.icon_add_scener {
	background-image: url(/static/images/icons/add_scener.png);
}
.matched_names ul li a.icon_add_group {
	background-image: url(/static/images/icons/add_group.png);
}

.matched_names ul li.matched_name {
	float: left;
	margin-right: 4px;
}
.matched_names ul li.matched_name a:hover.selected_result {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #888;
	border-right: 2px solid #888;
}
.matched_names ul li.matched_name a:hover.selected_result span,
.matched_names ul li.matched_name a.active.selected_result span {
	background-image: url(/static/images/icons/arrow_down.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.matched_names ul li.matched_name a.active.selected_result {
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	background-color: #ddd;
}

.matched_names ul li.matched_name ul.suggestions {
	position: absolute;
	z-index: 100;
	white-space: nowrap;
	top: 28px;
	border: 1px solid #888;
	background-color: white;
}

.matched_names ul li.matched_name ul.suggestions li a {
	display: block;
	color: black;
	text-decoration: none;
	padding-left: 28px;
	padding-right: 4px;
	line-height: 24px;
	background-position: 4px center;
	background-repeat: no-repeat;
}
.matched_names ul li.matched_name ul.suggestions li a:hover {
	background-color: #ddd;
}

/* production view */
body.show_production h2 {
	display: inline;
}
body.show_production h3 {
	padding-left: 4px;
	display: inline;
}
body.show_production .production_title {
	margin-bottom: 16px;
}
body.show_production .screenshots {
	clear: both;
	float: left;
	margin-right: 16px;
	width: 400px;
}
body.show_production .screenshots ul.actions {
	clear: both;
	float: none;
}
body.show_production .production_details {
	float: left;
	width: 400px;
}

body.show_production .screenshots ul li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

/* party series listing */
ul.party_series_index li a.party_series_link {
	font-weight: bold;
}
ul.party_series_index li ul.parties {
	display: inline;
}
ul.party_series_index li ul.parties li {
	display: inline;
}

ul.parties_in_series {
	display: inline;
}
ul.parties_in_series li {
	display: inline;
}
ul.parties_in_series li.current {
	font-weight: bold;
}


.productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/package.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.member_productions_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/membership.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.credits_header {
	padding-left: 24px;
	background-image: url('/static/images/icons/wrench.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.external_links {
	margin-top: 16px;
}
.external_links h3 {
	display: inline;
}
.external_links ul {
	display: inline;
}
.external_links li {
	display: inline;
}
.external_links a {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 16px;
}
.external_links a.pouet {
	background-image: url('/static/images/icons/external_sites/pouet.png');
}
.external_links a.amp {
	background-image: url('/static/images/icons/external_sites/amp.png');
}
.external_links a.csdb {
	background-image: url('/static/images/icons/external_sites/csdb.png');
}
.external_links a.nectarine {
	background-image: url('/static/images/icons/external_sites/nectarine.png');
}
.external_links a.bitjam {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}
.external_links a.artcity {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}
.external_links a.bitworld {
	background-image: url('/static/images/icons/external_sites/bitfellas.png');
}
.external_links a.mobygames {
	background-image: url('/static/images/icons/external_sites/mobygames.png');
}
.external_links a.asciiarena {
	background-image: url('/static/images/icons/external_sites/asciiarena.png');
}
.external_links a.edit {
	background-image: url('/static/images/icons/edit.png');
	font-weight: bold;
}

ul.nick_change_options {
	list-style-type: disc;
	margin-left: 3em;
}
ul.nick_change_options li {
	margin-bottom: 1em;
}

a.lightbox_close {
	float: right;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	background-image: url('/static/images/icons/cross.png');
}