/* reset */
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* site-wide styles */

#site_header {
	border-bottom: 1px solid #444;
	margin-bottom: 24px;
}

#site_header h1 {
	width: 200px;
	float: left;
}

#site_header ul#main_menu li {
	float: left;
	padding-right: 20px;
}

.annotation {
	font-size: 0.66em;
	color: #666;
}

/* notification messages */
ul.messages li.success {
	background-color: #bfb;
	color: #040;
	border: 1px solid #040;
	padding: 4px;
	margin-bottom: 4px;
}


/* data entry forms */
form.entry_form .field {
	clear: both;
	padding-top: 12px;
}
form.entry_form .field label.field_label {
	width: 150px;
	float: left;
}
form.entry_form .field .field_input {
	width: 500px;
	float: left;
}
form.entry_form .field .field_input input[type=text] {
	width: 400px;
}

.spawning_formset li {
	clear: both;
	line-height: 24px;
}
.spawning_formset li .formset_item {
	float: left;
}
.spawning_formset li .formset_item .field {
	float: left;
	padding-top: 0;
}
.spawning_formset li .formset_item .field .field_input {
	width: 420px;
}

.spawning_formset li a.delete_button {
	float: left;
	text-indent: -5000px;
	width: 16px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/images/icons/delete.png);
}
.spawning_formset li a.add_button {
	width: 100px;
	background-color: #ccc;
	background-image: url(/static/images/icons/add.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	border: 1px solid #444;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 8px;
	margin-left: 16px;
	line-height: 32px;
	text-decoration: none;
	color: #444;
}
.spawning_formset li a.add_button:hover {
	background-color: #888;
}

/* listings */
li.scener {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/scener.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.group {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/group.png);
	background-position: left center;
	background-repeat: no-repeat;
}
li.add {
	line-height: 24px;
	padding-left: 24px;
	background-image: url(/static/images/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
}