/* reset */
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}


/* site-wide styles */

header#site_header {
	border-bottom: 1px solid #444;
	margin-bottom: 24px;
}

header#site_header h1 {
	width: 200px;
	float: left;
}

header#site_header nav ul li {
	float: left;
}


/* data entry forms */
form.entry_form .field {
	clear: both;
}
form.entry_form .field label.field_label {
	width: 150px;
	float: left;
}
form.entry_form .field .field_input {
	width: 500px;
	float: left;
}