/* Results table editing forms */
ul.results_table {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul:focus.results_table {
	outline: none;
}
ul.results_table > li {
	margin-bottom: 4px;
	padding-left: 24px;
	position: relative;
}

ul.results_table > li > a.insert {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-image: url(/static/images/icons/arrow_right.png);
	text-indent: -5000px;
}

ul.results_table ul.fields {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.results_table ul.fields > li {
	float: left;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	min-height: 20px;
}

ul.results_table ul.fields > li > .show {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	min-height: 17px;
}
ul.results_table.focused ul.fields > li.cursor > .show {
	outline: 2px solid blue;
}
ul.results_table ul.fields > li > .edit {
	padding-left: 2px;
	padding-right: 8px;
}

ul.results_table li.results_row ul.fields > li {
	border-left: 1px solid #eee;
	background-color: #ddd;
	cursor: default;
}

ul.results_table li.results_header ul.fields > li {
	border-left: 1px solid #bbb;
	background-color: #bbc;
}

ul.results_table ul.fields > li.placing_field {
	width: 60px;
	text-align: right;
	margin-right: 4px;
}
ul.results_table ul.fields > li.placing_field input[type=text] {
	text-align: right;
}

ul.results_table ul.fields > li.title_field {
	width: 250px;
}
ul.results_table ul.fields > li.by_field {
	width: 250px;
	position: relative;
}
ul.results_table ul.fields > li.by_field .byline_field.ajaxified .byline_search input[type="text"] {
	width: 100%;
}

ul.results_table ul.fields > li.by_field .byline_match_container {
	position: absolute;
	top: 20px;
	z-index: 10;
	border: 1px solid #222;
	background-color: #eee;
	padding: 4px;
	width: 400px;
}

ul.results_table > li.stable > ul.fields > li.by_field {
	color: #666;
}
ul.results_table ul.fields > li.platform_field {
	width: 150px;
}
ul.results_table > li.stable > ul.fields > li.platform_field {
	color: #666;
}
ul.results_table ul.fields > li.type_field {
	width: 150px;
}
ul.results_table > li.stable > ul.fields > li.type_field {
	color: #666;
}
ul.results_table ul.fields > li.score_field {
	width: 60px;
	text-align: right;
	margin-left: 4px;
}
ul.results_table ul.fields > li.score_field input[type=text] {
	text-align: right;
}

ul.results_table ul.fields > li input[type=text] {
	width: 100%;
}
ul.results_table ul.fields > li select {
	width: 100%;
}
ul.results_table > li > a.delete {
	float: left;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	margin: 2px;
	margin-left: 4px;
	background-image: url(/static/images/icons/delete_cross.png);
}
ul.results_table > li > a:hover.delete {
	background-position: 0 100%;
}
.results_table_insert input {
	margin-left: 24px;
}
.results_table_insert {
	padding-bottom: 20px;
}
