{% load demoscene_tags production_tags %}

<tr {% if mark_excludable and site_is_writeable %}class="excludable" data-record-id="{{ production.id }}"{% endif %}>
    {% block cells %}
        {% if mark_excludable and site_is_writeable %}<td></td>{% endif %}
        <td>
            {% if show_screenshots and screenshot %}
                {% microthumb screenshot %}

            {% else %}
                <div class="media media--thumbnail">
                    {% icon production.supertype %}
                </div>

            {% endif %}
        </td>
        <td>
            <div>
                <a href="{{ production.get_absolute_url }}">{{ production.title }}</a>
            </div>
            {% if show_prod_types %}
                <div class="meta">
                    {{ production.platforms_and_types_list }}
                </div>
            {% endif %}
        </td>
        <td>
            {% byline production %}
        </td>
        <td class="col--date">
            <span>{{ production.release_date.short_format }}</span>
        </td>
    {% endblock %}
</tr>
