/* Font declarations */
@font-face {
    font-family: 'FabricaRegular';
    src: url('/static/font/fabrica/fabrica-webfont.eot');
    src: url('/static/font/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/fabrica/fabrica-webfont.woff') format('woff'),
    url('/static/font/fabrica/fabrica-webfont.ttf') format('truetype'),
    url('/static/font/fabrica/fabrica-webfont.svg#FabricaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sans_monobook';
    src: url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.eot');
    src: url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.woff') format('woff'),
    url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.ttf') format('truetype'),
    url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'topazplusa1200';
    src: url('/static/font/topaz/TopazPlus_a1200.ttf') format('ttf'),
    url('/static/font/topaz/TopazPlus_a1200.woff') format('woff'),
    url('/static/font/topaz/TopazPlus_a1200.woff2') format('woff2');
}
@font-face{
    font-family: 'ibm_vga_8x16';
    src: url('/static/font/vga/MxPlus_IBM_VGA_8x16.ttf') format('ttf'),
    url('/static/font/vga/WebPlus_IBM_VGA_8x16.woff') format('woff'),
    url('/static/font/vga/WebPlus_IBM_VGA_8x16.woff2') format('woff2');
}
