/* Font declarations */
@font-face {
	font-family: 'FabricaRegular';
	src: url('/static/font/fabrica/fabrica-webfont.eot');
	src: url('/static/font/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/font/fabrica/fabrica-webfont.woff') format('woff'),
	url('/static/font/fabrica/fabrica-webfont.ttf') format('truetype'),
	url('/static/font/fabrica/fabrica-webfont.svg#FabricaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dejavu_sans_monobook';
	src: url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.eot');
	src: url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.woff') format('woff'),
	url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.ttf') format('truetype'),
	url('/static/font/dejavusansmono_book/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
	font-weight: normal;
	font-style: normal;
}