@mixin markdown() {
    p,
    ol,
    ul {
        line-height: 1.5em;
        margin-bottom: 2em;
    }

    a:link {
        border-bottom: 1px solid #000088;
        text-decoration: none;
    }

    a:visited {
        border-bottom: 1px solid #880088;
        text-decoration: none;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }
}
