{% extends "base.html" %}
{% load url from future %}

{% block html_title %}Importing results for {{ competition.party.name }} {{ competition.name }} competition - Demozoo{% endblock %}

{% block base_main %}

<h2>Import results - {{ competition.party.name }} {{ competition.name }} competition</h2>

<p>
	Paste your compo results in here, one per line. Each result line should contain the following items, delimited by tabs: Placing, Title, Author(s), Score. Results will be appended to any existing ones for this compo.
</p>

<form action="{% url 'competition_import_text' competition.id %}" method="post">
	{% csrf_token %}
	<textarea name="results" style="width: 100%; height: 400px; font-family: monospace;"></textarea>
	<div class="field" style="float: right;">
		<input type="submit" value="Import" />
	</div>
</form>

{% endblock %}
