{% extends "base.html" %}
{% load demoscene_tags %}
{% load url from future %}

{% block html_title %}{{ competition }} - Demozoo{% endblock %}

{% block base_main %}
	<div class="panel">
		<ul class="tabs">
			<li class="active_tab">Competition</li>
			<li><a href="{% url 'competition_history' competition.id %}">History</a></li>
		</ul>
		<div class="competition_details">
			<h2>
				{{ competition }}
				<a href="{% url 'party_edit_competition' competition.party_id competition.id %}"><img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit competition" title="Edit competition" /></a>
			</h2>
			
			{% with competition.party.competitions.all as compos_at_party %}
				{% if compos_at_party.count > 1 %}
					<div>
						Other compos at <a href="{{ competition.party.get_absolute_url }}">{{ competition.party.name }}</a>:
						<ul class="compos_at_party">
							{% for compo in compos_at_party %}
								{% if compo == competition %}
									<li class="current">{{ compo.name }}</li>
								{% else %}
									<li>
										<a href="{{ compo.get_absolute_url }}">{{ compo.name }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	
	<table>
		{% for result, production, authors, affiliations in placings %}
			<tr>
				<td>{{ result.ranking }}</td>
				<td><a href="{{ production.get_absolute_url }}">{{ production.title }}</a></td>
				<td>{% if production.unparsed_byline %}{{ production.unparsed_byline }}{% else %}{% component_byline authors affiliations %}{% endif %}</td>
				<td>{{ result.score }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
