<div class="o-panel -awards">
    <header class="o-panel__header">
        <h2 class="o-panel__heading">Awards</h2>
    </header>
    <div class="o-panel__content">
        <ul class="awards">
            {% for nomination in award_nominations %}
            <li class="{{ nomination.status }}">
                <strong>{{ nomination.category.event.name }}</strong> -
                {% if nomination.status == 'winner' %}
                Winner of <a href="{{ nomination.category.get_results_url }}">{{ nomination.category.name }}</a>
                {% else %}
                Nominated for <a href="{{ nomination.category.get_results_url }}">{{ nomination.category.name }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
