{% load demoscene_tags ui_tags %}
{% load humanize %}


<div class="production_core_details editable_chunk">
    {% if show_edit_button or show_back_button or show_lock_button or show_locked_button %}
        <div class="o-actions">
            {% if show_lock_button %}
                {% url 'lock_production' production.id as lock_button_url %}
                {% button href=lock_button_url lightbox=True icon="lock-open" label="Unlocked" title="Lock this production" %}
            {% endif %}
            {% if show_locked_button %}
                {% url 'production_protected' production.id as locked_button_url %}
                {% button href=locked_button_url lightbox=True icon="lock" label="Protected" %}
            {% endif %}
            {% if show_edit_button %}
                {% button href=production.get_edit_core_details_url icon="edit" label="Edit" lightbox=True title="Edit production details" %}
            {% endif %}
            {% if show_back_button %}
                {% button href=production.get_absolute_url label="Back to production" icon="back" %}
            {% endif %}
        </div>
    {% endif %}

    <ul class="production_types">
        {% for production_type in production.types.all %}
            <li class="signpost"><a href="{{ production_type.listing_url }}">{{ production_type.name }}</a></li>
        {% endfor %}
    </ul>

    <div class="production_title focus_title">
        <h2>{{ production.title }}</h2>
        {% if production.byline_string %}
            <h3>
                by {% byline production %}
            </h3>
        {% endif %}
    </div>

    {% for party in invitation_parties %}
        <h4>Invitation for <a href="{{ party.get_absolute_url }}">{{ party.name }}</a></h4>
    {% endfor %}

    {% if bbses_advertised %}
        <h4>Advert for {% for bbs in bbses_advertised %}<a href="{{ bbs.get_absolute_url }}">{{ bbs.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
    {% endif %}

    <ul class="attributes">
        {% if production.release_date and release_parties|length == 1 %}
            <li>Released {{ production.release_date }} at <a href="{{ release_parties.0.get_absolute_url }}">{{ release_parties.0.name }}</a></li>
        {% else %}
            {% if production.release_date %}
                <li>Released {{ production.release_date }}</li>
            {% endif %}
            {% for party in release_parties %}
                <li>Released at <a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
            {% endfor %}
        {% endif %}

        {% for placing in competition_placings %}
            <li>
                {{ placing.ranking|ordinal }} in the
                <a href="{{ placing.competition.party.get_absolute_url }}#competition_{{ placing.competition.id }}">{{ placing.competition.party.name }} {{ placing.competition.name }} competition</a>
            </li>
        {% endfor %}

        {% with production.platforms.all as platforms %}
            {% if platforms %}
                <li>
                    {% for platform in platforms %}
                        <a href="{% url 'platform' platform.id %}">{{ platform.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endwith %}
    </ul>
</div>
