{% load ui_tags %}

<section class="o-panel -credits{% if not credits %} -hidden{% endif %}{% if can_edit %} edit_toggle{% if editing_credits %} editing{% endif %}{% endif %}" id="credits_panel">
    <header class="o-panel__header">
        <h3 class="o-panel__heading">Credits</h3>
    </header>
    <div class="o-panel__content">
        <ul class="list -credits">
            {% regroup credits by nick as nick_list %}
            {% for nick_credits in nick_list %}
                <li class="list__item">
                    {% include "shared/entity.html" with url=nick_credits.grouper.releaser.get_absolute_url type="scener" label=nick_credits.grouper list=nick_credits.list %}
                    {% if can_edit %}
                        {% url 'production_edit_credit' production.id nick_credits.grouper.id as production_edit_credit_url %}
                        {% button href=production_edit_credit_url icon="edit" level="tertiary" title="Edit crdit" lightbox=True %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if can_edit %}
        <footer class="o-panel__footer">
            {% url 'production_add_credit' production.id as production_add_credit_url %}
            {% button href=production_add_credit_url icon="add" label="Add credit" lightbox=True %}
        </footer>
    {% endif %}
</section>
