{% load ui_tags %}

<section class="o-panel -externalLinks">
    <header class="o-panel__header">
        <h3 class="o-panel__heading">External links</h3>
        {% if can_edit %}
            {% url 'production_edit_external_links' production.id as edit_external_links_url %}
            <div class="o-actions">
                {% button href=edit_external_links_url icon="edit" label="Edit" lightbox=True focus=True %}
            </div>
        {% endif %}
    </header>
    <div class="o-panel__content">
        <ul class="list -inline -externalLinks">
            {% for link in external_links %}
                <li class="list__item">{{ link.html_link|safe }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
