{% load ui_tags %}

<div class="editable_chunk panel external_links_panel">
    <h3 class="panel__title">External links</h3>
    {% if can_edit %}
        {% url 'production_edit_external_links' production.id as edit_external_links_url %}
        <div class="o-actions">
            {% button href=edit_external_links_url icon="edit" label="Edit" lightbox=True focus=True %}
        </div>
    {% endif %}
    <ul class="list -inline external_links">
        {% for link in external_links %}
            <li class="list__item">{{ link.html_link|safe }}</li>
        {% endfor %}
    </ul>
</div>
