{% load ui_tags %}

<section class="o-panel editable_chunk info_files_panel">
    <header class="o-panel__header">
        <h3 class="o-panel__heading">Info file{{ info_files|length|pluralize }}</h3>
        {% if can_edit %}
            <div class="o-actions">
                {% url 'production_edit_info_files' production.id as info_files_edit_url %}
                {% button href=info_files_edit_url lightbox=True icon="edit" label="Edit" title="Edit info files" %}
            </div>
        {% endif %}
    </header>
    <div class="o-panel__content">
        <ul class="list info_files">
            {% for file in info_files %}
                <li class="list__item">
                    <a href="{% url 'production_info_file' production.id file.id %}"
                       title="{{ file.filename }} - ({{ file.filesize }} bytes)">
                        {{ file.filename }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
