<div class="panel editable_chunk info_files_panel">
	<h3 class="panel__title">Info file{{ info_files|length|pluralize }}</h3>
	{% if site_is_writeable %}
		<ul class="actions">
			<li>
				<a href="{% url 'production_edit_info_files' production.id %}" class="action_button icon edit edit_chunk open_in_lightbox" title="Edit info files">Edit</a>
			</li>
		</ul>
	{% endif %}
	<ul class="info_files">
		{% for file in info_files %}
			<li><a href="{% url 'production_info_file' production.id file.id %}" title="{{ file.filename }} - ({{ file.filesize }} bytes)">{{ file.filename }}</a></li>
		{% endfor %}
	</ul>
</div>
