{% load safe_markdown ui_tags %}

{% if production.notes or request.user.is_staff %}
    <div class="editable_chunk panel notes_panel">
        {% if request.user.is_staff and site_is_writeable %}
            <div class="o-actions">
                {% url 'production_edit_notes' production.id as edit_notes_url %}
                {% button href=edit_notes_url icon="edit" label="Edit notes" lightbox=True %}
            </div>
        {% endif %}
        <div class="notes">
            {{ production.notes|safe_markdown }}
        </div>
    </div>
{% endif %}
