{% load url from future %}
{% load demoscene_tags %}

<div class="panel screenshots_panel">
	{% if screenshots %}
		{% with screenshots.0 as pic %}
			<a href="{{ pic.original_url }}" target="_blank" class="screenshot open_image_in_lightbox">
				{% if pic.original_url %}
					<img src="{{ pic.standard_url }}" width="{{ pic.standard_width }}" height="{{ pic.standard_height }}" alt="" />
				{% else %}
					<img src="/static/images/screenshot_loading.gif" width="32" height="32" alt="" />
				{% endif %}
			</a>
		{% endwith %}
	{% else %}
		<div class="no_screenshot">
			<p>
				No screenshot yet!
				<a href="{% url 'production_add_screenshot' production.id %}" class="open_in_lightbox">Add one</a>
			</p>
		</div>
	{% endif %}

	{% if screenshots.count > 1 or site_is_writeable and screenshots.count > 0 %}
		<ul class="actions">
			{% if screenshots.count > 1 %}
				<li class="all_screenshots">
					<a class="action_button" href="{% url 'production_screenshots' production.id %}">All screenshots</a>
				</li>
			{% endif %}
			{% if site_is_writeable %}
				<li>
					<a href="{% url 'production_add_screenshot' production.id %}" class="action_button icon add open_in_lightbox">Add screenshot</a>
				</li>
				{% if request.user.is_staff %}
					<li>
						<a href="{% url 'production_edit_screenshots' production.id %}" class="action_button icon edit">Manage screenshots</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	{% endif %}
	<div style="clear: both;"></div>
</div>

{% if screenshots.count > 1 %}
	<script>
		initScreenshotCarousel({{ screenshots_json|safe }});
	</script>
{% endif %}
