{% load ui_tags %}

{% if tags or can_edit %}
    <section class="editable_chunk panel tags_panel {% if can_edit %}edit_toggle{% endif %}">
        <header class="panel__header">
            <h3 class="panel__title">Tags</h3>
        </header>
        <div class="panel__content">
            <div id="tags_message"></div>
            {% include "productions/_tags_list.html" with tags=tags only %}
            {% if can_edit %}
                <form class="tags_form" action="{% url 'production_edit_tags' production.id %}" method="post">
                    {% csrf_token %}
                    {{ tags_form.tags }}
                    {% button label="Update" %}
                </form>
            {% endif %}
        </div>
    </section>
{% endif %}
