<section class="o-panel tell_us_something_panel">
    <p>Know something about this production that we don't?</p>

    <div class="tell_us_something">
        <div class="tell_us_something_title">Add other information</div>
        <ul class="list tell_us_something_options">
            <li><a href="{% url 'production_edit_download_links' production.id %}" data-lightbox data-lightbox-focus>Add a download link</a></li>
            <li><a href="{% url 'production_edit_external_links' production.id %}" data-lightbox data-lightbox-focus>Add an external site link</a></li>
            {% if production.supertype == 'music' %}
            <li><a href="{{ production.get_add_screenshot_url }}" data-lightbox>Add artwork</a></li>
            {% else %}
            <li><a href="{{ production.get_add_screenshot_url }}" data-lightbox>Add a screenshot</a></li>
            {% endif %}
            <li><a href="{% url 'production_add_credit' production.id %}" data-lightbox>Add a credit</a></li>
            <li><a href="{% url 'production_edit_info_files' production.id %}" data-lightbox>Add an info file</a></li>
            {% if production.can_have_soundtracks %}
            <li><a href="{% url 'production_edit_soundtracks' production.id %}" data-lightbox>Add a soundtrack listing</a></li>
            {% endif %}
            {% if request.user.is_staff and not blurbs %}
            <li><a href="{% url 'production_add_blurb' production.id %}" data-lightbox>Add a 'blurb'</a></li>
            {% endif %}
        </ul>
    </div>
</section>
