{% extends "generic/form.html" %}

{% block html_title %}Adding artwork for {{ production.title }} - Demozoo{% endblock %}

{% block title %}
    <h2>Adding artwork for {{ production.title }}:</h2>

    <div class="long_help">
        <h3>Guidelines</h3>
        <ul>
            <li>Upload artwork at the highest resolution available - we don't impose a maximum</li>
            <li>Upload as many images as appropriate - don't combine them into 'posters' or animations</li>
        </ul>
        <p style="text-align: right;">Thanks for brightening up our pages!</p>
    </div>
{% endblock %}

{% block action_url %}{% url 'production_add_artwork' production.id %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block form_body %}
    <div class="field">
        <input type="file" name="screenshot" multiple="multiple"/>
    </div>
{% endblock %}

{% block submit_button_label %}Add artwork{% endblock %}
