{% extends base_template_with_ajax_option %}
{% load url from future %}
{% load compress %}

{% block html_title %}Adding credit for {{ production.title }} - Demozoo{% endblock %}

{% block extra_head %}
	{% include "shared/editor_css.html" %}
	{% include "shared/editor_js.html" %}
	<script>
		$(function() {
			applyEditControls($('form.add_credit_form'));
		})
	</script>
{% endblock %}

{% block base_main %}
	<h2>Add credit for {{ production.title }}:</h2>

	<form action="{% url 'production_add_credit' production.id %}" method="post" class="entry_form add_credit_form">
		{% csrf_token %}

		{% include "productions/credit_form.html" %}

		<div class="field">
			<input type="submit" Value="Add credit"/>
		</div>
	</form>
{% endblock %}
