{% extends "generic/form.html" %}

{% block title %}
    {{ block.super }}

    <div class="long_help">
        <h3>Guidelines</h3>
        <ul>
            <li>Create screenshots at the highest resolution available - we don't impose a maximum</li>
            <li>Upload as many images as appropriate - don't combine them into 'posters' or animations</li>
            <li><strong>Don't upload screenshots from other sites</strong> (unless you made them yourself, and they follow the guidelines above)</li>
        </ul>
        <p style="text-align: right;">Thanks for brightening up our pages!</p>
    </div>
{% endblock %}

{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block form_body %}
    <div class="field">
        <input type="file" name="screenshot" multiple="multiple"/>
    </div>
{% endblock %}
