{% extends "generic/edit_form_with_ajax_option.html" %}
{% load spawning_formset %}

{% block html_title %}Editing soundtrack details for {{ production.title }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing soundtrack details for {{ production.title }}:</h2>
{% endblock %}

{% block action_url %}{% url 'production_edit_soundtracks' production.id %}{% endblock %}

{% block form_body %}
    {% spawningformset sortable formset %}
        {% spawningform as form %}
            {{ form.ORDER }}{{ form.soundtrack }}{{ form.id }}{{ form.production }}
        {% endspawningform %}
    {% endspawningformset %}
{% endblock %}

{% block submit_button_label %}Update soundtracks{% endblock %}
