{% extends "generic/edit_form_with_ajax_option.html" %}
{% load spawning_formset %}

{% block html_title %}Editing pack contents for {{ production.title }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing pack contents for {{ production.title }}:</h2>
{% endblock %}

{% block action_url %}{% url 'production_edit_pack_contents' production.id %}{% endblock %}

{% block form_body %}
    {% spawningformset sortable formset %}
        {% spawningform as form %}
            {{ form.ORDER }}{{ form.member }}{{ form.id }}{{ form.pack }}
        {% endspawningform %}
    {% endspawningformset %}
{% endblock %}

{% block submit_button_label %}Update pack contents{% endblock %}
