{% extends "generic/form.html" %}
{% load spawning_formset %}

{% block form_body %}
    {% include "shared/form_field.html" with field=form.title %}
    {% include "shared/form_field.html" with field=form.byline %}
    {% include "shared/form_field.html" with field=form.release_date %}

    {% if form.has_multiple_types %}
        {% include "shared/form_field.html" with field=form.types %}
    {% else %}
        {% include "shared/form_field.html" with field=form.type %}
    {% endif %}

    {% include "shared/form_field.html" with field=form.platforms %}

    {% if invitation_formset %}
        <div class="field">
            <label class="field_label">Invitation for party</label>
            <div class="field_input">
                {% spawningformset invitation_formset add_button_text="another party" %}
                    {% spawningform as form %}
                        {{ form.party.errors }}
                        {{ form.party }}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    {% endspawningform %}
                {% endspawningformset %}
            </div>
        </div>
    {% endif %}
{% endblock %}
