{% extends "base.html" %}

{% load demoscene_tags ui_tags %}

{% block html_title %}Editing {{ model_label }} for {{ production.title }} - Demozoo{% endblock %}

{% block base_main %}
    <div class="panel">
        <div class="o-actions">
            {% url 'production' production.id as production_url %}
            {% button href=production_url icon="done" label="Back to production" %}
        </div>
        
        <h2>Editing {{ model_label }} for {{ production.title }}</h2>
        
        <ul>
            {% for pic in screenshots %}
                <li>
                    {% thumbnail pic %}
                    {% url delete_url_name production.id pic.id as delete_url_name_url %}
                    {% button href=delete_url_name_url lightbox=True icon="delete" %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
