{% extends base_template_with_ajax_option %}

{% load compress ui_tags %}

{% block html_title %}Editing credit for {{ production.title }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.edit_credit_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing credit for {{ production.title }}</h2>

    <form action="{% url 'production_edit_credit' production.id nick.id %}" method="post" class="entry_form edit_credit_form">
        {% csrf_token %}

        {% include "productions/credit_form.html" %}

        <div class="field">
            {% button label="Update credit" %}
        </div>
    </form>

    {% comment %} FIXME: a 'delete' button under the submit button is just ICK. {% endcomment %}
    <p>
        {% url 'production_delete_credit' production.id nick.id as production_delete_credit_url %}
        {% button href=production_delete_credit_url icon="delete" label="Delete credit" %}
    </p>
{% endblock %}
