{% extends base_template_with_ajax_option %}
{% load spawning_formset %}

{% block html_title %}Editing {{ production.supertype }}: {{ production.title }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.production_core_details_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing {{ production.supertype }}: {{ production.title }}</h2>

    <form action="{{ production.urls.edit_core_details }}" method="post" class="entry_form production_core_details_form">
        {% csrf_token %}

        {% include "shared/form_field.html" with field=form.title %}
        {% include "shared/form_field.html" with field=form.byline %}
        {% include "shared/form_field.html" with field=form.release_date %}

        {% if form.has_multiple_types %}
            {% include "shared/form_field.html" with field=form.types %}
        {% else %}
            {% include "shared/form_field.html" with field=form.type %}
        {% endif %}

        {% include "shared/form_field.html" with field=form.platforms %}

        {% if invitation_formset %}
            <div class="field">
                <label class="field_label">Invitation for party</label>
                <div class="field_input">
                    {% spawningformset invitation_formset add_button_text="another party" %}
                        {% spawningform as form %}
                            {{ form.party.errors }}
                            {{ form.party }}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        {% endspawningform %}
                    {% endspawningformset %}
                </div>
            </div>
        {% endif %}
        
        <div class="field">
            <input type="submit" />
        </div>
    </form>
{% endblock %}
