{% extends base_template_with_ajax_option %}

{% load ui_tags compress %}

{% block html_title %}Editing credit for {{ production.title }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
{% endblock %}

{% block base_main %}
    <h2>Editing credit for {{ production.title }}</h2>

    <form action="{% url 'production_edit_credit' production.id nick.id %}" method="post" data-edit-form class="entry_form">
        {% csrf_token %}

        {% include "productions/credit_form.html" %}

        <div class="field">
            <input type="submit" value="Update credit"/>
        </div>
    </form>

    <ul class="actions">
        {% url 'production_delete_credit' production.id nick.id as delete_credit_url %}
        <li>{% action_button url=delete_credit_url icon="delete" classname="delete_credit" label="Delete credit" %}</li>
    </ul>
{% endblock %}
