{% extends base_template_with_ajax_option %}

{% block html_title %}
    Editing blurb for {{ production.title }} - Demozoo
{% endblock %}

{% block base_main %}
    <h2>Editing blurb for {{ production.title }}:</h2>

    <form action="{{ action_url }}" method="post" class="entry_form {{ html_form_class }}">
        {% csrf_token %}

        {% include "shared/form_fields.html" %}

        <div class="field">
            <input type="submit" />
        </div>

        <p>
            <a href="{% url 'production_delete_blurb' production.id blurb.id %}" data-lightbox>Delete this blurb</a>
        </p>
    </form>
{% endblock %}
