{% extends "base.html" %}
{% load ui_tags %}

{% block html_title %}{{ production.title }} info: {{ info_file.filename }} - Demozoo{% endblock %}

{% block base_main %}
    {% if request.user.is_staff %}
        <div class="o-actions">
            {% button href=fix_encoding_url icon="spanner" label="Fix encoding" %}
        </div>
    {% endif %}

    <h2>{{ production.title }} info: {{ info_file.filename }}</h2>
    <p><a href="{{ production.get_absolute_url }}">Back to production</a></p>
    <pre class="text-file {% if info_file.is_ansi %}ansi{% endif %}">{{ info_file.as_renderable }}</pre>
{% endblock %}
