{% extends "base.html" %}
{% load demoscene_tags production_tags ui_tags compress %}


{% block html_title %}{{ production.title }} {% if production.byline_string %}by {{ production.byline_string }}{% endif %} - Demozoo{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/modal_workflow.js"></script>
        <script src="/static/js/tag-it.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
        <script src="/static/productions/js/components/media_lightbox.js"></script>
        <script src="/static/productions/js/components/carousel.js"></script>
        <script src="/static/productions/js/components/award_recommendation.js"></script>
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/comments_panel.js"></script>
        <script src="/static/js/components/tagging.js"></script>
        <script src="/static/productions/js/pages/show_production.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {{ carousel.media }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@demozoo" />
    {% with production.author_twitter_handle as twitter_handle %}
        {% if twitter_handle %}<meta name="twitter:creator" content="@{{ twitter_handle }}">{% endif %}
    {% endwith %}
    <meta property="og:url" content="http://demozoo.org{{ production.get_absolute_url }}" />
    <meta property="og:title" content="{{ production.title }}" />
    <meta property="og:description" content="{{ production.meta_description }}" />
    {% if not meta_screenshot %}
        <meta property="og:image" content="https://demozoo.org/static/images/fb-1200x627.png" />
    {% else %}
        <meta property="og:image" content="{{ meta_screenshot.standard_url }}" />
    {% endif %}
    {% if production.hide_from_search_engines %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
    {% production_core_details production %}

    {% if request.user.is_staff %}
        {% for blurb in blurbs %}
            <div class="blurb">
                <div class="o-actions">
                    {% url 'production_edit_blurb' production.id blurb.id as production_edit_blurb_url %}
                    {% button href=production_edit_blurb_url icon="edit" lightbox=True label="Edit" %}
                </div>
                <p>{{ blurb.body }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if site_is_writeable %}
        {% include "productions/_award_recommendations.html" %}
    {% endif %}

    <div class="production__mainStage">

        {{ carousel.render }}

        <div class="column">
            {% if download_links %}
                {% include "productions/_downloads.html" %}
            {% endif %}

            {% if info_files %}
                {% include "productions/_info_files.html" %}
            {% endif %}

            {% if external_links %}
                {% include "productions/_external_links.html" %}
            {% endif %}

            {% include "productions/_tags.html" %}

            {% if can_edit %}
                <section class="panel tell_us_something_panel">
                    <p>Know something about this production that we don't?</p>

                    <div class="tell_us_something">
                        <div class="tell_us_something_title">Add other information</div>
                        <ul class="tell_us_something_options">
                            <li><a href="{% url 'production_edit_download_links' production.id %}" data-lightbox class="focus_empty_input">Add a download link</a></li>
                            <li><a href="{% url 'production_edit_external_links' production.id %}" data-lightbox class="focus_empty_input">Add an external site link</a></li>
                            {% if production.supertype == 'music' %}
                                <li><a href="{{ production.get_add_screenshot_url }}" data-lightbox>Add artwork</a></li>
                            {% else %}
                                <li><a href="{{ production.get_add_screenshot_url }}" data-lightbox>Add a screenshot</a></li>
                            {% endif %}
                            <li><a href="{% url 'production_add_credit' production.id %}" data-lightbox>Add a credit</a></li>
                            <li><a href="{% url 'production_edit_info_files' production.id %}" data-lightbox>Add an info file</a></li>
                            {% if production.can_have_soundtracks %}
                                <li><a href="{% url 'production_edit_soundtracks' production.id %}" data-lightbox>Add a soundtrack listing</a></li>
                            {% endif %}
                            {% if request.user.is_staff and not blurbs %}
                                <li><a href="{% url 'production_add_blurb' production.id %}" data-lightbox>Add a 'blurb'</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>

    {% include "productions/_notes.html" %}

    <div class="production__attributions secondary_panels {% if not credits and not featured_in_productions and not soundtracks and not production.can_have_pack_members and not packed_in_productions %}hidden{% endif %}">
        <div class="column">
            {% include "productions/_credits.html" %}
        </div>
        <div class="column">
            {% if production.can_have_pack_members %}
                <section class="panel editable_chunk">
                    <header class="panel__header">
                        <h3 class="panel__title">Pack contents</h3>
                        {% if can_edit %}
                            <div class="o-actions">
                                {% url 'production_edit_pack_contents' production.id as production_edit_pack_contents_url %}
                                {% button href=production_edit_pack_contents_url icon="edit" lightbox=True title="Edit pack contents" label="Edit" %}\
                            </div>
                        {% endif %}
                    </header>
                    <div class="panel__content">
                        {% production_listing pack_members show_screenshots=1 %}
                    </div>
                </section>
            {% endif %}

            {% if packed_in_productions %}
                <section class="panel">
                    <header class="panel__header">
                        <h3 class="panel__title">Packed in:</h3>
                    </header>
                    <div class="panel__content">
                        {% production_listing packed_in_productions show_screenshots=1 %}
                    </div>
                </section>
            {% endif %}

            {% if featured_in_productions %}
                <section class="panel">
                    <header class="panel__header">
                        <h3 class="panel__title">Featured in:</h3>
                    </header>
                    <div class="panel__content">
                        {% production_listing featured_in_productions show_screenshots=1 %}
                    </div>
                </section>
            {% endif %}

            {% if soundtracks %}
                <section class="panel editable_chunk">
                    <header class="panel__header">
                        <h3 class="panel__title">Soundtrack</h3>
                        {% if can_edit %}
                            <div class="o-actions">
                                {% url 'production_edit_soundtracks' production.id as production_edit_soundtracks_url %}
                                {% button href=production_edit_soundtracks_url label="Edit" title="Edit soundtrack details" icon="edit" lightbox=True %}
                            </div>
                        {% endif %}
                    </header>
                    <div class="panel__content">
                        {% production_listing soundtracks %}
                    </div>
                </section>
            {% endif %}
        </div>
    </div>

    {% last_edited_by production %}

    {% include "comments/_comments.html" with commentable=production edit_action='edit_production_comment' delete_action='delete_production_comment' no_comments_message='Be the first to comment on this production...' add_action='add_production_comment' %}

    {% if request.user.is_staff and site_is_writeable %}
        <div class="o-actions">
            {% url 'delete_production' production.id as delete_production_url %}
            {% button href=delete_production_url icon="delete" label="Delete production" lightbox=True theme="warning" %}
        </div>
    {% endif %}
{% endblock %}
