{% extends "base.html" %}


{% block html_title %}{{ production.title }} info: {{ info_file.filename }} - Demozoo{% endblock %}

{% block base_main %}
    {% if request.user.is_staff %}
        <ul class="actions">
            <li><a href="{{ fix_encoding_url }}" class="action_button icon-spanner">Fix encoding</a></li>
        </ul>
    {% endif %}

    <h2>{{ production.title }} info: {{ info_file.filename }}</h2>
    <p><a href="{{ production.get_absolute_url }}">Back to production</a></p>
    <pre class="text-file {% if info_file.is_ansi %}ansi{% endif %}">{{ info_file.as_renderable }}</pre>
{% endblock %}
