{% extends "base.html" %}
{% load demoscene_tags production_tags ui_tags compress %}


{% block html_title %}{{ production.title }} {% if production.byline_string %}by {{ production.byline_string }}{% endif %} - Demozoo{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/modal_workflow.js"></script>
        <script src="/static/js/tag-it.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
        <script src="/static/productions/js/components/media_lightbox.js"></script>
        <script src="/static/productions/js/components/carousel.js"></script>
        <script src="/static/productions/js/components/award_recommendation.js"></script>
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/comments_panel.js"></script>
        <script src="/static/js/components/tagging.js"></script>
        <script src="/static/productions/js/pages/show_production.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {{ carousel.media }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@demozoo" />
    {% with production.author_twitter_handle as twitter_handle %}
        {% if twitter_handle %}<meta name="twitter:creator" content="@{{ twitter_handle }}">{% endif %}
    {% endwith %}
    <meta property="og:url" content="http://demozoo.org{{ production.get_absolute_url }}" />
    <meta property="og:title" content="{{ production.title }}" />
    <meta property="og:description" content="{{ production.meta_description }}" />
    {% if not meta_screenshot %}
        <meta property="og:image" content="https://demozoo.org/static/images/fb-1200x627.png" />
    {% else %}
        <meta property="og:image" content="{{ meta_screenshot.standard_url }}" />
    {% endif %}
    {% if production.hide_from_search_engines %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
    {% production_core_details production %}

    {% if request.user.is_staff %}
        {% for blurb in blurbs %}
            <div class="blurb">
                <ul class="actions">
                    {% url 'production_edit_blurb' production.id blurb.id as edit_blurb_url %}
                    <li>{% action_button url=edit_blurb_url icon="edit" lightbox=True label="Edit" %}</li>
                </ul>
                <p>{{ blurb.body }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if site_is_writeable %}
        {% include "productions/includes/award_recommendations.html" %}
    {% endif %}

    <div class="mainstage">
        {{ carousel.render }}

        <div class="right">
            {% if award_nominations %}
                {% include "productions/includes/awards.html" %}
            {% endif %}

            {% if download_links %}
                {% include "productions/includes/downloads.html" %}
            {% endif %}

            {% if info_files %}
                {% include "productions/includes/info_files.html" %}
            {% endif %}

            {% if external_links %}
                {% include "shared/external_links.html" with obj=production %}
            {% endif %}

            {% include "productions/includes/tags.html" %}

            {% if can_edit %}
                <div class="panel tell_us_something_panel">
                    <p>Know something about this production that we don't?</p>

                    <div class="tell_us_something">
                        <div class="tell_us_something_title">Add other information</div>
                        <ul class="tell_us_something_options">
                            <li><a href="{{ production.urls.edit_download_links }}" data-lightbox data-focus="empty">Add a download link</a></li>
                            <li><a href="{{ production.urls.edit_external_links }}" data-lightbox data-focus="empty">Add an external site link</a></li>
                            <li>
                                <a href="{{ production.urls.add_screenshot }}" data-lightbox>
                                    {% if production.supertype == 'music' %}Add artwork{% else %}Add a screenshot{% endif %}
                                </a>
                            </li>
                            <li><a href="{{ production.urls.add_credit }}" class="add_credit">Add a credit</a></li>
                            <li><a href="{{ production.urls.edit_info_files }}" data-lightbox>Add an info file</a></li>
                            {% if production.can_have_soundtracks %}
                                <li><a href="{{ production.urls.edit_soundtracks }}" data-lightbox>Add a soundtrack listing</a></li>
                            {% endif %}
                            {% if request.user.is_staff and not blurbs %}
                                <li><a href="{{ production.urls.add_blurb }}" data-lightbox>Add a 'blurb'</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div style="clear: both;"></div>

    {% include "productions/includes/notes.html" %}

    <div class="secondary_panels {% if not credits and not featured_in_productions and not soundtracks and not production.can_have_pack_members and not packed_in_productions %}hidden{% endif %}">
        {% include "productions/includes/credits.html" %}

        {% if production.can_have_pack_members %}
            <div class="pack_contents_panel panel editable_chunk">
                <h3 class="panel__title">Pack contents</h3>

                {% if can_edit %}
                    <ul class="actions">
                        <li>
                            {% action_button url=production.urls.edit_pack_contents icon="edit" classname="edit_chunk" lightbox=True title="Edit pack contents" nofollow=True label="Edit" %}
                        </li>
                    </ul>
                {% endif %}

                {% production_listing pack_members show_screenshots=1 %}
            </div>
        {% endif %}

        {% if packed_in_productions %}
            <div class="packed_in_panel panel">
                <h3 class="panel__title">Packed in:</h3>
                {% production_listing packed_in_productions show_screenshots=1 %}
            </div>
        {% endif %}

        {% if featured_in_productions %}
            <div class="featured_in_panel panel">
                <h3 class="panel__title">Featured in:</h3>
                {% production_listing featured_in_productions show_screenshots=1 %}
            </div>
        {% endif %}

        {% if soundtracks %}
            <div class="soundtracks_panel panel editable_chunk">
                <h3 class="panel__title">Soundtrack</h3>

                {% if can_edit %}
                    <ul class="actions">
                        <li>
                            {% action_button url=production.urls.edit_soundtracks icon="edit" classname="edit_chunk" lightbox=True title="Edit soundtrack details" nofollow=True label="Edit" %}
                        </li>
                    </ul>
                {% endif %}

                {% production_listing soundtracks %}

            </div>
        {% endif %}
    </div>

    {% last_edited_by production %}

    {% include "comments/_comments.html" with commentable=production edit_action='edit_production_comment' delete_action='delete_production_comment' no_comments_message='Be the first to comment on this production...' add_action='add_production_comment' %}

    {% if request.user.is_staff and site_is_writeable %}
        <ul class="maintenance_actions">
            <li>{% action_button url=production.urls.delete icon="delete" lightbox=True label="Delete production" %}</li>
        </ul>
    {% endif %}
{% endblock %}
