{% extends "base.html" %}
{% load safe_markdown production_tags laces %}

{% block html_title %}Productions tagged '{{ tag.name }}' - Demozoo{% endblock %}

{% block base_main %}
    {% if site_is_writeable %}
        <ul class="actions">
            <li><a href="{% url 'new_production' %}" class="action_button icon-add" data-lightbox>New production</a></li>
        </ul>
    {% endif %}

    <h2>Productions tagged '{{ tag.name }}'</h2>
    {% if tag.description %}
        <div class="notes">
            {{ tag.description.description|safe_markdown }}
        </div>
    {% endif %}

    {% include "productions/includes/reorder_links.html" %}

    <ul>
        {% production_listing production_page.object_list show_screenshots=1 show_prod_types=1 %}
    </ul>
    
    {% component pagination_controls %}
{% endblock %}
