{% extends "base.html" %}
{% load safe_markdown compress demoscene_tags ui_tags %}

{% block html_title %}Productions tagged '{{ tag.name }}' - Demozoo{% endblock %}

{% block base_main %}
    {% if site_is_writeable %}
        <div class="o-actions">
            {% url 'new_production' as new_production_url %}
            {% button href=new_prodiction_url icon="add" lightbox=True label="New production" %}
        </div>
    {% endif %}

    <h2>Productions tagged '{{ tag.name }}'</h2>
    {% if tag.description %}
        <div class="notes">
            {{ tag.description.description|safe_markdown }}
        </div>
    {% endif %}

    {% include "shared/production_reorder_links.html" %}

    <ul>
        {% production_listing production_page.object_list show_screenshots=1 show_prod_types=1 %}
    </ul>
    
    {% with production_page as page %}
        {% include "shared/pagination_links.html" %}
    {% endwith %}
{% endblock %}
