{% extends "base.html" %}
{% load demoscene_tags %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
	<div class="panel">
		<ul class="actions">
			{% if editing %}
				<li><a href="{% url edit_music_done production.id %}" class="done">Done</a></li>
			{% else %}
				<li><a href="{{ production.get_absolute_edit_url }}" class="edit">Edit</a></li>
			{% endif %}
		</ul>
		
		<div class="production_title">
			<h2>{{ production.title }}</h2>
			{% if production.author_nicks.all %}
				<h3>
					by {% byline production %}
				</h3>
			{% endif %}
			
			{% if editing %}
				<a href="{% url music_edit_core_details production.id %}" class="open_in_lightbox">
					<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit production details" title="Edit production details" />
				</a>
			{% endif %}
		</div>
		
		<div class="production_details">
			{% if production.release_date or editing %}
				<p>Release date: {% if production.release_date %}{{ production.release_date }}{% else %}<em>not set</em>{% endif %}</p>
			{% endif %}
			
			<ul>
				{% for production_type in production.types.all %}
					<li>{{ production_type.name }}</li>
				{% endfor %}
			</ul>
			
			<ul>
				{% for platform in production.platforms.all %}
					<li><a href="{% url platform platform.id %}">{{ platform.name }}</a></li>
				{% endfor %}
			</ul>
			
			{% include "shared/production_external_links.html" %}
		</div>
		
		<div style="clear: both;"></div>
	</div>
	
	{% include "shared/production_notes.html" %}
	{% include "shared/production_downloads.html" %}
{% endblock %}
