.show_topic {
	.posts_panel {
		background-color: #eee;
		border: 1px solid #ccc;
		padding: 10px;
		width: 70%;
		margin: auto;
		margin-bottom: 16px;
	}
	.posts {
		h2 {
			margin-bottom: 0.5em;
		}
		.admin_controls {
			float: right;
		}
		.post {
			border-bottom: 1px solid #ccc;
			margin-bottom: 0.5em;
		}
	}
	.reply_form {
		margin-top: 16px;
		textarea {
			width: 100%;
		}
	}

	ul.pagination {
		clear: both;
		overflow: hidden; /* self-clear */
		margin-bottom: 8px;
		border-left: 1px solid #888;

		li {
			float: left;
			border: 1px solid #888;
			border-left: none;
			text-align: center;
			line-height: 24px;

			&.current {
				background-color: white;
				width: 24px;
				font-weight: bold;
				color: #444;
			}

			a {
				display: block;
				background-color: white;
				width: 24px;
				&:hover {
					background-color: #ddd;
				}
			}
		}
	}
}
