{% extends 'base.html' %}
{% load ui_tags compress %}

{% block html_title %}Edit banner - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/modal_workflow.js"></script>
    {% endcompress %}
{% endblock %}

{% block base_main %}
    <ul class="actions">
        <li>
            {% url 'delete_banner' banner.id as delete_banner_url %}
            {% action_button url=delete_banner_url icon="delete" lightbox=True title="Delete this banner" label="Delete" %}
        </li>
    </ul>
    <h1>Edit banner</h1>
    <form action="{% url 'edit_banner' banner.id %}" class="entry_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "homepage/banners/_banner_form.html" %}
        <div class="field">
            <input type="submit" value="Update" />
        </div>
    </form>
{% endblock %}
