{% extends 'base.html' %}
{% load safe_markdown compress ui_tags %}

{% block body_class %}t-overview -banners{% endblock %}
{% block html_title %}Homepage banners - Demozoo{% endblock %}

{% block base_main %}
    <header class="page__header">
        <div class="o-actions">
            {% url 'add_banner' as add_banner_url %}
            {% button href=add_banner_url label="Add new banner" icon="add" %}
        </div>
        <h1 class="page__title">Banners</h1>
    </header>

    <ul class="list -zebra -bannerList">
        {% for banner in banners %}
            <li class="list__item">
                {% url 'edit_banner' banner.id as banner_url %}
                {% include 'homepage/_banner.html' with banner=banner banner_url=banner_url %}
                {% if banner.show_for_anonymous_users %}
                    <img src="/static/images/icons/tick.png" alt="Yes" /> Anonymous users
                {% endif %}
                {% if banner.show_for_logged_in_users %}
                    <img src="/static/images/icons/tick.png" alt="Yes" /> Logged in users
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
