<!DOCTYPE html>
<html lang="en">
{% load compress menu static ui_tags %}
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block html_title %}Demozoo{% endblock %}</title>

    {% comment %} --- CORE CSS --- {% endcomment %}
    {% compress css %}
        <link rel="stylesheet" href="/static/css/jquery_ui/overcast/theme.css" type="text/css" />{# TODO: decide which theme we actually want #}
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'css/dz.css' %}" type="text/css" />

    {% block extra_css %}{% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/static/images/favicon/manifest.json"/>
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#c32e3b"/>
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico"/>
    <meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    {% compress js %}
        <script src="/static/js/jquery-1.7.1.js"></script>
        <script src="/static/js/jquery.color.js"></script>
        <script src="/static/js/lib/polyfill/object-fit-images/ofi.browser.js"></script>
        <script src="/static/js/lib/jquery-ui/jquery.ui.core.js"></script>
        <script src="/static/js/lib/jquery-ui/jquery.ui.position.js"></script>
        <script src="/static/js/lib/jquery-ui/jquery.ui.widget.js"></script>
        <script src="/static/js/lib/jquery-ui/jquery.ui.autocomplete.js"></script>
        <script src="/static/js/lib/jquery-ui/jquery.ui.autocomplete.html.js"></script>
        <script src="/static/js/jquery.cookie.js"></script>
        <script src="/static/js/jquery.thumb_preview.js"></script>
        <script src="/static/js/lightbox.js"></script>
    {% endcompress %}

    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}default{% endblock %}">

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46757706-1', 'demozoo.org');
      ga('send', 'pageview');
    </script>

    <div class="site">
        {% if request.user.is_authenticated and not site_is_writeable %}
            <div class="maintenance">Demozoo is currently in <strong>read-only mode</strong>. We'll get things back to normal as soon as possible.</div>
        {% endif %}
        <header>
            <div class="site__header">
                <div class="logo"><a href="{% url 'home' %}"><span class="logo__label">Demozoo</span></a></div>
                <nav>
                    <ul>
                        <li class="{% nav_active productions %}"><a href="{% url 'productions' %}">Releases</a></li>
                        <li class="{% nav_active groups %}"><a href="{% url 'groups' %}">Groups</a></li>
                        <li class="{% nav_active parties %}"><a href="{% url 'parties' %}">Parties</a></li>
                        <li class="{% nav_active bbs %}"><a href="{% url 'bbses' %}" class="smallcaps">BBSes</a></li>
                        <li class="{% nav_active forums %}"><a href="{% url 'forums' %}">Forums</a></li>
                    </ul>
                    {% block global_search_form %}
                        <form class="search" id="global_search" method="get" action="{% url 'search' %}">
                            {{ global_search_form.q }}
                            {{ global_search_form.category }}
                            {% button icon="search" level="primary" variant="searchGlobal" %}
                        </form>
                    {% endblock %}
                </nav>
                {% block login_status_panel %}
                {% if not is_ip_banned %}
                    <div id="login_status_panel">
                        {% if request.user.is_authenticated %}
                        <div class="login_status logged_in">
                            {{ request.user.username }}
                        </div>
                        <div class="login_links">
                            {% user_menu %}
                        </div>
                        {% else %}
                        <div class="login_status logged_out">
                            Not logged in
                        </div>
                        <div class="login_links">
                            <form class="login__form login__form--compact" action="{% url 'log_in' %}" method="post">
                                {% csrf_token %}
                                {{ global_login_form.as_p }}
                                {% block login_next_field %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {% endblock %}
                                {% button label="Log in" %}
                            </form>
                            <ul>
                                <li><a href="{% url 'user_signup' %}">Register new account</a>
                                    <a href="{% url 'password_reset' %}">{{ _("Forgotten password") }}</a></li>
                            </ul>
                            <div class="login_sceneid">
                                ...or log in with
                                <a class='sceneid' href="{% url 'sceneid_auth' %}{% block login_sceneid_next_param %}?next={{ request.path|urlencode }}{% endblock %}">Log in with SceneID</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <script type="text/javascript">$('#login_status_panel .login_links').hide();</script>
                {% endif %}
                {% endblock %}
            </div>
        </header>

        <div class="site__content">
            {% include "shared/messages.html" %}
            {% block base_main %}{% endblock %}

            <!-- oh look! buttons! -->
            <h2>Buttons</h2>
            <hr />

            <div style="display:flex;flex-wrap:wrap;gap:10px;align-items:center;margin-block: 0 2em;">
                {% button %}
                {% button icon="edit" %}
                {% button label="text button" %}
                {% button icon="edit" label="icon button" %}
                {% button icon="edit" label="disabled icon button" disabled="true" %}
                {% button icon="edit" label="reveal button" variant="reveal"%}
                {% button href="#" label="link button with text" %}
                {% button href="#" icon="edit" label="icon link" %}
                {% button href="#" icon="edit" label="disabled icon link" disabled="true" %}
                {% button href="#" icon="edit" label="reveal link" variant="reveal"%}
                {% button href="#" icon="edit" label="icon link reversed" reverse="true" %}
                {% button href="#" icon="edit" label="disabled icon link reversed" disabled="true" reverse="true" %}
                {% button href="#" icon="edit" label="reveal link reversed" reverse="true" variant="reveal"%}
            </div>

            <h2>Large buttons</h2>
            <hr />
            <div style="display:flex;flex-wrap:wrap;gap:10px;align-items:center;margin-block: 0 2em;">
                {% button icon="edit" size="large" %}
                {% button label="text button" size="large" %}
                {% button icon="edit" label="icon button" size="large" %}
                {% button icon="edit" label="disabled icon button" disabled="true" size="large" %}
                {% button icon="edit" label="reveal button" variant="reveal" size="large" %}
                {% button href="#" label="link button with text" size="large" %}
                {% button href="#" icon="edit" label="icon link" size="large" %}
                {% button href="#" icon="edit" label="disabled icon link" disabled="true" size="large" %}
                {% button href="#" icon="edit" label="reveal link" variant="reveal" size="large" %}
                {% button href="#" icon="edit" label="icon link reversed" reverse="true" size="large" %}
                {% button href="#" icon="edit" label="disabled icon link reversed" disabled="true" reverse="true" size="large" %}
                {% button href="#" icon="edit" label="reveal link reversed" reverse="true" variant="reveal" size="large" %}
            </div>

            <h2>Button levels</h2>
            <hr />
            <div style="display:flex;flex-wrap:wrap;gap:10px;align-items:center;margin-block: 0 2em;">
                {% button icon="edit" label="primary icon button" level="primary" %}
                {% button icon="edit" label="secondary icon button" level="secondary" %}
                {% button icon="edit" label="tertiary icon button" level="tertiary" %}
                {% button icon="edit" level="primary" %}
                {% button icon="edit" level="secondary" %}
                {% button icon="edit" level="tertiary" %}
                {% button label="tertiary text button" level="tertiary" %}
            </div>
            <!-- look away! -->
        </div>

        <footer>
            <div class="site__footer">
                <nav>
                    <ul>
                        <li>&copy; {% now "Y" %} <a href="/pages/demozoo-team/">Demozoo staff</a> and contributors</li><!--
                        srsly. do we still need these CSS hacks in 2015?!?
                        --><li>Kindly hosted by <a href="https://zetta.io/">zetta.io</a></li><!--
                        --><li><a href="{% url 'page' 'faq' %}">FAQ</a></li><!--
                        --><li><a href="https://discord.gg/AJ2xV8X">Discord</a></li><!--
                        --><li><a href="https://github.com/demozoo/demozoo">Get the source</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/demozoo.js' %}"></script>
</body>
</html>
