{% load ui_tags safe_markdown %}

<div class="news-story news_story {% if not story.is_public %}private{% endif %}" id="news-{{ story.id }}">
    <ul class="actions">
        <li>
            <a href="{{ story.get_absolute_url }}" title="Permalink">#</a>
        </li>
        {% if perms.homepage.change_newsstory and site_is_writeable %}
            <li>
                {% edit_button url=story.urls.edit title="Edit news story" %}
            </li>
        {% endif %}
    </ul>

    <h2 class="news-story__heading">{{ story.title }}</h2>
    <div class="news-story__content">
        <div class="story_image">
            {% if story.image %}
                <img src="{{ story.image.image_url }}" width="100" alt="">
            {% else %}
                <img src="/static/images/news.png" width="100" alt="">
            {% endif %}
            <div class="date">{{ story.created_at|date:"d M Y" }}</div>
        </div>
        <div class="news-story__description">
            {{ story.text|safe_markdown }}
        </div>
    </div>
</div>
