{% extends 'base.html' %}
{% load compress %}

{% block html_title %}Add news - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/modal_workflow.js"></script>
    {% endcompress %}
{% endblock %}

{% block base_main %}
    <h1>Add news item</h1>
    <form action="{% url 'add_news' %}" class="entry_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "homepage/news/_news_form.html" %}
        <div class="field">
            <input type="submit" value="Add news item" />
        </div>
    </form>
{% endblock %}
