{% extends 'base.html' %}

{% load compress ui_tags %}

{% block html_title %}Edit news - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/modal_workflow.js"></script>
    {% endcompress %}
{% endblock %}

{% block base_main %}
    <div class="o-actions">
        {% url 'delete_news' news_story.id as delete_news_url %}
        {% button href=delete_news_url lightbox=True title="Delete this news story" icon="delete" label="Delete" %}
    </div>
    <h1>Edit news item</h1>
    <form action="{% url 'edit_news' news_story.id %}" class="entry_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "homepage/news/_news_form.html" %}
        <div class="field">
            {% button label="Update" %}
        </div>
    </form>
{% endblock %}
