@import "../../../../../demoscene/static/css/variables.less";

.show_party {

	.party_core_details {
		overflow: hidden; /* self-clear */
		padding-bottom: 10px;

		.attributes {
			width: 100%;
			border-top: 1px solid #ccc;
			padding-top: 10px;
			li {
				color: #555;
				float: left;
				padding-left: 16px;
				background-image: url(/static/images/icons/mini_bullet.png);
				background-repeat: no-repeat;
				background-position: left center;

				font-family: FabricaRegular, Helvetica, Arial, sans-serif;
				letter-spacing: 1px;
				text-transform: uppercase;
				&:first-child {
					background-image: none; padding-left: 0;
				}
			}
		}
	}

	.results_file_panel {
		.results_files {
			clear: both;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	.external_links_panel {
		margin-bottom: 20px;

		ul.external_links {
			padding-top: 8px;
			padding-bottom: 8px;
			clear: both;
		}
	}

	.parties_in_series {
		ul {
			display: inline;
			li {
				display: inline;
				&.current {
					font-weight: bold;
				}
			}
		}
	}

	.invitations_panel {
		margin-top: 20px;
	}

	.results_panel {
		margin-top: 20px;

		.competition {
			clear: both;
			padding-top: 10px;

			h4 {
				line-height: 32px;
				font-size: 14pt;
				border-bottom: 1px solid #ccc;
			}
		}

	}

	.last_edited_by {
		clear: both;
		padding-top: 16px;
		border-top: 1px dotted #ddd;
	}
}

.panel {
	overflow: hidden; /* self-clear */

	h3 {
		background-color: @demozoo_lightgreen;
		float: left;
		font-weight: normal;
		color: white;
		font-size: 10pt;
		text-transform: uppercase;
		font-family: FabricaRegular, sans-serif;
		padding: 6px;
		border-right: 6px solid #eaeaea;
		min-width: 150px;
	}
}
