@import "../variables.less";

.show_party {

	.party_core_details {
		overflow: hidden; /* self-clear */
		padding-bottom: 10px;

		.attributes {
			width: 100%;
			border-top: 1px solid #ccc;
			padding-top: 10px;

			li {
				color: #555;
				float: left;
				padding-left: 16px;
				background: no-repeat url(/static/images/icons/mini_bullet.png) left center;
				font-family: FabricaRegular, Helvetica, Arial, sans-serif;
				letter-spacing: 1px;
				text-transform: uppercase;

				&:first-child {
					background-image: none;
					padding-left: 0;
				}
			}
		}
	}

	.results_file_panel {

		.results_files {
			clear: both;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	.external_links_panel {
		margin-bottom: 20px;

		ul.external_links {
			padding-top: 8px;
			padding-bottom: 8px;
			clear: both;
		}
	}

	.parties_in_series {

		ul {
			display: inline;

			li {
				display: inline;

				&.current {
					font-weight: bold;
				}
			}
		}
	}

	.invitations_panel {
		margin-top: 20px;
	}

	.last_edited_by {
		clear: both;
		padding-top: 16px;
		border-top: 1px dotted #ddd;

		a.user {
			font-weight: bold;
			color: #333;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.results_panel {
	clear: both;
	display: flex;
	padding-top: 32px;
	position: relative;
	width: 100%;

	.results_menu_column {
		width: 35%;
	}

	.results_body {
		padding-top: 16px;
		flex-grow: 1;
	}

	.competition {
		clear: both;
	}
}

.results_menu_column {
	position: relative;
}

.results_menu {
	box-sizing: border-box;
	padding-top: 10px;
	position: absolute;
	max-height: 100vh;

	ul {
		clear: both;
		padding-top: 10px;
		width: 90%;
	}

	li:nth-child(odd) {
		background-color: #eee;
	}

	a {
		display: block;
		padding: 4px 8px;
		color: #5e5f5f;
		text-decoration: none;
		border-left: 4px solid rgba(0, 0, 0, 0);
		transition: border-color .15s;

		&:hover {
			border-color: #ec5a64;
		}
	}

	.results_panel.fixed & {
		overflow-y: auto;
		position: fixed;
		top: 0;
	}

	.results_panel.bottom & {
		bottom: 0;
		top: auto;
	}
}

@media screen and (max-width: 600px) {
	.results_panel {
		display: block;

		.results_menu_column {
			float: none;
			height: auto;
			width: 100%;
		}

		.results_body {
			float: none;
			width: 100%;
		}

		.results_menu {
			position: static;
			width: 100% !important;
		}
	}

	.results_panel.fixed {

		.results_menu {
			position: static;
		}
	}
}
