{% extends "base.html" %}
{% load compress %}


{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" href="/static/sceneorg/css/compofolders.less" type="text/less" />
		<link rel="stylesheet" href="/static/sceneorg/css/pages/parties_by_series.less" type="text/less" />
	{% endcompress %}
{% endblock %}

{% block base_main %}
	<h2>scene.org compo folder matching</h2>
	<p>
		<a href="{% url 'sceneorg_compofolders' %}?order=year">By year</a> | <strong>By series</strong>
	</p>

	{% regroup parties by party_series as party_series_list %}
	<table class="party_series_index">
		{% for item in party_series_list %}
			<tr class="{% cycle 'odd' 'even' %}">
				<th>
					{{ item.grouper.name }}
				</th>
				<td>
					<ul class="parties">
						{% for party in item.list %}
							<li>
								{% if not party.sceneorg_compofolders_done %}<strong>{% endif %}
									<a href="{% url 'sceneorg_compofolder_party' party.id %}">{{ party.suffix }}</a>
								{% if not party.sceneorg_compofolders_done %}</strong>{% endif %}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
