<h2>Editing credit for {{ releaser.name }}:</h2>

<form action="{% url releaser_edit_credit releaser.id credit.id %}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
		{% include "shared/form_field.html" %}
	{% endfor %}
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
	
	<div class="field">
		<input type="submit" />
	</div>
</form>

<p>
	<a href="{% url releaser_delete_credit releaser.id credit.id %}" class="open_in_lightbox">Delete credit</a>
</p>
