{% extends base_template_with_ajax_option %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
{% endblock %}

{% block html_title %}
    {% if html_title %}{{ html_title }} - Demozoo{% else %}Demozoo{% endif %}
{% endblock %}

{% block base_main %}
    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}

    <form action="{% block action_url %}{{ action_url }}{% endblock %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} data-edit-form class="entry_form {% block html_form_class %}{{ html_form_class }}{% endblock %}" {% block form_attrs %}{% endblock %}>
        {% csrf_token %}

        {% include "shared/form_fields.html" %}

        <div class="field">
            <input type="submit" />
        </div>
    </form>
    {% if delete_url and delete_link_text %}
        <p>
            <a href="{{ delete_url }}" data-lightbox>{{ delete_link_text }}</a>
        </p>
    {% endif %}

    {% block after_form %}{% endblock %}
{% endblock %}
