{% extends "base.html" %}
{% load demoscene_tags %}

{% block html_title %}Groups - Demozoo{% endblock %}

{% block base_main %}
	<h2>Groups</h2>
	
	<ul class="actions">
		<li><a href="{% url new_group %}" class="add open_in_lightbox">New group</a></li>
	</ul>
	
	<ul>
		{% for nick in nick_page.object_list %}
			<li class="group">
				<a href="{% url group nick.releaser_id %}">{{ nick.name }}</a>
				{% nick_variants nick %}
			</li>
		{% endfor %}
	</ul>
	
	{% with nick_page as page %}
		{% include "shared/pagination_links.html" %}
	{% endwith %}
{% endblock %}
