{% extends "base.html" %}

{% block base_main %}
	<h2>{{ group.name }}</h2>
	
	<a href="{% url edit_group group.id %}">edit</a>

	<h3>Members:</h3>
	<ul>
		{% for scener in group.members.all %}
			<li class="scener">
				<a href="{% url scener scener.id %}">{{ scener.name }}</a>
				<a href="{% url group_remove_member group.id scener.id %}">
					<img src="/static/images/icons/delete.png" width="16" height="16" alt="Remove from group" title="Remove from group" />
				</a>
			</li>
		{% endfor %}
		{% if user.is_authenticated %}
			<li class="add">
				<a href="{% url group_add_member group.id %}">Add member</a>
			</li>
		{% endif %}
	</ul>
{% endblock %}
