{% if label or icon %}
    <{% if href %}a{% else %}button{% endif %}
        class="m-button
            {% if level %} -{{ level }}{% endif %}
            {% if reverse %} -reverse{% endif %}
            {% if size %} -{{ size }}{% endif %}
            {% if theme %}} t-{{ theme }}{% endif %}
            {% if variant %} -{{ variant }}{% endif %}"
       {% if disabled %}disabled{% endif %}
       href="{{ href }}"
       {% if target %}target="{{ target }}"{% if target == "_blank" %} rel="noopener"{% endif %}{% endif %}
    >
        {% if icon %}<span class="m-button__icon">{{ icon }}</span>{% endif %}
        {% if label %}<span class="m-button__label">{{ label }}</span>{% endif %}
    </{% if href %}a{% else %}button{% endif %}>
{% else %}
    <code style="color:red;font-weight: 700;">[No label || icon]</code>
{% endif %}
