{% load demoscene_tags ui_tags %}

<section class="o-panel editable_chunk">
    <header class="o-panel__header">
        <h3 class="o-panel__heading productions_header">Productions ({{ credits|length }})</h3>
        {% if can_edit %}
            <div class="o-actions">
                {% button href=new_production_url icon="add" lightbox=True label="Add production" %}
            </div>
        {% endif %}
    </header>
    <div class="o-panel__content">
        <table class="table">
            <colgroup>
                <col class="col -thumb" />
                <col width="40%" />
                <col />
                <col class="col -date" />
            </colgroup>
            <tbody>
                {% for credit in credits %}
                    {% if credit.credit_type == 'production' %}
                        <tr>
                            <td>
                                {% if credit.screenshot %}
                                    {% microthumb credit.screenshot %}

                                {% else %}
                                    <div class="media media--thumbnail">
                                        {% icon credit.production.supertype %}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <div>
                                    <a href="{{ credit.production.get_absolute_url }}">{{ credit.production.title }}</a>
                                    {% if credit.roles %}
                                        -
                                        {% for role in credit.roles %}
                                            <span>{{ role.description }}</span>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                        {% if credit.nick.name != releaser.name %}
                                            <em>(as <span>{{ credit.nick.name }}</span>)</em>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="meta">
                                    {{ credit.production.platforms_and_types_list }}
                                </div>
                            </td>
                            <td>{% byline credit.production %}</td>
                            <td>{{ credit.production.release_date.short_format }}</td>
                        </tr>
                    {% elif credit.credit_type == 'tournament' %}
                        <tr>
                            <td>
                                {% if credit.screenshot %}
                                    {% microthumb credit.screenshot %}
                                {% endif %}
                            </td>
                            <td>
                                <div>Participated in <a href="{{ credit.tournament.get_absolute_url }}">{{ credit.tournament.name }}</a></div>
                            </td>
                            <td>
                                <a href="{{ credit.tournament.party.get_absolute_url }}">{{ credit.tournament.party.name }}</a>
                            </td>
                            <td>{{ credit.tournament.party.start_date.short_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
