{% if edits %}
	<table class="table table--history">
		<colgroup>
			<col class="col--timestamp" />
			<col class="col--user" />
			<col />
		</colgroup>
		<tbody>
			{% for edit in edits %}
				<tr>
					<td>
						{{ edit.timestamp|date:"Y-m-d H:i:s" }}
					</td>
					<td>
						<a href="{% url 'user' edit.user.id %}"><strong>{{ edit.user }}</strong></a>
					</td>
					<td>
						{{ edit.description }}
						{% if show_focuses %}
							{% if edit.focus %}
								(<a href="{{ edit.focus.get_absolute_url }}">link</a>)
							{% endif %}
							{% if edit.focus2 %}
								(<a href="{{ edit.focus2.get_absolute_url }}">link2</a>)
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
