{% extends base_template_with_ajax_option %}
{% load compress ui_tags %}

{% block html_title %}
    {% if html_title %}{{ html_title }} - Demozoo{% else %}Demozoo{% endif %}
{% endblock %}

{% block base_main %}
    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}

    <form action="{{ action_url }}{% if ajax_submit %}?ajax_submit=true{% endif %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="entry_form {% block html_form_class %}{{ html_form_class }}{% endblock %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% block after_form_fields %}{% endblock %}

        <div class="field">
            {% button label="submit" %}
        </div>
    </form>
    {% if delete_url and delete_link_text %}
        <p>
            <a href="{{ delete_url }}" class="open_in_lightbox">{{ delete_link_text }}</a>
        </p>
    {% endif %}

    {% if ajax_submit %}
    <script>
        $('.entry_form').submit(function() {
            $.post(this.action, $(this).serialize(), function(response) {
                if (response == 'OK') {
                    Lightbox.close();
                } else {
                    $('#lightbox').html(response);
                    applyGlobalBehaviours($('#lightbox'));
                }
            });
            return false;
        });
    </script>
    {% endif %}
{% endblock %}
