{% extends base_template_with_ajax_option %}
{% load compress %}

{% block html_title %}
	{% if html_title %}{{ html_title }} - Demozoo{% else %}Demozoo{% endif %}
{% endblock %}

{% block base_main %}
	{% if title %}
		<h2>{{ title }}</h2>
	{% endif %}

	<form action="{{ action_url }}{% if ajax_submit %}?ajax_submit=true{% endif %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="entry_form {{ html_form_class }}">
		{% csrf_token %}
		
		{% for field in form.visible_fields %}
			{% include "shared/form_field.html" %}
		{% endfor %}
		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}
		
		<div class="field">
			<input type="submit" />
		</div>
	</form>
	{% if ajax_submit %}
	<script>
		$('.entry_form').submit(function() {
			$.post(this.action, $(this).serialize(), function(response) {
				if (response == 'OK') {
					Lightbox.close();
				} else {
					$('#lightbox').html(response);
					applyGlobalBehaviours($('#lightbox'));
				}
			});
			return false;
		});
	</script>
	{% endif %}
{% endblock %}
