.o-panel {
  --panel-title-background-color: #a5b45d;
  --panel-title-border-color: #eaeaea;

  margin-block: 0 var(--template-gap, 20px);

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__heading {
    background-color: var(--panel-title-background-color);
    border-inline-end: 6px solid var(--panel-title-border-color);
    color: white;
    font-family: FabricaRegular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    min-width: 150px;
    padding: 6px;
    text-transform: uppercase;
  }

  &__content {
    .o-panel__header + & {
      margin-block-start: 1em;
    }
  }

  &__footer {
    border-block-start: 1px solid #ccc;
    padding-block: 10px 0;
    text-align: right;

    .o-panel__content + & {
      margin-block-start: 1em;
    }
  }

  &.-home {
    --panel-title-background-color: #c32e3b;
    --panel-title-border-color: #ED89A3;
  }

  &.-nowServing {
    --icon-size: 16px;

    .list {
      justify-content: center;
    }

    a {
      align-items: center;
      color: #444;
      display: flex;
      gap: 8px 4px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//.panel {
//
//  &__header {
//    align-items: center;
//    display: flex;
//    justify-content: space-between;
//    width: 100%;
//
//    .panel__title {
//      margin: 0;
//    }
//  }
//
//  &__title {
//    background-color: #a5b45d;
//    border-right: 6px solid #eaeaea;
//    color: white;
//    float: left;
//    font-family: FabricaRegular, sans-serif;
//    font-size: 10pt;
//    font-weight: normal;
//    min-width: 150px;
//    padding: 6px;
//    text-transform: uppercase;
//    margin-bottom: 1ex;
//  }
//
//  &__content {
//    margin-block: 1em;
//  }
//
//  &__footer {
//    margin-top: 1.5em;
//    padding: 1.5em 0;
//    border-top: 1px solid #e5e5e5;
//    margin-bottom: -16px;
//    text-align: right;
//  }
//
//  &.hide_edit_controls {
//
//    .panel__content {
//
//      .m-button {
//        display: none;
//      }
//    }
//  }
//
//  &.members_panel {
//    .scener {
//      align-items: center;
//      display: flex;
//      gap: 4px;
//
//      .a-icon {
//        @include size(16px);
//      }
//    }
//  }
//}


//margin-block: 0 var(--template-gap, 20px);
//
//&__heading {
//  background-color: demozoo-color('primary');
//  border-right: 6px solid #ED89A3;
//  color: white;
//  font-family: FabricaRegular, sans-serif;
//  font-size: 10pt;
//  font-weight: normal;
//  min-width: 150px;
//  overflow: hidden;
//  padding: 6px;
//  text-transform: uppercase;
//}
//
//&__footer {
//  border-block-start: 1px solid #ccc;
//  padding-block: 10px 0;
//  text-align: right;
//}
