{% extends "base.html" %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block extra_head %}
	<script src="/static/js/maintenance.js"></script>
{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
	<h2>{{ title }}:</h2>
	<div id="main_column">
		<div class="panel report" data-report-name="{{ report_name }}">
			<ul>
				{% for nick in nicks %}
					<li class="{% if nick.releaser.is_group %}group{% else %}scener{% endif %} excludable" data-record-id="{{ nick.id }}">
						<a href="{{ nick.releaser.get_absolute_url }}">{{ nick.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}