{% extends "maintenance/base.html" %}

{% block html_title %}Credits in non-standard format - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
	<h2>Credits in non-standard format:</h2>
	<div id="main_column">
		<div class="panel">
			<ul class="report">
				{% regroup credits by role as role_list %}
				{% for role in role_list %}
					<li style="margin-top: 0.5em; margin-bottom: 0.5em;">
						<strong>{{ role.grouper }}</strong> <a href="javascript:void(0)" class="opener">({{ role.list|length }} entr{{ role.list|length|pluralize:"y,ies" }})</a>
						<ul class="credits" style="margin-left: 4em;">
							{% for credit in role.list %}
								<li>{{ credit.name }} on <a href="{% url production credit.production_id %}">{{ credit.title }}</a></li>
							{% endfor %}
						</ul>
						<form action="{% url maintenance_replace_credit_role %}" method="post">
							{% csrf_token %}
							change to:
							<input type="hidden" name="old_role" value="{{ role.grouper }}" />
							<input type="text" name="new_role" value="{{ role.grouper }}" />
							<input type="submit" value="update" />
						</form>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<script>
		$('.report > li').each(function() {
			var credits = $(this).find('ul.credits');
			credits.hide();
			$(this).find('a.opener').toggle(function() {
				credits.slideDown('fast');
			}, function() {
				credits.slideUp('fast');
			});
		})
	</script>
{% endblock %}