{% extends "maintenance/base.html" %}
{% load url from future %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
	<h2>{{ title }}: <a href="?">all</a> | <a href="?without_note=true">without notes</a></h2>
	<div id="main_column">
		<div class="panel report" data-report-name="{{ report_name }}">
			<table>
				{% for releaser in sceners %}
					<tr {% if releaser.real_name_note %}style="background-color: #ccc"{% endif %}>
						<td>
							<a href="{{ releaser.get_absolute_url }}">{{ releaser.name }}</a>
						</td>
						<td>
							{% if releaser.show_first_name %}{{ releaser.first_name }}{% else %}<span class="redacted">{{ releaser.first_name }}</span>{% endif %}
							{% if releaser.show_surname %}{{ releaser.surname }}{% else %}<span class="redacted">{{ releaser.surname }}</span>{% endif %}
						</td>
						<td>
							<a href="{% url 'scener_edit_real_name' releaser.id %}?ajax_submit=true" class="open_in_lightbox">
								<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit real name" title="Edit real name" />
							</a>
						</td>
						<td style="width: 80%;">
							<div style="display:block; max-width: 600px; word-wrap: break-word;">
								{{ releaser.real_name_note }}
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}