{% extends "maintenance/base.html" %}
{% load demoscene_tags %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
	<h2>The scene.org unmatched party report of doom</h2>
	<p>{{ matched_count }} of {{ total_count }} directories matched so far!</p>
	
	<div style="width: 800px; height: 20px; background-color: #eee; border: 1px solid black;">
		<div style="width:{% widthratio matched_count total_count 800 %}px; height: 20px; background-color: #080"></div>
	</div>
	
	<h3 style="padding-top: 0.5em">{{ title }}:</h3>
	<div id="main_column">
		<table>
			<tr>
				<th>Path</th><th>Best guess at party series</th><th>Best guess at party</th>
			</tr>
			{% for dir in directories %}
				<tr>
					<td><a href="{{ dir.web_url }}">{{ dir.path }}</a></td>
					<td>
						{% if dir.suggested_series_name %}
							<a href="{% url party_series dir.suggested_series_id %}">{{ dir.suggested_series_name }}</a>
						{% endif %}
					</td>
					<td>
						{% if dir.suggested_party_name %}
							<a href="{% url party dir.suggested_party_id %}">{{ dir.suggested_party_name }}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}