<h2>Adding screenshots for {{ production.title }}:</h2>

<form action="{% url production_add_screenshot production.id %}" method="post" enctype="multipart/form-data" class="entry_form">
	{% csrf_token %}
	
	<div class="field">
		<label for="id_form-0-original" class="field_label">Image files</label>
		<div class="field_input spawning_formset">
			{{ formset.management_form }}
			<ul>
				{% for form in formset.forms %}
					<li>
						<div class="formset_item">{{ form.original }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="field">
		<input type="submit" />
	</div>
</form>
