{% extends base_template_with_ajax_option %}
{% load query_string %}
{% load url from future %}

{% block base_main %}
	<div class="form_title">
		<h2>New production</h2>
		<p>(see also:
			<a href="{% url 'new_music' %}{% query_string "" "" %}" class="open_in_lightbox">New music</a>
			| <a href="{% url 'new_graphics' %}{% query_string "" "" %}" class="open_in_lightbox">New graphics</a>)</p>
	</div>

	<form action="{% url 'new_production' %}" method="post" class="entry_form">
		{% csrf_token %}
		
		{% with form.title as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
		
		{% with form.byline as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
		
		{% with form.release_date as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
		
		{% with form.types as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
		
		{% with form.platforms as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
		
		{% include "shared/production_download_formset.html" %}
		<div class="field">
			<input type="submit" />
		</div>
	</form>
{% endblock %}