<h2>Editing download link for {{ production.title }}:</h2>

<form action="{% url production_edit_download_link production.id production_link.id %}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
		{% include "shared/form_field.html" %}
	{% endfor %}
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
	
	<div class="field">
		<input type="submit" />
	</div>
	
	<p><a href="{% url production_delete_download_link production.id production_link.id %}"  class="open_in_lightbox">Delete download link</a></p>
</form>
