{% load spawning_formset %}
{% load url from future %}

<h2>Editing external links for {{ production.title }}:</h2>

<form action="{% url 'production_edit_external_links' production.id %}" method="post" class="entry_form">
	{% csrf_token %}
	<div class="field">
		<label for="id_external_links-0-url" class="field_label">Link URLs</label>
		<div class="field_input">
			{% spawningformset formset %}
				{% spawningform as form %}
					{{ form.url }}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
				{% endspawningform %}
			{% endspawningformset %}
		</div>
	</div>
	<div class="field">
		<input type="submit" />
	</div>
</form>
