{% load spawning_formset %}

<h2>Editing {{ production.supertype }}: {{ production.title }}</h2>

<form action="{{ production.get_edit_core_details_url }}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% with form.title as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% with form.byline as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	{% with form.release_date as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}

	{% if form.has_multiple_types %}
		{% with form.types as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
	{% else %}
		{% with form.type as field %}
			{% include "shared/form_field.html" %}
		{% endwith %}
	{% endif %}
	
	{% with form.platforms as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}

	{% if invitation_formset %}
		<div class="field">
			<label class="field_label">Invitation for party</label>
			<div class="field_input">
				{% spawningformset invitation_formset add_button_text="another party" %}
					{% spawningform as form %}
						{{ form.party.errors }}
						{{ form.party }}
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					{% endspawningform %}
				{% endspawningformset %}
			</div>
		</div>
	{% endif %}
	
	<div class="field">
		<input type="submit" />
	</div>
</form>
