<h2>Editing production: {{ production.title }}</h2>

<form action="{% url production_edit_core_details production.id %}" method="post" class="entry_form">
	{% csrf_token %}
	
	{% with form.title as field %}
		{% include "shared/form_field.html" %}
	{% endwith %}
	
	<div class="field">
		<label for="byline" class="field_label">By</label>
		<div class="field_input">
			<input type="text" id="byline" class="byline_autocomplete" value="{{ production.byline }}" />
			<div class="matched_names" id="byline_matched_names">
				{{ author_formset }}
				{{ affiliation_formset }}
			</div>
		</div>
	</div>
	
	<div class="field">
		<label for="id_prod_type-0-production_type" class="field_label">Type</label>
		<div class="field_input spawning_formset">
			{{ production_type_formset.management_form }}
			<ul>
				{% for prod_type_form in production_type_formset.forms %}
					<li>
						<div class="formset_item">{{ prod_type_form.production_type }}</div>
						<span class="delete">{{ prod_type_form.DELETE }} {{ prod_type_form.DELETE.label_tag }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="field">
		<label for="id_prod_platform-0-platform" class="field_label">Platform</label>
		<div class="field_input spawning_formset">
			{{ production_platform_formset.management_form }}
			<ul>
				{% for prod_platform_form in production_platform_formset.forms %}
					<li>
						<div class="formset_item">{{ prod_platform_form.platform }}</div>
						<span class="delete">{{ prod_platform_form.DELETE }} {{ prod_platform_form.DELETE.label_tag }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="field">
		<input type="submit" />
	</div>
</form>
