{% for field in form %}
	{% include "shared/form_field.html" %}
{% endfor %}

<div class="field">
	<label for="id_prod_type-0-production_type" class="field_label">Type</label>
	<div class="field_input spawning_formset">
		{{ production_type_formset.management_form }}
		<ul>
			{% for prod_type_form in production_type_formset.forms %}
				<li>
					<div class="formset_item">{{ prod_type_form.production_type }}</div>
					<span class="delete">{{ prod_type_form.DELETE }} {{ prod_type_form.DELETE.label_tag }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="field">
	<label for="id_prod_platform-0-platform" class="field_label">Platform</label>
	<div class="field_input spawning_formset">
		{{ production_platform_formset.management_form }}
		<ul>
			{% for prod_platform_form in production_platform_formset.forms %}
				<li>
					<div class="formset_item">{{ prod_platform_form.platform }}</div>
					<span class="delete">{{ prod_platform_form.DELETE }} {{ prod_platform_form.DELETE.label_tag }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="field">
	<label for="id_download_links-0-url" class="field_label">Download URL</label>
	<div class="field_input spawning_formset">
		{{ download_link_formset.management_form }}
		<ul>
			{% for dl_form in download_link_formset.forms %}
				<li>
					<div class="formset_item">
						{{ dl_form.url }}
						{% for hidden in dl_form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					</div>
					<span class="delete">{{ dl_form.DELETE }} {{ dl_form.DELETE.label_tag }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
