{% extends "base.html" %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block base_main %}
	<h2>{{ title }}</h2>
	
	{% if add_item_url %}
		<ul class="actions">
			<li><a href="{{ add_item_url }}" class="add open_in_lightbox">{{ add_item_text }}</a></li>
		</ul>
	{% endif %}
	
	<ul>
		{% with production_page.object_list as productions %}
			{% include "shared/production_listing.html" %}
		{% endwith %}
	</ul>
	
	{% with production_page as page %}
		{% include "shared/pagination_links.html" %}
	{% endwith %}
{% endblock %}
