{% extends "base.html" %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block legacy_css %}{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="/static/css/components/production_listing.less" type="text/less" />
{% endblock %}

{% block base_main %}
	{% if add_item_url and site_is_writeable %}
		<ul class="actions">
			<li><a href="{{ add_item_url }}" class="action_button icon add open_in_lightbox">{{ add_item_text }}</a></li>
		</ul>
	{% endif %}

	<h2>{{ title }}</h2>

	<p>
		Order by:
		{% if order == 'title' %}<strong><a href="?order=title&dir={% if asc %}desc{% else %}asc{% endif %}">Title</a></strong>{% else %}<a href="?order=title">Title</a>{% endif %}
		| {% if order == 'date' %}<strong><a href="?order=date&dir={% if asc %}desc{% else %}asc{% endif %}">Release date</a></strong>{% else %}<a href="?order=date">Release date</a>{% endif %}
	</p>

	<ul>
		{% with production_page.object_list as productions %}
			{% include "shared/production_listing.html" with show_screenshots=1 %}
		{% endwith %}
	</ul>
	
	{% with production_page as page %}
		{% include "shared/pagination_links.html" %}
	{% endwith %}
{% endblock %}
