{% extends "base.html" %}
{% load demoscene_tags %}
{% load url from future %}

{% block html_title %}{{ production.title }} {% if production.byline_string %}by {{ production.byline_string }}{% endif %} - Demozoo{% endblock %}

{% block legacy_css %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/lightbox.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/production_core_details.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/production_listing.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/external_links.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/tags_panel.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/credits_panel.less" type="text/less" />

	<link rel="stylesheet" href="/static/css/pages/show_production.less" type="text/less" />
{% endblock %}

{% block extra_js %}
	<script src="/static/js/screenshot_carousel.js"></script>
	<script src="/static/js/tags_panel.js"></script>
	<script src="/static/js/credits_panel.js"></script>
	<script>
		$(function() {
			$('.edit_chunk').hover(function() {
				$(this).closest('.editable_chunk').addClass('hover');
			}, function() {
				$(this).closest('.editable_chunk').removeClass('hover');
			});
		});
	</script>
{% endblock %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
	{% include "productions/_core_details.html" with show_edit_button=site_is_writeable %}

	{% if production.can_have_screenshots %}
		{% include "productions/_screenshots.html" %}
	{% endif %}

	{% include "productions/_downloads.html" %}

	{% include "productions/_external_links.html" %}

	{% include "productions/_tags.html" %}

	<div style="clear: both;"></div>
	
	{% include "productions/_notes.html" %}

	<div class="secondary_panels">
		{% if production.can_have_credits %}
			{% include "productions/_credits.html" %}
		{% endif %}

		{% if featured_in_productions %}
			<div class="featured_in_panel panel">
				<h3>Featured in:</h3>
				{% with featured_in_productions as productions %}
					{% include "shared/production_listing.html" with show_screenshots=1 %}
				{% endwith %}
			</div>
		{% endif %}

		{% if production.can_have_soundtracks %}
			<div class="soundtracks_panel panel editable_chunk">
				<h3>Soundtrack</h3>

				{% if site_is_writeable %}
					<ul class="actions">
						<li>
							<a href="{% url 'production_edit_soundtracks' production.id %}" class="action_button icon edit edit_chunk open_in_lightbox" title="Edit soundtrack details">Edit</a>
						</li>
					</ul>
				{% endif %}

				{% with soundtracks as productions %}
					{% include "shared/production_listing.html" %}
				{% endwith %}
				
			</div>
		{% endif %}
	</div>

	{% last_edited_by production %}
	
	{% if request.user.is_staff and site_is_writeable %}
		<ul class="maintenance_actions">
			<li><a href="{% url 'delete_production' production.id %}" class="action_button icon delete open_in_lightbox">Delete production</a></li>
		</ul>
	{% endif %}
{% endblock %}
