{% extends "base.html" %}
{% load demoscene_tags %}
{% load url from future %}

{% block html_title %}{{ production.title }} {% if production.byline_string %}by {{ production.byline_string }}{% endif %} - Demozoo{% endblock %}

{% block legacy_css %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/lightbox.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/production_listing.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/external_links.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/show_production.less" type="text/less" />
{% endblock %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
	{% include "productions/_core_details.html" with show_edit_button=1 %}

	<div>
		{% if production.can_have_screenshots %}
			{% include "shared/production_screenshots.html" %}
		{% endif %}
		
		<div class="production_details">
			{% include "shared/production_external_links.html" %}

			{% include "shared/production_tags.html" %}
		</div>
		
		<div style="clear: both;"></div>
	</div>
	
	{% include "shared/production_notes.html" %}
	
	<div id="side_column">
		{% if production.can_have_credits %}
			{% include "shared/production_credits.html" %}
		{% endif %}
	</div>
	
	<div id="main_column">
		
		{% if featured_in_productions %}
			<div class="panel">
				<h3 class="productions_header">Featured in:</h3>
				{% with featured_in_productions as productions %}
					{% include "shared/production_listing.html" with show_screenshots=1 %}
				{% endwith %}
			</div>
		{% endif %}
		
		{% include "shared/production_downloads.html" %}
		
		{% if production.can_have_soundtracks %}
			<div class="panel">
				<h3 class="soundtracks_header">Soundtrack</h3>
				{% with soundtracks as productions %}
					{% include "shared/production_listing.html" %}
				{% endwith %}
				
				<ul>
					<li class="edit">
						<a href="{% url 'production_edit_soundtracks' production.id %}" class="open_in_lightbox">Edit soundtrack details</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>

	{% last_edited_by production %}
	
	{% if request.user.is_staff %}
		<ul class="maintenance_actions">
			<li><a href="{% url 'delete_production' production.id %}" class="action_button icon delete open_in_lightbox">Delete production</a></li>
		</ul>
	{% endif %}
{% endblock %}
