{% extends "base.html" %}
{% load demoscene_tags %}
{% load url from future %}

{% block html_title %}{{ production.title }} {% if production.byline_string %}by {{ production.byline_string }}{% endif %} - Demozoo{% endblock %}

{% block legacy_css %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/lightbox.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/production_core_details.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/production_listing.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/components/external_links.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/tags_panel.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/components/credits_panel.less" type="text/less" />

	<link rel="stylesheet" href="/static/css/pages/show_production.less" type="text/less" />
{% endblock %}

{% block extra_js %}
	<script src="/static/js/screenshot_carousel.js"></script>
	<script src="/static/js/tags_panel.js"></script>
	<script src="/static/js/credits_panel.js"></script>
	<script src="/static/js/modal_workflow.js"></script>
	<script src="/static/js/show_production.js"></script>
{% endblock %}

{% block body_class %}show_production{% endblock %}

{% block base_main %}
	{% include "productions/_core_details.html" with show_edit_button=site_is_writeable %}

	{% if request.user.is_staff %}
		{% for blurb in blurbs %}
			<div class="blurb">
				<ul class="actions">
					<li><a href="{% url 'production_edit_blurb' production.id blurb.id %}" class="action_button icon edit open_in_lightbox">Edit</a></li>
				</ul>
				<p>{{ blurb.body }}</p>
			</div>
		{% endfor %}
	{% endif %}

	<div class="mainstage">
		{% if production.can_have_screenshots %}
			{% include "productions/_screenshots.html" %}
		{% else %}
			<div class="panel screenshots_panel">
				<div class="no_screenshot music"></div>
			</div>
		{% endif %}

		<div class="right">
			{% if download_links %}
				{% include "productions/_downloads.html" %}
			{% endif %}

			{% if external_links %}
				{% include "productions/_external_links.html" %}
			{% endif %}

			{% include "productions/_tags.html" %}

			{% if site_is_writeable %}
				<div class="panel tell_us_something_panel">
					<p>Got more info on this production?</p>

					<div class="tell_us_something">
						{% if user.is_authenticated %}
							<div class="tell_us_something_title">Tell us something!</div>
							<ul class="tell_us_something_options">
								<li><a href="{% url 'production_edit_download_links' production.id %}" class="open_in_lightbox">Add a download link</a></li>
								<li><a href="{% url 'production_edit_external_links' production.id %}" class="open_in_lightbox focus_empty_input">Add an external site link</a></li>
								{% if production.can_have_screenshots %}
									<li><a href="{% url 'production_add_screenshot' production.id %}" class="open_in_lightbox">Add a screenshot</a></li>
								{% endif %}
								<li><a href="{% url 'production_add_credit' production.id %}" class="add_credit">Add a credit</a></li>
								{% if production.can_have_soundtracks %}
									<li><a href="{% url 'production_edit_soundtracks' production.id %}" class="open_in_lightbox">Add a soundtrack listing</a></li>
								{% endif %}
								{% if request.user.is_staff and not blurbs %}
									<li><a href="{% url 'production_add_blurb' production.id %}" class="open_in_lightbox">Add a 'blurb'</a></li>
								{% endif %}
							</ul>
						{% else %}
							<div class="tell_us_something_title">
								<a href="{% url 'log_in' %}?next={{ production.get_absolute_url|urlencode }}">Tell us something!</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div style="clear: both;"></div>

	{% include "productions/_notes.html" %}

	<div class="secondary_panels {% if not credits and not featured_in_productions and not soundtracks %}hidden{% endif %}">
		{% include "productions/_credits.html" %}

		{% if featured_in_productions %}
			<div class="featured_in_panel panel">
				<h3>Featured in:</h3>
				{% with featured_in_productions as productions %}
					{% include "shared/production_listing.html" with show_screenshots=1 %}
				{% endwith %}
			</div>
		{% endif %}

		{% if soundtracks %}
			<div class="soundtracks_panel panel editable_chunk">
				<h3>Soundtrack</h3>

				{% if site_is_writeable %}
					<ul class="actions">
						<li>
							<a href="{% url 'production_edit_soundtracks' production.id %}" class="action_button icon edit edit_chunk open_in_lightbox" title="Edit soundtrack details">Edit</a>
						</li>
					</ul>
				{% endif %}

				{% with soundtracks as productions %}
					{% include "shared/production_listing.html" %}
				{% endwith %}

			</div>
		{% endif %}
	</div>

	{% last_edited_by production %}

	{% include "comments/_production_comments.html" %}

	{% if request.user.is_staff and site_is_writeable %}
		<ul class="maintenance_actions">
			<li><a href="{% url 'delete_production' production.id %}" class="action_button icon delete open_in_lightbox">Delete production</a></li>
		</ul>
	{% endif %}
{% endblock %}
