// shame.scss
// ----------
// Shamelessly pilfered from https://csswizardry.com/2013/04/shame-css/
// Hic sunt pulices :)

.ui-widget-content a:visited {
    // Deals with the pesky a:visited color for now.
    color: currentColor;
}

.list.-externalLinks a {
    background-repeat: no-repeat;
    background: no-repeat center left;
    padding: 3px 0 3px 20px;
}
