// shame.scss
// ----------
// Shamelessly pilfered from https://csswizardry.com/2013/04/shame-css/
// Hic sunt pulices :)

.ui-widget-content a:visited {
    // Deals with the pesky a:visited color for now.
    color: currentColor;
}

.credits li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}