{% extends "shared/panel.html" %}

{% block classnames %}awards_panel{% endblock %}
{% block title %}Awards{% endblock %}

{% block body %}
    <ul class="awards">
        {% for nomination in award_nominations %}
            <li class="{{ nomination.status }}">
                <b>{{ nomination.category.event.name }}</b> -
                {% if nomination.status == 'winner' %}
                    Winner of <a href="{{ nomination.category.get_results_url }}">{{ nomination.category.name }}</a>
                {% else %}
                    Nominated for <a href="{{ nomination.category.get_results_url }}">{{ nomination.category.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
