<div class="editable_chunk credits_panel panel {% if not credits %}hidden{% endif %} {% if can_edit %}edit_toggle {% if editing_credits %}editing{% endif %}{% endif %}" id="credits_panel">
    <h3 class="panel__title">Credits</h3>

    <ul class="credits">
        {% regroup credits by nick as nick_list %}
        {% for nick_credits in nick_list %}
            <li class="{% if nick_credits.grouper.releaser.is_group %}group{% else %}scener{% endif %}">
                <a href="{{ nick_credits.grouper.releaser.get_absolute_url }}">{{ nick_credits.grouper }}</a>
                -
                {% for credit in nick_credits.list %}
                    {{ credit.description }}{% if not forloop.last %},{% endif %}
                {% endfor %}

                {% if can_edit %}
                    <a href="{% url 'production_edit_credit' production.id nick_credits.grouper.id %}" class="edit_credit">
                        <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit credit" title="Edit credit" />
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if can_edit %}
        <ul class="listing_actions">
            <li><a href="{{ production.urls.add_credit }}" class="action_button icon-add add_credit">Add credit</a></li>
        </ul>
    {% endif %}
</div>
