{% load ui_tags safe_markdown %}

{% if production.notes or request.user.is_staff %}
    <div class="editable_chunk panel notes_panel">
        {% if request.user.is_staff and site_is_writeable %}
            <ul class="actions">
                <li>{% action_button icon="edit" classname="edit_chunk" lightbox=True url=production.urls.edit_notes label="Edit notes" %}</li>
            </ul>
        {% endif %}
        <div class="notes">
            {{ production.notes|safe_markdown }}
        </div>
    </div>
{% endif %}
