{% extends "shared/panel.html" %}
{% load production_tags ui_tags %}

{% block classnames %}pack_contents_panel editable_chunk{% endblock %}
{% block title %}Pack contents{% endblock %}

{% block actions %}
    {% if can_edit %}
        <ul class="actions">
            <li>
                {% edit_button url=production.urls.edit_pack_contents classname="edit_chunk" lightbox=True title="Edit pack contents" nofollow=True %}
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block body %}
    {% production_listing pack_members show_screenshots=1 %}
{% endblock %}
