.homepage {

	.banner {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 40%; /* relative to element width */
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;

		h1 {
			position: absolute;
			top: 50%;
			right: 6%;
			font-size: 28pt;
			font-family: FabricaRegular, Helvetica, Arial, sans-serif;
			background-color: rgba(32, 32, 32, 0.6);
			line-height: 1em;
			padding: 8px;
			color: #d4d2ff;
		}

		p {
			position: absolute;
			top: 68%;
			right: 6%;
			font-size: 12pt;
			font-family: FabricaRegular, Helvetica, Arial, sans-serif;
			background-color: rgba(32, 32, 32, 0.6);
			line-height: 1.2em;
			padding: 8px;
			color: white;
		}
	}

	.forum_topics {
		margin-bottom: 20px;
		.topics {
			clear: both;
			padding-top: 8px;
			li {
				a {
					display: block;
					padding: 4px;
					text-decoration: none;
					color: #222;
				}
				&.odd {
					background-color: #eee;
					&:hover {
						background-color: #ddd;
					}
				}
				&.even {
					background-color: #fff;
					&:hover {
						background-color: #ddd;
					}
				}

				.title {
					font-size: 10pt;
					font-weight: bold;
				}
				.meta {
					color: #888;
					font-size: 9pt;
				}
			}

		}

		.more {
			text-align: right;
		}
	}

	.news {
		clear: both;
		margin-top: 24px;
		border-top: 1px solid #888;
		border-bottom: 1px solid #888;

		.news_story {
			padding-top: 24px;

			h2 {
				font-family: FabricaRegular, Helvetica, Arial, sans-serif;
				float: left;
				margin-bottom: 8px;
			}

			.date {
				float: right;
				text-transform: uppercase;
				font-weight: bold;
				color: #888;
			}

			p {
				clear: both;
			}

		}

	}

	.new_releases, .new_additions {
		ul {
			clear: both;
			padding-top: 8px;
			li {
				a {
					display: block;
					overflow: hidden;
					text-decoration: none;
					color: inherit;
					border-radius: 2px;
					&:hover {
						background-color: #eee;
					}
				}
				.title {
					font-weight: bold;
					font-size: 11pt;
					color: #444;
				}
				.byline {
					color: #666;
					font-size: 9pt;
				}
				.platforms_and_types {
					font-family: FabricaRegular, Helvetica, Arial, sans-serif;
					text-transform: uppercase;
					color: #888;
					margin-top: 0.5em;
					font-size: 9pt;
				}
			}
		}
		.more {
			text-align: right;
		}
	}

	.new_releases {
		li {
			padding-top: 4px;
		}
		.thumbnail {
			border-radius: 2px;
			float: left;
			width: 133px;
			margin-right: 8px;
			padding: 4px;
			background-color: #bbb;
			img {
				display: block;
				margin: auto;
			}
		}
		.title {
			padding-top: 4px;
		}
		.byline {
			margin-top: 0.5em;
		}
	}

	.new_additions {
		li {
			border-bottom: 1px dotted #ccc;
			a {
				padding: 4px;
				.title {
					float: left;
					padding-right: 6px;
				}
				.byline {
					margin-top: 0.2em;
					float: left;
					padding-bottom: 0.3em;
				}
				.platforms_and_types {
					clear: both;
				}
			}
		}
	}

	.comments {
		margin-bottom: 20px;
		ul {
			clear: both;
			padding-top: 8px;
			li {
				clear: both;
				margin: 8px 0;
				padding-bottom: 8px;
				border-bottom: 1px dotted #888;
				q {
					font-style: italic;
				}
			}
		}
	}

	.now_serving {
		h3 {
			margin-top: 8px;
			padding-right: 24px;
		}
		ul {
			list-style-type: none;
			padding: 8px 0 0 0;
			text-align: center;

			li {
				display: inline;
				white-space: nowrap;
				line-height: 24px;
				padding-right: 12px;

				a {
					padding: 4px 0 4px 22px;
					background-repeat: no-repeat;
					background-position: left 3px;
					text-decoration: none;
					color: #444;
					&:hover {
						text-decoration: underline;
					}
				}

				&.productions a {
					background-image: url(/static/images/icons/disk.png);
				}
				&.graphics a {
					background-image: url(/static/images/icons/palette.png);
				}
				&.music a {
					background-image: url(/static/images/icons/music.png);
				}
				&.groups a {
					background-image: url(/static/images/icons/group.png);
				}
				&.sceners a {
					background-image: url(/static/images/icons/scener.png);
				}
			}
		}
	}

}

/* Small-screen versions */
@media screen and (max-width: 1081px) {
	.homepage .banner {
		.banner_text {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		h1 {
			position: static;
			text-align: right;
			padding-right: 6%;
			width: auto;
			font-size: 20pt;
		}
		p {
			position: static;
			width: auto;
			margin: 0;
			font-size: 11pt;
		}
	}
}

@media screen and (max-width: 601px) {
	.homepage .banner {
		h1 {
			font-size: 18pt;
		}
	}
}
