.sceneid_login_button {
    background: url('/static/images/SceneID_Icon_120x44.png');
    display: block;
    height: 44px;
    line-height: 200px;
    margin: 5px 0 0;
    overflow: hidden;
    width: 120px;
}
