.production_listing_filters {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-block: 0 10px;
    padding: 10px;

    .fields {
        @include listReset();

        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}
