.production_core_details {
    padding-bottom: 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .production_title {
        padding-block: 5px 10px;

        h2 {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            font-size: 26pt;
            padding-right: 8px;
            display: inline;
            line-height: 28pt;
        }

        h3 {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            font-size: 14pt;
            display: inline;
            letter-spacing: -1px;
            line-height: 20pt;
        }
    }

    h4 {
        font-family: FabricaRegular, Helvetica, Arial, sans-serif;
        font-size: 11pt;
        letter-spacing: -1px;
        padding-left: 10px;
        line-height: 1.5em;
    }

    .attributes {
        width: 100%;
        border-top: 1px solid #ccc;
        padding-top: 10px;

        li {
            color: #555;
            float: left;
            padding-left: 16px;
            background-image: url(/static/images/icons/mini_bullet.png);
            background-repeat: no-repeat;
            background-position: left center;
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:first-child {
                background-image: none;
                padding-left: 0;
            }
        }
    }
}

.production_types {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-block: 0 10px;
}
