.production_core_details {
    padding-bottom: 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .production_title {
        padding-block: 5px 10px;

        h2 {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            font-size: 26pt;
            padding-right: 8px;
            display: inline;
            line-height: 28pt;
        }

        h3 {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            font-size: 14pt;
            display: inline;
            letter-spacing: -1px;
            line-height: 20pt;
        }
    }

    h4 {
        font-family: FabricaRegular, Helvetica, Arial, sans-serif;
        font-size: 11pt;
        letter-spacing: -1px;
        padding-left: 10px;
        line-height: 1.5em;
    }

}

.production_types {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-block: 0 10px;
}
