<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block html_title %}Demozoo{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/demozoo.css" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.color.js"></script>{# TODO: minify #}
		<script type="text/javascript" src="/static/js/demozoo.js"></script>
	</head>
	<body>
		<div id="site_header">
			<h1><a href="{% url home %}">Demozoo</a></h1>
			<ul id="main_menu">
				<li><a href="{% url productions %}">Productions</a></li>
				<li><a href="{% url groups %}">Groups</a></li>
				<li><a href="{% url sceners %}">Sceners</a></li>
			</ul>
			{% if user.is_authenticated %}
				Logged in as <b>{{ user.username }}</b> - <a href="{% url log_out_next next_page=request.get_full_path %}">Log out</a>
			{% else %}
				<a href="{% url log_in %}?next={% if request.path == '/accounts/login/' %}{{ next|urlencode }}{% else %}{{ request.get_full_path|urlencode }}{% endif %}">Log in</a>
			{% endif %}
			<br style="clear: both;" />
		</div>
		
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		
		{% block base_main %}{% endblock %}
	</body>
</html>
