{% if not request.is_ajax %}<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block html_title %}Demozoo{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/demozoo.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/jquery_ui/overcast/theme.css" type="text/css" />{# TODO: consider folding into widget resources. Also, decide which theme we actually want #}
		<link rel="stylesheet" href="/static/css/jquery.asmselect.css" type="text/css" />
		{% if use_local_jquery %}
			<script src="/static/js/jquery-1.4.2.min.js"></script>
		{% else %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		{% endif %}
		<script src="/static/js/jquery.color.js"></script>{# TODO: minify #}
		<script src="/static/js/jquery.autocomplete.min.js"></script>
		<script src="/static/js/jquery.ui.core.js"></script>{# TODO: minify #}
		<script src="/static/js/jquery.ui.datepicker.js"></script>{# TODO: minify, and consider folding into widget resources to reduce up-front load times #}
		<script src="/static/js/jquery.ui.widget.js"></script>{# TODO: minify #}
		<script src="/static/js/jquery.ui.mouse.js"></script>{# TODO: minify #}
		<script src="/static/js/jquery.ui.sortable.js"></script>{# TODO: minify #}
		<script src="/static/js/jquery.spawning_formset.js"></script>
		<script src="/static/js/jquery.asmselect.js"></script>
		<script src="/static/js/jcarousellite-1.0.1.min.js"></script>
		<script src="/static/js/nick_match_widget.js"></script>
		<script src="/static/js/fuzzy_date_parser.js"></script>
		<script src="/static/js/byline_field.js"></script>
		<script src="/static/js/results_table.js"></script>
		<script type="text/javascript" src="/static/js/demozoo.js"></script>
	</head>
	<body class="{% block body_class %}default{% endblock %}">
		<div id="site_header">
			<h1><a href="{% url home %}">Demozoo</a></h1>
			<ul id="main_menu">
				<li><a href="{% url productions %}">Productions</a></li>
				<li><a href="{% url musics %}">Music</a></li>
				<li><a href="{% url graphics %}">Graphics</a></li>
				<li><a href="{% url groups %}">Groups</a></li>
				<li><a href="{% url sceners %}">Sceners</a></li>
				<li><a href="{% url parties %}">Parties</a></li>
			</ul>
			<div id="login_status_panel">
				{% if user.is_authenticated %}
					<div class="login_status">
						Logged in as <b>{{ user.username }}</b>
					</div>
					<div class="login_links">
						<a href="{% url account_preferences %}">Preferences</a> | <a href="{% url log_out %}">Log out</a>
					</div>
				{% else %}
					<div class="login_links">
						<a href="{% url log_in %}">Log in</a> | <a href="{% url user_signup %}">Register</a>
					</div>
				{% endif %}
			</div>
			<form class="search" method="get" action="{% url search %}">
				<label for="id_q">Search:</label> {{ global_search_form.q }}
				<input type="submit" value="search" />
			</form>
			<br style="clear: both;" />
		</div>
		
		<div id="site_main">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
{% endif %}
			{% block base_main %}{% endblock %}
{% if not request.is_ajax %}
		<div>
		<div id="site_footer"></div>
	</body>
</html>
{% endif %}
