{% if not request.is_ajax %}<!DOCTYPE html>
{% load compress %}
{% load menu %}
{% load url from future %}
<!--[if lt IE 7]><html class="no-js ie6 legacy" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 legacy" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 legacy" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block html_title %}Demozoo{% endblock %}</title>
		{% compress css %}
			<link rel="stylesheet" href="/static/css/demozoo.css" type="text/css" />
			<link rel="stylesheet" href="/static/css/jquery_ui/overcast/theme.css" type="text/css" />{# TODO: consider folding into widget resources. Also, decide which theme we actually want #}
			<link rel="stylesheet" href="/static/css/jquery.asmselect.css" type="text/css" />
		{% endcompress %}
		{% compress css %}
			{% block extra_css %}{% endblock %}
		{% endcompress %}
		
		{% compress js %}
            <script src="/static/js/lib/modernizr.js"></script>
			<script src="/static/js/jquery-1.7.1.js"></script>
			{# TODO: consider folding things like datepicker into widget resources, and only loading them on edit pages, to reduce up-front load times for people who rarely edit #}
			<script src="/static/js/jquery.color.js"></script>
			<script src="/static/js/jquery.ui.core.js"></script>
			<script src="/static/js/jquery.ui.position.js"></script>
			<script src="/static/js/jquery.ui.widget.js"></script>
			<script src="/static/js/jquery.ui.autocomplete.js"></script>
			<script src="/static/js/jquery.ui.datepicker.js"></script>
			<script src="/static/js/jquery.ui.mouse.js"></script>
			<script src="/static/js/jquery.ui.sortable.js"></script>
			<script src="/static/js/jquery.cookie.js"></script>
			<script src="/static/js/jquery.uid.js"></script>
			<script src="/static/js/jquery.typeahead.js"></script>
			<script src="/static/js/jquery.spawning_formset.js"></script>
			<script src="/static/js/jquery.asmselect.js"></script>
			<script src="/static/js/jquery.ajaxqueue.js"></script>
			<script src="/static/js/jcarousellite-1.0.1.min.js"></script>
			<script src="/static/js/nick_match_widget.js"></script>
			<script src="/static/js/fuzzy_date_parser.js"></script>
			<script src="/static/js/byline_field.js"></script>
			<script src="/static/js/json2-min.js"></script>
			<script src="/static/js/lightbox.js"></script>
			<script src="/static/js/demozoo.js"></script>
		{% endcompress %}
		{% compress js %}
			{% block extra_js %}{% endblock %}
		{% endcompress %}
		
		{% block extra_head %}{% endblock %}
	</head>
	<body lang="en" class="{% block body_class %}default{% endblock %}">
			<div id="page">
			<header id="site_header">
				<h1><a href="{% url 'home' %}">Demozoo</a></h1>
				{% block login_status_panel %}
					<div id="login_status_panel">
						{% if user.is_authenticated %}
							<div class="login_status logged_in">
								{{ user.username }}
							</div>
							<div class="login_links">
								<ul>
									<li><a href="{% url 'account_preferences' %}">Preferences</a></li>
									<li><a href="{% url 'account_change_password' %}">Change password</a></li>
									{% if user.is_staff %}
										<li><a href="{% url 'maintenance_index' %}">Maintenance</a></li>
									{% endif %}
									<li><a href="{% url 'log_out' %}">Log out</a></li>
								</ul>
							</div>
						{% else %}
							<div class="login_status logged_out">
								Not logged in
							</div>
							<div class="login_links">
								<form action="{% url 'log_in' %}" method="post">
									{% csrf_token %}
									{{ global_login_form.as_p }}
									<input type="submit" value="Log in" />
								</form>
								<ul>
									<li><a href="{% url 'user_signup' %}">Register new account</a></li>
								</ul>
							</div>
						{% endif %}
					</div>
					<script>$('#login_status_panel .login_links').hide();</script>
				{% endblock %}
				<nav>
					<ul>
						<li class="{% nav_active productions %}"><a href="{% url 'productions' %}">Productions</a></li>
						<li class="{% nav_active music %}"><a href="{% url 'musics' %}">Music</a></li>
						<li class="{% nav_active graphics %}"><a href="{% url 'graphics' %}">Graphics</a></li>
						<li class="{% nav_active groups %}"><a href="{% url 'groups' %}">Groups</a></li>
						<li class="{% nav_active sceners %}"><a href="{% url 'sceners' %}">Sceners</a></li>
						<li class="{% nav_active parties %}"><a href="{% url 'parties' %}">Parties</a></li>
					</ul>
					{% block global_search_form %}
						<form class="search" method="get" action="{% url 'search' %}">
							{{ global_search_form.q }}
							<input type="submit" value="Search" />
						</form>
					{% endblock %}
				</nav>
				<div style="clear: both;"></div>
			</header>
			
			<div id="site_main">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
	{% endif %}
				{% block base_main %}{% endblock %}
	{% if not request.is_ajax %}
				<div style="clear: both;"></div>
			</div>
			<div id="site_footer"></div>
		</div>
	</body>
</html>
{% endif %}
