{% extends 'base.html' %}
{% load demoscene_tags %}
{% load safe_markdown %}
{% load url from future %}

{% block body_class %}homepage{% endblock %}

{% block base_main %}
	{% if banner %}
		<a href="{{ banner.url }}" class="banner" style="background-image: url('{{ banner.image.url }}');">
			<h1>{{ banner.title }}</h1>
			{{ banner.text|safe_markdown }}
		</a>
	{% endif %}

	<ul class="teasers">
		{% for teaser in teasers %}
			<li>
				<a href="{{ teaser.url }}" class="teaser" style="background-image: url('{{ teaser.image.url }}');">
					<div class="caption">
						<h3>{{ teaser.title }}</h3>
						{{ teaser.text|safe_markdown }}
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>

	<div style="clear: both;"></div>

	{% site_stats %}
	<p>
		<a href="{% url 'latest_activity' %}">Latest activity</a>
		| <a href="{% url 'recent_edits' %}">Recent edits</a>
	</p>
{% endblock %}
