{% extends 'base.html' %}
{% load demoscene_tags %}

{% block base_main %}
	<div class="chart_set">
		<div class="chart">
			<h2>Latest added productions</h2>
			<ul>
				{% for production in latest_added_productions %}
					<li class="{{ production.supertype }}"><a href="{{ production.get_absolute_url }}">{{ production.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated productions</h2>
			<ul>
				{% for production in latest_updated_productions %}
					<li class="{{ production.supertype }}"><a href="{{ production.get_absolute_url }}">{{ production.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="chart_set">
		<div class="chart">
			<h2>Latest added sceners</h2>
			<ul>
				{% for scener in latest_added_sceners %}
					<li class="scener">{% scener_with_affiliations scener.primary_nick %}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated sceners</h2>
			<ul>
				{% for scener in latest_updated_sceners %}
					<li class="scener">{% scener_with_affiliations scener.primary_nick %}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="chart_set">
		<div class="chart">
			<h2>Latest added groups</h2>
			<ul>
				{% for group in latest_added_groups %}
					{% with group.primary_nick as nick %}
						<li class="group"><a href="{% url group nick.releaser_id %}">{{ nick.name }}</a></li>
					{% endwith %}
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated groups</h2>
			<ul>
				{% for group in latest_updated_groups %}
					{% with group.primary_nick as nick %}
						<li class="group"><a href="{% url group nick.releaser_id %}">{{ nick.name }}</a></li>
					{% endwith %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
