{% extends 'base.html' %}
{% load demoscene_tags compress %}
{% load url from future %}
{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" href="/static/css/pages/latest_activity.less" type="text/less" />
	{% endcompress %}
{% endblock %}

{% block base_main %}
	<h2>Latest activity</h2>

	{% site_stats as stats %}
	<p>
		<b>Now serving...</b>
		{{ stats.production_count }} production{{ stats.production_count|pluralize }} -
		{{ stats.graphics_count }} graphics -
		{{ stats.music_count }} music track{{ stats.music_count|pluralize }} -
		{{ stats.group_count }} group{{ stats.group_count|pluralize }} -
		{{ stats.scener_count }} scener{{ stats.scener_count|pluralize }}
	</p>

	<p><a href="{% url 'recent_edits' %}">Recent edits</a></p>
	<div class="chart_set">
		<div class="chart">
			<h2>Latest added productions</h2>
			<ul class="production_list">
				{% for production in latest_added_productions %}
					<li class="{{ production.supertype }}"><a href="{{ production.get_absolute_url }}">{{ production.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated productions</h2>
			<ul class="production_list">
				{% for production in latest_updated_productions %}
					<li class="{{ production.supertype }}"><a href="{{ production.get_absolute_url }}">{{ production.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="chart_set">
		<div class="chart">
			<h2>Latest added sceners</h2>
			<ul class="releaser_list">
				{% for scener in latest_added_sceners %}
					<li class="scener">{% scener_with_affiliations scener %}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated sceners</h2>
			<ul class="releaser_list">
				{% for scener in latest_updated_sceners %}
					<li class="scener">{% scener_with_affiliations scener %}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="chart_set">
		<div class="chart">
			<h2>Latest added groups</h2>
			<ul class="releaser_list">
				{% for group in latest_added_groups %}
					<li class="group"><a href="{% url 'group' group.id %}">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="chart">
			<h2>Latest updated groups</h2>
			<ul class="releaser_list">
				{% for group in latest_updated_groups %}
					<li class="group"><a href="{% url 'group' group.id %}">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
