{% extends 'base.html' %}

{% block html_title %}Recent edits - Demozoo{% endblock %}

{% block base_main %}
	<h2>Recent edits</h2>

	<table class="history">
		{% for edit in edits_page.object_list %}
			<tr>
				<td class="timestamp">{{ edit.timestamp|date:"Y-m-d H:i:s" }}</td>
				<td class="user"><strong>{{ edit.user }}</strong></td>
				<td>
					{{ edit }}
				</td>
			</tr>
		{% endfor %}
	</table>

	{% with edits_page as page %}
		{% include "shared/pagination_links.html" %}
	{% endwith %}
{% endblock %}
