{% extends base_template_with_ajax_option %}
{% load url from future %}

{% block html_title %}New competition for {{ party.name }} - Demozoo{% endblock %}

{% block extra_head %}
	{% include "shared/editor_css.html" %}
	{% include "shared/editor_js.html" %}
	<script>
		$(function() {
			applyEditControls($('form.add_competition_form'));
		})
	</script>
{% endblock %}

{% block base_main %}
	<h2>New competition for {{ party.name }}:</h2>

	<form action="{% url 'party_add_competition' party.id %}" method="post" class="entry_form add_competition_form">
		{% csrf_token %}
		
		{% for field in form.visible_fields %}
			{% include "shared/form_field.html" %}
		{% endfor %}
		
		<div class="field">
			<input type="submit" value="Create" />
		</div>
	</form>
{% endblock %}