{% extends "base.html" %}
{% load demoscene_tags ui_tags %}


{% block html_title %}Parties - Demozoo{% endblock %}
{% block body_class %}parties_by_date{% endblock %}

{% block base_main %}
    <header class="page__header">
        {% if site_is_writeable %}
        <div class="o-actions">
            {% url 'new_party' as new_party_url %}
            {% button href=new_party_url icon="add" label="New Party" lightbox=True %}
        </div>
        {% endif %}
        <h1 class="page__title">Parties</h1>
    </header>
    <p>
        <strong>By date</strong> | <a href="{% url 'parties_by_name' %}">By name</a>
    </p>

    <ul class="submenu years">
        {% for year in years %}
            {% if year.year == selected_year %}
                <li class="active"><strong>{{ year.year }}</strong></li>
            {% else %}
                <li><a href="{% url 'parties_year' year=year.year %}">{{ year.year }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>{{ selected_year }}</h2>
    <ul class="list parties">
        {% for party in parties %}
            <li class="list__item">
                {% if party.is_cancelled %}<del>{% endif %}
                <a href="{{ party.get_absolute_url }}">{{ party.name }}</a>
                - {% date_range party.start_date party.end_date %}
                {% if party.is_online %}
                    - Online
                    <img src="/static/images/icons/computer.png" alt="" />
                {% elif party.location %}
                    - 
                    {{ party.location }}
                    {% if party.country_code %}
                        <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
                    {% endif %}
                {% endif %}
                {% if party.is_cancelled %}</del> <em>Cancelled</em>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
