{% extends "base.html" %}
{% load ui_tags demoscene_tags %}


{% block html_title %}Parties - Demozoo{% endblock %}
{% block body_class %}parties_by_date{% endblock %}

{% block base_main %}
    {% if site_is_writeable %}
        <ul class="actions">
            <li>{% icon_button url="new_party" icon="add" lightbox=True label="New party" %}</li>
        </ul>
    {% endif %}

    <h2>Parties</h2>
    
    <p>
        <strong>By date</strong> | <a href="{% url 'parties_by_name' %}">By name</a>
    </p>

    <ul class="submenu years">
        {% for year in years %}
            {% if year.year == selected_year %}
                <li class="active"><strong>{{ year.year }}</strong></li>
            {% else %}
                <li><a href="{% url 'parties_year' year=year.year %}">{{ year.year }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h3>{{ selected_year }}</h3>
    <ul class="parties">
        {% for party in parties %}
            <li>
                {% if party.is_cancelled %}<del>{% endif %}
                <a href="{{ party.get_absolute_url }}">{{ party.name }}</a>
                - {% date_range party.start_date party.end_date %}
                {% if party.is_online %}
                    - Online
                    <img src="/static/images/icons/computer.png" alt="" />
                {% elif party.location %}
                    - 
                    {{ party.location }}
                    {% if party.country_code %}
                        <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
                    {% endif %}
                {% endif %}
                {% if party.is_cancelled %}</del> <em>Cancelled</em>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
