{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ organiser.releaser.name }} as organiser of {{ party.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ organiser.releaser.name }} as organiser of {{ party.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'party_edit_organiser' party.id organiser.id %}{% endblock %}
{% block submit_button_label %}Submit edit{% endblock %}

{% block after_form %}
    <p>
        <a href="{% url 'party_remove_organiser' party.id organiser.id %}" data-lightbox>Remove organiser</a>
    </p>
{% endblock %}
