{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ organiser.releaser.name }} as organiser of {{ party.name }} - Demozoo{% endblock %}

{% block base_main %}
    <h2>Editing {{ organiser.releaser.name }} as organiser of {{ party.name }}</h2>

    <form action="{% url 'party_edit_organiser' party.id organiser.id %}" method="post" data-edit-form class="entry_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="field">
            <input type="submit" value="Submit edit"/>
        </div>
    </form>

    <p>
        <a href="{% url 'party_remove_organiser' party.id organiser.id %}" data-lightbox>Remove organiser</a>
    </p>
{% endblock %}
