{% extends base_template_with_ajax_option %}
{% load spawning_formset %}
{% load url from future %}

{% block html_title %}Editing invitations for {{ party.name }} - Demozoo{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="/static/parties/css/pages/edit_releases.less" type="text/less" />
{% endblock %}
{% block extra_head %}
	{% include "shared/editor_css.html" %}
	{% include "shared/editor_js.html" %}
	<script>
		$(function() {
			applyEditControls($('form.party_release_form'));
		})
	</script>
{% endblock %}

{% block base_main %}
	<h2>Editing releases for {{ party.name }}:</h2>

	<div class="long_help">
		<h3>Non-compo releases only!</h3>
		{% if party.competitions.count %}
			<p>Productions that were part of a competition should be added under that competition instead. (You can <a href="{% url 'party_add_competition' party.id %}" class="open_in_lightbox">add a competition</a> if it isn't listed here already.)</p>
		{% else %}
			<p>For productions that were part of a competition, <a href="{% url 'party_add_competition' party.id %}" class="open_in_lightbox">add a competition</a> first.</p>
		{% endif %}
	</div>

	<form action="{% url 'party_edit_releases' party.id %}" method="post" class="entry_form party_release_form">
		{% csrf_token %}
		
		{% spawningformset formset %}
			{% spawningform as form %}
				{{ form.production }}
			{% endspawningform %}
		{% endspawningformset %}
		
		<div class="field">
			<input type="submit" />
		</div>
	</form>
{% endblock %}
