{% extends "generic/edit_form_with_ajax_option.html" %}
{% load spawning_formset %}

{% block html_title %}Editing releases for {{ party.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing releases for {{ party.name }}:</h2>

    <div class="long_help">
        <h3>Non-compo releases only!</h3>
        {% if party.competitions.count %}
            <p>Productions that were part of a competition should be added under that competition instead. (You can <a href="{% url 'party_add_competition' party.id %}" data-lightbox>add a competition</a> if it isn't listed here already.)</p>
        {% else %}
            <p>For productions that were part of a competition, <a href="{% url 'party_add_competition' party.id %}" data-lightbox>add a competition</a> first.</p>
        {% endif %}
    </div>
{% endblock %}

{% block action_url %}{% url 'party_edit_releases' party.id %}{% endblock %}
{% block html_form_class %}party_release_form{% endblock %}

{% block form_body %}
    {% spawningformset formset %}
        {% spawningform as form %}
            {{ form.production }}
        {% endspawningform %}
    {% endspawningformset %}
{% endblock %}

{% block submit_button_label %}Update releases{% endblock %}
