{% extends "base.html" %}
{% load demoscene_tags production_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ party.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/comments_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    <meta name="twitter:site" content="@demozoo">
    <meta property="og:url" content="https://demozoo.org{{ party.get_absolute_url }}" />
    <meta property="og:title" content="{{ party.title }}{% if party.tagline %}: &quot;{{ party.tagline }}&quot;{% endif %}" />
    <meta property="og:description" content="Check out the results and releases from {{ party.name}}, held {% date_range party.start_date party.end_date %} in {{ party.location }} on Demozoo." />
    {% comment %}
        todo: add randomly chosen(?) image
    {% endcomment %}
    <meta property="og:image" content="{{ party.share_image_url }}"/>
{% endblock %}

{% block body_class %}show_party{% endblock %}

{% block base_main %}
    <script>
        $(function() {
            var resultsMenuList = $('.results-menu__list');

            if (resultsMenuList.length) {
                var resultsMenu = $('.results_menu');
                var resultsMenuColumn = $('.results_menu_column');
                var resultsPanel = $('.results_panel');

                var scrollY = 0,
                    ticking = false,
                    resultsPanelY,
                    resultsPanelBottom,
                    maxResultsMenuY;

                function requestTick(event) {
                    if(!ticking) {
                        requestAnimationFrame(event);
                    }
                    ticking = true;
                }

                function handleScroll() {
                    scrollY = window.scrollY;
                    requestTick(update);
                }

                function handleResize() {
                    requestTick(menuResize);
                }

                function menuResize() {
                    ticking = false;

                    resultsMenu.css({
                        'width': resultsMenuColumn.width() + 'px'
                    });
                }

                function update() {
                    ticking = false;
                    resultsPanelY = resultsPanel.offset().top;
                    resultsPanelBottom = resultsPanelY + resultsPanel.height();
                    maxResultsMenuY = resultsPanelBottom - resultsMenu.height();

                    if (scrollY <= resultsPanelY) {
                        resultsPanel.removeClass('fixed bottom');
                    } else if (scrollY <= maxResultsMenuY - 10) {
                        resultsPanel.removeClass('bottom').addClass('fixed');
                    } else {
                        resultsPanel.removeClass('fixed').addClass('bottom');
                    }
                }

                window.addEventListener('scroll', handleScroll, false);
                window.addEventListener('resize', handleResize, false);
                update();
                menuResize();
            }
        })
    </script>

    <div class="editable_chunk party_core_details">
        <div class="signpost">Party</div>

        {% if prompt_to_edit %}
            <ul class="actions">
                {% if request.user.is_staff %}
                    <li>
                        {% icon_button url=party.urls.edit_share_image icon="image" title="Edit social share image" %}
                    </li>
                {% endif %}
                <li>
                    {% edit_button url=party.urls.edit classname="edit_chunk" lightbox=True title="Edit party details" %}
                </li>
            </ul>
        {% endif %}

        <div class="focus_title party_name">
            <h2>{{ party.name }}{% if party.tagline %}:{% endif %}</h2>
            {% if party.tagline %}<h3>"{{ party.tagline }}"</h3>{% endif %}
            {% if party.is_cancelled %}
                <h3>- cancelled</h3>
            {% endif %}
        </div>

        <ul class="attributes">
            <li class="date">{% date_range party.start_date party.end_date %}</li>

            {% if party.is_online %}
                <li class="location">Online <img src="/static/images/icons/computer.png" alt="" /></li>
            {% elif party.location %}
                <li class="location">
                    {{ party.location }}
                    {% if party.country_code %}
                        <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
                    {% endif %}
                </li>
            {% endif %}

            {% if party.website %}
                <li class="website"><a href="{{ party.website }}">{{ party.website }}</a></li>
            {% elif party.party_series.website %}
                <li class="website"><a href="{{ party.party_series.website }}">{{ party.party_series.website }}</a></li>
            {% endif %}
        </ul>
    </div>

    {% include "parties/includes/organisers_panel.html" %}

    {% if results_files %}
        {% include "parties/includes/results_file_panel.html" %}
    {% endif %}

    {% if external_links or can_edit %}
        {% include "shared/external_links_panel.html" with obj=party %}
    {% endif %}

    {% if parties_in_series.count > 1 %}
        <div class="parties_in_series">
            <strong>Other <a href="{{ party.party_series.get_absolute_url }}">{{ party.party_series.name }}</a> parties:</strong>
            <ul>
                {% for party_in_series in parties_in_series %}
                    <li>
                        {% if party_in_series == party %}
                            <strong>{{ party_in_series.suffix }}</strong>
                        {% elif party_in_series.is_cancelled %}
                            <del><a href="{{ party_in_series.get_absolute_url }}" title="Cancelled">{{ party_in_series.suffix }}</a></del>
                        {% else %}
                            <a href="{{ party_in_series.get_absolute_url }}">{{ party_in_series.suffix }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if party.notes or request.user.is_staff %}
        {% include "shared/notes_panel.html" with obj=party %}
    {% endif %}

    {% if invitations or can_edit %}
        {% include "parties/includes/invitations_panel.html" %}
    {% endif %}

    {% if releases or can_edit %}
        {% include "parties/includes/releases_panel.html" %}
    {% endif %}

    {% if competitions_with_placings_and_screenshots or tournaments or can_edit %}
        {% include "parties/includes/results_panel.html" %}
    {% endif %}

    {% last_edited_by party %}

    {% include "comments/_comments.html" with commentable=party edit_action='edit_party_comment' delete_action='delete_party_comment' no_comments_message='Be the first to comment on this party...' add_action='add_party_comment' %}
{% endblock %}
