{% extends "base.html" %}
{% load demoscene_tags ui_tags compress safe_markdown static %}

{% block html_title %}{{ party_series.name }} - Demozoo{% endblock %}

{% block body_class %}show_party_series{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block base_main %}
    <div class="party_series_core_details editable_chunk">
        <div class="signpost">Party</div>

        {% if prompt_to_edit %}
            <ul class="actions">
                <li>
                    {% action_button url=party_series.urls.edit icon="edit" classname="edit_chunk" lightbox=True title="Edit party details" label="Edit" %}
                </li>
            </ul>
        {% endif %}

        <div class="focus_title party_name">
            <h2>{{ party_series.name }}</h2>
        </div>

        {% if party_series.website %}
            <ul class="attributes">
                <li class="website"><a href="{{ party_series.website }}">{{ party_series.website }}</a></li>
            </ul>
        {% endif %}
    </div>

    {% if external_links or can_edit %}
        {% include "shared/external_links.html" with obj=party_series %}
    {% endif %}

    {% if party_series.notes or request.user.is_staff %}
        {% include "shared/notes.html" with obj=party_series %}
    {% endif %}

    {% if can_edit %}
        <ul class="actions">
            <li>{% action_button url=new_edition_url icon="add" lightbox=True label="New party edition" %}</li>
        </ul>
    {% endif %}
    <div style="clear: both;"></div>

    {% if parties %}
        <ul class="list list--party-editions">
            {% for party in parties %}
                {% with party.random_screenshot as pic %}
                    <li class="list__item">
                        <div class="party-edition">
                            <div class="media">
                                {% if pic %}
                                    {% megathumb pic %}
                                {% elif not pic %}
                                    {% icon 'event' %}
                                {% endif %}
                            </div>
                            <h3 class="party-edition__name">
                                {% if party.is_cancelled %}
                                    <del>{{ party.name }}</del> - cancelled
                                {% else %}
                                    {{ party.name }}
                                {% endif %}
                            </h3>
                            <div class="meta">
                                <span class="meta__item">{% date_range party.start_date party.end_date %}</span>
                                &bull;
                                <span class="meta__item">
                                    {% if party.is_online %}
                                        Online
                                        <img src="/static/images/icons/computer.png"
                                             alt=""
                                        />
                                    {% elif party.location %}
                                        {{ party.location }}
                                        {% if party.country_code %}
                                            <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png"
                                                 alt=""
                                            />
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </div>
                            <a class="more" href="{{ party.get_absolute_url }}"><span>See details for {{ party.name }}</span></a>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}

    {% last_edited_by party_series %}
{% endblock %}
