{% extends "base.html" %}
{% load demoscene_tags %}
{% load safe_markdown %}
{% load url from future %}

{% block html_title %}{{ party.name }} - Demozoo{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/components/production_listing.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/components/external_links.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/components/notes_panel.less" type="text/less" />
	<link rel="stylesheet" href="/static/css/components/comments_panel.less" type="text/less" />

	<link rel="stylesheet" href="/static/parties/css/pages/show_party.less" type="text/less" />
{% endblock %}

{% block extra_js %}
	<script src="/static/js/components/notes_panel.js"></script>
	<script src="/static/js/components/comments_panel.js"></script>
	<script src="/static/js/components/editable_chunk.js"></script>
{% endblock %}

{% block body_class %}show_party{% endblock %}

{% block base_main %}
	<script>
		$(function() {
			var resultsPanel = $('.results_panel');
			var resultsMenu = $('.results_menu');
			var resultsMenuUl = $('.results_menu ul');
			var resultsMenuColumn = $('.results_menu_column');

			var resultsPanelY, menuWidth, maxResultsMenuY;

			function reflow() {
				resultsPanelY = resultsMenuColumn.offset().top;
				resultsMenu.css({
					'width': resultsMenuColumn.width() + 'px'
				});
				resultsMenuUl.css({
					'max-height': $(window).height() - 64 + 'px'
				});
				var resultsPanelBottom = resultsPanelY + resultsPanel.height();
				maxResultsMenuY = resultsPanelBottom - resultsMenu.height();

				setResultsPanelPosition();
			}
			reflow();

			function setResultsPanelPosition() {
				var scrollPos = $(window).scrollTop();

				if (scrollPos <= resultsPanelY) {
					resultsPanel.removeClass('fixed bottom');
				} else if (scrollPos <= maxResultsMenuY - 10) {
					resultsPanel.removeClass('bottom').addClass('fixed');
					resultsMenu.css({
						'width': menuWidth + 'px'
					});
				} else {
					resultsPanel.removeClass('fixed').addClass('bottom');
				}
			}

			$(window).scroll(setResultsPanelPosition).load(reflow).resize(reflow);
		})
	</script>

	<div class="editable_chunk party_core_details">
		<div class="signpost">Party</div>

		{% if site_is_writeable %}
			<ul class="actions">
				<li>
					<a href="{% url 'edit_party' party.id %}" class="action_button icon edit edit_chunk open_in_lightbox" title="Edit party details">Edit</a>
				</li>
			</ul>
		{% endif %}

		<div class="focus_title party_name">
			<h2>{{ party.name }}{% if party.tagline %}:{% endif %}</h2>
			{% if party.tagline %}<h3>"{{ party.tagline }}"</h3>{% endif %}
		</div>

		<ul class="attributes">
			<li>{% date_range party.start_date party.end_date %}</li>

			{% if party.is_online %}
				<li>Online <img src="/static/images/icons/computer.png" alt="" /></li>
			{% elif party.location %}
				<li>
					{{ party.location }}
					{% if party.country_code %}
						<img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="" />
					{% endif %}
				</li>
			{% endif %}

			{% if party.website %}
				<li><a href="{{ party.website }}">{{ party.website }}</a></li>
			{% elif party.party_series.website %}
				<li><a href="{{ party.party_series.website }}">{{ party.party_series.website }}</a></li>
			{% endif %}
		</ul>
	</div>

	{% if results_files %}
		<div class="panel results_file_panel">
			<h3>Results file</h3>
			<ul class="results_files">
				{% for file in results_files %}
					<li><a href="{% url 'party_results_file' party.id file.id %}">{{ file.filename }}</a> ({{ file.filesize }} bytes)</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="editable_chunk panel external_links_panel">
		<h3>External links</h3>
		{% if site_is_writeable %}
			<ul class="actions">
				<li>
					<a href="{% url 'party_edit_external_links' party.id %}" class="action_button icon edit edit_chunk open_in_lightbox focus_empty_input" title="Edit external links">Edit</a>
				</li>
			</ul>
		{% endif %}
		<ul class="external_links">
			{% for link in external_links %}
				<li>{{ link.html_link|safe }}</li>
			{% endfor %}
		</ul>
	</div>

	{% if parties_in_series.count > 1 %}
		<div class="parties_in_series">
			<b>Other <a href="{{ party.party_series.get_absolute_url }}">{{ party.party_series.name }}</a> parties:</b>
			<ul>
				{% for party_in_series in parties_in_series %}
					{% if party_in_series == party %}
						<li class="current">{{ party_in_series.suffix }}</li>
					{% else %}
						<li>
							<a href="{{ party_in_series.get_absolute_url }}">{{ party_in_series.suffix }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if party.notes or request.user.is_staff %}
		<div class="editable_chunk panel notes_panel">
			{% if request.user.is_staff and site_is_writeable %}
				<ul class="actions">
					<li><a class="action_button icon edit edit_chunk open_in_lightbox" href="{% url 'party_edit_notes' party.id %}">Edit notes</a></li>
				</ul>
			{% endif %}
			<div class="notes">
				{{ party.notes|safe_markdown }}
			</div>
		</div>
	{% endif %}

	{% if invitations or user.is_authenticated %}
		<div class="panel invitations_panel editable_chunk">
			<h3>
				Invitation{{ invitations|length|pluralize }}
			</h3>
			{% if site_is_writeable %}
				<ul class="actions">
					<li><a href="{% url 'party_edit_invitations' party.id %}" class="action_button icon edit edit_chunk open_in_lightbox">Edit invitations</a></li>
				</ul>
			{% endif %}

			{% if invitations %}
				{% include "shared/production_listing.html" with productions=invitations show_screenshots=1 show_prod_types=1 %}
			{% endif %}
		</div>
	{% endif %}

	{% if releases or user.is_authenticated %}
		<div class="panel releases_panel editable_chunk">
			<h3>Releases</h3>
			{% if site_is_writeable %}
				<ul class="actions">
					<li><a href="{% url 'party_edit_releases' party.id %}" class="action_button icon edit edit_chunk open_in_lightbox">Edit releases</a></li>
				</ul>
			{% endif %}

			{% if releases %}
				{% include "shared/production_listing.html" with productions=releases show_screenshots=1 show_prod_types=1 %}
			{% endif %}
		</div>
	{% endif %}

	{% if competitions_with_placings or user.is_authenticated %}
		<div class="panel results_panel">
			<div class="results_menu_column">
				<div class="results_menu">
					<h3>Results</h3>
					{% if competitions_with_placings %}
						<ul>
							{% for compo, placings in competitions_with_placings %}
								<li class="{% cycle 'odd' 'even' %}"><a href="#competition_{{ compo.id }}">{{ compo.name}}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>

			<div class="results_body">
				{% for compo, placings in competitions_with_placings %}
					<div class="competition editable_chunk">
						<a id="competition_{{ compo.id }}"></a>
						{% if site_is_writeable %}
							<ul class="actions">
								<li><a class="action_button icon edit edit_chunk" href="{% url 'competition_edit' compo.id %}">Edit competition</a></li>
							</ul>
						{% endif %}

						<h4>{{ compo.name }}</h4>

						{% if placings %}
							{% include "shared/competition_results.html" with show_prod_types=1 %}
						{% endif %}
					</div>
				{% endfor %}

				{% if site_is_writeable %}
					<ul class="actions">
						<li>
							<a class="action_button icon add open_in_lightbox" href="{% url 'party_add_competition' party.id %}">Add competition</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% last_edited_by party %}

	{% include "comments/_comments.html" with commentable=party edit_action='edit_party_comment' delete_action='delete_party_comment' no_comments_message='Be the first to comment on this party...' add_action='add_party_comment' %}
{% endblock %}
