{% extends "base.html" %}
{% load static demoscene_tags compress ui_tags safe_markdown %}

{% block html_title %}{{ party_series.name }} - Demozoo{% endblock %}

{% block body_class %}show_party_series{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block base_main %}
    <header class="core_details editable_chunk">
        <div class="core_details__header">
            <div class="signpost">Party</div>
            {% if prompt_to_edit %}
                <div class="o-actions">
                    {% url 'party_edit_series' party_series.id as party_edit_series_url %}
                    {% button href=party_edit_series_url lightbox=True icon="edit" label="Edit party details" %}
                </div>
            {% endif %}
        </div>

        <h1 class="core_details__heading">{{ party_series.name }}</h1>

        {% if party_series.website %}
            <ul class="attributes">
                <li class="website"><a href="{{ party_series.website }}">{{ party_series.website }}</a></li>
            </ul>
        {% endif %}
    </header>

    {% if external_links or can_edit %}
        <section class="panel external_links_panel editable_chunk">
            <header class="panel__header">
                <h3 class="panel__title">External links</h3>
                {% if can_edit %}
                    <div class="o-actions">
                        {% url 'party_edit_series_external_links' party_series.id as party_edit_series_external_links_url %}
                        {% button href=party_edit_series_external_links_url icon="edit" label="Edit" focus=True lightbox=True title="Edit external links" %}
                    </div>
                {% endif %}
            </header>
            <div class="panel__content">
                <ul class="list -inline external_links">
                    {% for link in external_links %}
                        <li class="list__item">{{ link.html_link|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    {% if party_series.notes or request.user.is_staff %}
        <section class="panel notes_panel editable_chunk">
            {% if request.user.is_staff and site_is_writeable %}
                <div class="o-actions">
                    {% url 'party_edit_series_notes' party_series.id as party_edit_series_url %}
                    {% button href=party_edit_series_url lightbox=True icon="edit" label="Edit notes" %}
                </div>
            {% endif %}
            <div class="notes">
                {{ party_series.notes|safe_markdown }}
            </div>
        </section>
    {% endif %}

    {% if can_edit %}
        <div class="o-actions">
            {% comment %}
                TODO: bring this into the new button component fold.
            {% endcomment %}
            <a href="{% url 'new_party' %}?party_series_name={{ party_series.name|urlencode }}" class="m-button" data-lightbox>
                <span class="m-button__icon">{% icon 'add' %}</span>
                <span class="m-button__label">New party edition</span>
            </a>
        </div>
    {% endif %}
    <div style="clear: both;"></div>

    {% if parties %}
        <ul class="list list--party-editions">
            {% for party in parties %}
                {% with party.random_screenshot as pic %}
                    <li class="list__item">
                        <div class="party-edition">
                            <div class="media">
                                {% if pic %}
                                    {% megathumb pic %}
                                {% elif not pic %}
                                    {% icon 'event' %}
                                {% endif %}
                            </div>
                            <h3 class="party-edition__name">
                                {% if party.is_cancelled %}
                                    <del>{{ party.name }}</del> - cancelled
                                {% else %}
                                    {{ party.name }}
                                {% endif %}
                            </h3>
                            <div class="meta">
                                <span class="meta__item">{% date_range party.start_date party.end_date %}</span>
                                &bull;
                                <span class="meta__item">
                                    {% if party.is_online %}
                                        Online
                                        <img src="/static/images/icons/computer.png"
                                             alt=""
                                        />
                                    {% elif party.location %}
                                        {{ party.location }}
                                        {% if party.country_code %}
                                            <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png"
                                                 alt=""
                                            />
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </div>
                            <a class="more" href="{{ party.get_absolute_url }}"><span>See details for {{ party.name }}</span></a>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}

    {% last_edited_by party_series %}
{% endblock %}
