{% extends "shared/panel.html" %}
{% load ui_tags %}

{% block classnames %}{{ block.super }} editable_chunk{% if can_edit and is_editing %} editing{% endif %}{% endblock %}
{% block panel_attributes %}{{ block.super }}{% if can_edit %} data-edit-toggle{% endif %}{% endblock %}

{% block actions %}
    <template data-edit-toggle-actions>
        <ul class="actions">
            <li data-edit-toggle-edit>{% edit_button title="Edit" %}</li>
            <li data-edit-toggle-done>{% icon_button icon="check" title="Done" %}</li>
        </ul>
    </template>
{% endblock %}
