{% load demoscene_tags %}
{% load url from future %}

<table width="100%" class="production_listing {% if show_screenshots %}listing_with_screenshots{% endif %}">
	{% if show_screenshots %}
		<col width="5%" />
		<col width="45%" />
		<col width="10%" />
		<col width="40%" />
	{% else %}
		<col width="50%" />
		<col width="10%" />
		<col width="40%" />
	{% endif %}
	{% regroup credits by production as credits_by_production %}

	{% for production_with_credits in credits_by_production %}
		{% comment %}
			production_with_credits is a structure of
				{'grouper': production, 'list': credits}
			Need to regroup this credits list further by nick, so that a production with
			multiple credits to the same scener under different nicks appears multiple times
			in the list
		{% endcomment %}
		{% regroup production_with_credits.list by nick as production_credits_by_nick %}

		{% for nick_with_credits in production_credits_by_nick %}
			{% comment %}
				nick_with_credits is a structure of
					{'grouper': nick, 'list': credits}
			{% endcomment %}

			<tr>
				{% if show_screenshots %}
					<td>
						{% if production_with_credits.grouper.default_screenshot %}
							{% microthumb production_with_credits.grouper.default_screenshot %}
						{% endif %}
					</td>
				{% endif %}
				<td>
					<a href="{{ production_with_credits.grouper.get_absolute_url }}">{{ production_with_credits.grouper.title }}</a>
					-
					{% for credit in nick_with_credits.list %}
						{{ credit.description }}{% if not forloop.last %},{% endif %}
					{% endfor %}
					{% if nick_with_credits.grouper.name != releaser.name %}
						<i>(as {{ nick_with_credits.grouper.name }})</i>
					{% endif %}
				</td>
				<td>{{ production_with_credits.grouper.release_date.short_format }}</td>
				<td>{% byline production_with_credits.grouper %}</td>

				{% if editing %}
					<td>
						<a href="{% url 'releaser_edit_credit' nick_with_credits.grouper.releaser_id nick_with_credits.grouper.id production_with_credits.grouper.id %}" class="open_in_lightbox">
							<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit credit" title="Edit credit" />
						</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}

	{% endfor %}
</table>
