{% load compress %}
{% compress js %}
	<script src="/static/js/lib/jquery-ui/jquery.ui.mouse.js"></script>
	<script src="/static/js/lib/jquery-ui/jquery.ui.datepicker.js"></script>
	<script src="/static/js/lib/jquery-ui/jquery.ui.sortable.js"></script>

	<script src="/static/js/jquery.typeahead.js"></script>
	<script src="/static/js/jquery.spawning_formset.js"></script>
	<script src="/static/js/jquery.asmselect.js"></script>
	<script src="/static/js/jquery.ajaxqueue.js"></script>
	<script src="/static/js/jquery.uid.js"></script>

	<script src="/static/js/byline_field.js"></script>
	<script src="/static/js/fuzzy_date_parser.js"></script>
	<script src="/static/js/nick_match_widget.js"></script>
	<script src="/static/js/editing.js"></script>
{% endcompress %}
