{% if edits %}
	<table class="history">
		{% for edit in edits %}
			<tr>
				<td class="timestamp">{{ edit.timestamp|date:"Y-m-d H:i:s" }}</td>
				<td class="user"><strong>{{ edit.user }}</strong></td>
				<td>
					{{ edit.description }}
					{% if show_focuses %}
						{% if edit.focus %}
							(<a href="{{ edit.focus.get_absolute_url }}">link</a>)
						{% endif %}
						{% if edit.focus2 %}
							(<a href="{{ edit.focus2.get_absolute_url }}">link2</a>)
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
