{% load url from future %}

{% if download_links or editing %}
	<div class="panel">
		<h3>Downloads</h3>
		<ul class="download_links">
			{% for link in download_links %}
				<li class="download_link {{ link.html_link_class }}">
					{{ link.as_download_link|safe }}
					{% if editing and site_is_writeable %}
						<a href="{% url 'production_edit_download_link' production.id link.id %}" class="open_in_lightbox">
							<img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit download link" title="Edit download link" />
						</a>
					{% endif %}
				</li>
			{% endfor %}
			{% if editing and site_is_writeable %}
				<li class="add">
					<a href="{% url 'production_add_download_link' production.id %}" class="open_in_lightbox">Add download link</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}
