.award_screening {
    .mainstage {
        display: table;
        margin-top: 1em;
        width: 100%;
    }
    .screenshots_panel {
        display: table-cell;
        width: 400px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .right {
        display: table-cell;
        width: auto;
        vertical-align: top;
    }

    .decision {
        button, a {
            border: 1px solid #333;
            border-radius: 6px;
            color: #333;
            font-size: 2em;
            margin: 5px;
            padding: 5px;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .comment_form_trigger {
        background: none;
        border: none;
        clear: both;
        color: #02a;
        cursor: pointer;
        display: block;
        text-decoration: underline;
        margin-bottom: 1em;
    }

    .comments {
        clear: both;

        li {
            margin-bottom: 1em;
        }

        p {
            margin: 0.5em 0;
        }

        .cite {
            font-size: 0.9em;
        }
    }

    .comments_form {
        clear: both;
        margin-bottom: 1em;
    }
}
