.show_award {
    .events_in_series {
        margin-bottom: 1em;

        ul {
            display: inline;

            li {
                display: inline;

                &.current {
                    font-weight: bold;
                }
            }
        }
    }

    th.nominee_status {
        text-align: left;
        padding: 0 8px;
    }
    th.nominee_status_winner {
        background-color: rgb(255, 237, 136);
    }
    th.nominee_status_nominee {
        background-color: #ddd;
    }

    .screening-form {
        button.start {
            font-size: 1.5em;
            padding: 0.2em 0.5em;
            margin-top: 0.5em;
        }
    }
}
