{% extends "maintenance/base.html" %}
{% load production_tags %}

{% block html_title %}Duplicate production external links - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
    <div id="main_column">
        {% regroup duplicate_prods by duplicate_link_class as link_class_list %}
        {% for link_class in link_class_list %}
            <h2>Productions matching by {{ link_class.grouper }}:</h2>
            <div class="panel report">
                {% production_listing link_class.list %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
