{% extends "maintenance/base.html" %}

{% block html_title %}Maintenance - Demozoo{% endblock %}

{% block base_main %}
<div class="t-maintenance">
    <header class="t-maintenance__header">
        <h1 class="t-maintenance__heading">Maintenance</h1>
    </header>
    <div class="t-maintenance__content">
        {% for section_title, section_reports in reports %}
            <section>
                <h2>{{ section_title }}</h2>
                <ul>
                    {% for report in section_reports %}
                        <li><a href="{{ report.get_url }}">{{ report.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
