{% extends "maintenance/base.html" %}
{% load demoscene_tags %}

{% block html_title %}{{ title }}{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
    <h1>{{ title }}</h1>
        
    {% regroup releasers by real_name as name_list %}
    <div class="o-panel -report">
        {% for name in name_list %}
            <section>
                <h2>{{ name.grouper }}</h2>
                <ul class="list">
                    {% for releaser in name.list %}
                        <li class="list__item">
                            {% scener_with_affiliations releaser %}
                            {% releaser_flag releaser %}
                            ({{ releaser.real_name }})
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
{% endblock %}
