{% extends "maintenance/base.html" %}
{% load demoscene_tags %}

{% block html_title %}{{ title }}{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
<div class="t-maintenance">
    <header class="t-maintenance__header">
        <h1 class="t-maintenance__heading">{{ title }}</h1>
    </header>
    <div class="t-maintenance__content">
        {% regroup releasers by real_name as name_list %}
        <div class="o-panel -report">
            {% for name in name_list %}
                <section>
                    <h2>{{ name.grouper }}</h2>
                    <ul class="list">
                        {% for releaser in name.list %}
                            <li class="list__item">
                                {% scener_with_affiliations releaser %}
                                {% releaser_flag releaser %}
                                ({{ releaser.real_name }})
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
