{% extends "maintenance/base.html" %}
{% load compress %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
    <h1>{{ title }}</h1>

    <ul class="list -zebra">
        {% for file in info_files %}
            <li class="list__item">
                <a href="{% url 'maintenance:fix_prod_info_file_encoding' file.id %}">{{ file.filename }}</a>
                - <strong>{{ file.production.title }}</strong>
                {% if file.production.byline %}by {{ file.production.byline }}{% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if info_files.paginator.num_pages > 1 %}
        <ul class="pagination">
            {% if info_files.has_previous %}
                <li>
                    <a href="{% url 'maintenance:prod_infos_with_no_encoding' %}?page={{ info_files.previous_page_number }}" title="Previous page">&laquo;</a>
                </li>
            {% endif %}

            {% for i in info_files.paginator.page_range %}
                {% if i == info_files.number %}
                    <li class="current">{{ i }}</li>
                {% else %}
                    <li><a href="{% url 'maintenance:prod_infos_with_no_encoding' %}?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if info_files.has_next %}
                <li>
                    <a href="{% url 'maintenance:prod_infos_with_no_encoding' %}?page={{ info_files.next_page_number }}" title="Next page">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
