{% extends "maintenance/base.html" %}
{% load compress %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" href="/static/maintenance/css/maintenance.css" />

	{% endcompress %}
{% endblock %}

{% block base_main %}
	<h2>{{ title }}:</h2>
	<div id="main_column">
		<div class="panel report" data-report-name="{{ report_name }}">
			{% include "shared/production_listing.html" %}
		</div>
	</div>
{% endblock %}