{% extends "maintenance/base.html" %}

{% block html_title %}{{ title }} - Demozoo{% endblock %}

{% block body_class %}maintenance_report{% endblock %}

{% block base_main %}
<div class="t-maintenance">
    <header class="t-maintenance__header">
        <h1 class="t-maintenance__heading">{{ title }}</h1>
    </header>
    <div class="t-maintenance__content">
        <div class="o-panel -report" data-report-name="{{ exclusion_name }}">
            <ul class="list -zebra">
                {% for releaser in releasers %}
                <li class="list__item -releaser{% if site_is_writeable and exclusion_name %} excludable{% endif %}" data-record-id="{{ releaser.id }}">
                    {% if nick.releaser.is_group %}
                    {% include "shared/entity.html" with url=nick.releaser.get_absolute_url label=releaser.name type="group" %}
                    {% else %}
                    {% include "shared/entity.html" with url=nick.releaser.get_absolute_url label=releaser.name type="scener" %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
