SECRET_KEY = 'q=5-*%!&#5gbfk93oz!bnswnovisvu4eo^9a&!96i0@$_2mq^12($-g'

AWS_STORAGE_BUCKET_NAME = 'media.demozoo.org'
AWS_ACCESS_KEY_ID = 'get one from http://aws.amazon.com/s3/'
AWS_SECRET_ACCESS_KEY = 'get one from http://aws.amazon.com/s3/'

SCENEID_KEY = 'please read https://id.scene.org/docs/'
SCENEID_SECRET = 'please read https://id.scene.org/docs/'

# Read-only mode:
# SITE_IS_WRITEABLE = False

# Path to Ansilove-C, if available
# ANSILOVE_C_PATH = '/usr/local/bin/ansilove'
