{% extends 'base.html' %}
{% load demoscene_tags releaser_tags %}

{% block base_main %}
    <header>
        <h1 class="page__title">Latest activity</h1>
    </header>

    {% site_stats as stats %}
    <section class="stats">
        <div class="container">
            <!--<h2 class="stats__heading">Now serving&hellip;</h2>-->
            <ul class="list list--stats">
                <li>
                    <strong class="stats__count">{{ stats.production_count }}</strong>
                    <span class="stats__label">production{{ stats.production_count|pluralize }}</span>
                </li>
                <li>
                    <strong class="stats__count">{{ stats.graphics_count }}</strong>
                    <span class="stats__label">graphics</span>
                </li>
                <li>
                    <strong class="stats__count">{{ stats.music_count }}</strong>
                    <span class="stats__label">music track{{ stats.music_count|pluralize }}</span>
                </li>
                <li>
                    <strong class="stats__count">{{ stats.group_count }}</strong>
                    <span class="stats__label">group{{ stats.group_count|pluralize }}</span>
                </li>
                <li>
                    <strong class="stats__count">{{ stats.scener_count }}</strong>
                    <span class="stats__label">scener{{ stats.scener_count|pluralize }}</span>
                </li>
                <li>
                    <strong class="stats__count">{{ stats.bbs_count }}</strong>
                    <span class="stats__label">BBS{{ stats.bbs_count|pluralize:"es" }}</span>
                </li>
            </ul>
        </div>
    </section>

    <p><a href="{% url 'recent_edits' %}">Recent edits</a></p>

    <div class="latest-activity">
        <section>
            <h2>Latest added productions</h2>
            <ul class="list list--results">
                {% for production in latest_added_productions %}
                    <li class="list__item" data-type="{{ production.supertype }}">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon production.supertype %}
                            </div>
                            <a href="{{ production.get_absolute_url }}">{{ production.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest updated productions</h2>
            <ul class="list list--results">
                {% for production in latest_updated_productions %}
                    <li class="list__item" data-type="{{ production.supertype }}">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon production.supertype %}
                            </div>
                            <a href="{{ production.get_absolute_url }}">{{ production.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest added sceners</h2>
            <ul class="list list--results">
                {% for scener in latest_added_sceners %}
                    <li class="list__item" data-type="scener">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'scener' %}
                            </div>
                            {% scener_with_affiliations scener %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest updated sceners</h2>
            <ul class="list list--results">
                {% for scener in latest_updated_sceners %}
                    <li class="list__item" data-type="scener">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'scener' %}
                            </div>
                            {% scener_with_affiliations scener %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest added groups</h2>
            <ul class="list list--results">
                {% for group in latest_added_groups %}
                    <li class="list__item" data-type="group">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'group' %}
                            </div>
                            <a href="{% url 'group' group.id %}">{{ group.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest updated groups</h2>
            <ul class="list list--results">
                {% for group in latest_updated_groups %}
                    <li class="list__item" data-type="group">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'group' %}
                            </div>
                            <a href="{% url 'group' group.id %}">{{ group.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest added BBSes</h2>
            <ul class="list list--results">
                {% for bbs in latest_added_bbses %}
                    <li class="list__item" data-type="bbs">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'bbs' %}
                            </div>
                            <a href="{% url 'bbs' bbs.id %}">{{ bbs.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Latest updated BBSes</h2>
            <ul class="list list--results">
                {% for bbs in latest_updated_bbses %}
                    <li class="list__item" data-type="bbs">
                        <div class="result">
                            <div class="media media--thumbnail">
                                {% icon 'bbs' %}
                            </div>
                            <a href="{% url 'bbs' bbs.id %}">{{ bbs.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
