{% extends base_template_with_ajax_option %}
{% load compress %}
{% load url from future %}

{% block html_title %}Editing {{ releaser.name }}'s name - Demozoo{% endblock %}

{% block extra_head %}
	{% include "shared/editor_css.html" %}
{% endblock %}

{% block base_main %}
	<h2>Ohai, you're editing {{ releaser.name }}'s name.</h2>
	<p>
		To help us keep our data accurate, please tell us the type of change
		that needs to be made here:
		<ul class="nick_change_options">
			<li>
				<form action="{% url 'releaser_edit_nick' releaser.id releaser.primary_nick.id %}" method="get" class="open_in_lightbox">
					<strong>There's a mistake in the name:</strong>
					<input type="submit" value="Fix it" />
					<div class="help_text">(we'll fix the incorrect name wherever it's used on the site)</div>
				</form>
			</li>
			{% with releaser.alternative_nicks as alternative_nicks %}
				{% if alternative_nicks %}
					<li>
						<form action="{% url 'releaser_change_primary_nick' releaser.id %}" method="post">
							{% csrf_token %}
							<strong>
								Their preferred name is actually
								<select name="nick_id">
									{% for nick in alternative_nicks %}
										<option value="{{ nick.id }}">{{ nick.name }}</option>
									{% endfor %}
								</select>:
							</strong>
							<input type="submit" value="Change it" />
						</form>
					</li>
				{% endif %}
			{% endwith %}
			<li>
				<form action="{% url 'releaser_add_nick' releaser.id %}" method="get" class="open_in_lightbox">
					<strong>They have a new name that isn't listed here yet:</strong>
					<input type="submit" value="Add it" />
					<div class="help_text">(any existing prods / credits will be kept under the existing name)</div>
				</form>
			</li>
			<li>
				<form action="{% url 'releaser_edit_nick' releaser.id releaser.primary_nick.id %}" method="get" class="open_in_lightbox">
					<strong>There's an abbreviation/alternative spelling for the name '{{ releaser.name }}':</strong>
					<input type="submit" value="Add it" />
					<div class="help_text">(this will help us to match prods to the right {% if releaser.is_group %}group{% else %}person{% endif %} when they're released under that spelling)</div>
				</form>
			</li>
		</ul>
	</p>
{% endblock %}
