{% extends "releasers/nick_form.html" %}

{% block html_title %}Editing name: {{ nick.name }} - Demozoo{% endblock %}

{% block after_form %}
    {% if not nick.is_primary_nick %}
        <p>
            <a href="{% url 'releaser_delete_nick' nick.releaser.id nick.id %}" data-lightbox>Delete this name</a>
            <span class="hover_help" tabindex="0"><span class="help_text">Removes {{ nick.name }} as an alternative name of {{ nick.releaser.name }} - all other information about {{ nick.releaser.name }} will be left intact</span></span>
        </p>
    {% endif %}
{% endblock %}
