{% extends base_template_with_ajax_option %}
{% load spawning_formset %}


{% block html_title %}Editing external links for {{ releaser.name }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.releaser_links_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>Editing external links for {{ releaser.name }}:</h2>

    <form action="{% url 'releaser_edit_external_links' releaser.id %}" method="post" class="entry_form releaser_links_form">
        {% csrf_token %}
        <div class="field">
            <label for="id_external_links-0-url" class="field_label">Link URLs</label>
            <div class="field_input">
                {% spawningformset formset %}
                    {% spawningform as form %}
                        {{ form.url }}
                        {{ form.url.errors }}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endspawningform %}
                {% endspawningformset %}
            </div>
        </div>
        <div class="field">
            <input type="submit" value="Submit edit"/>
        </div>
    </form>
{% endblock %}
