{% extends "generic/form.html" %}

{% block form_body %}
    {{ form.non_field_errors }}
    {% include "shared/form_field.html" with field=form.name %}

    {% if form.abbreviation %}
        {% include "shared/form_field.html" with field=form.abbreviation %}
    {% endif %}

    {% include "shared/form_field.html" with field=form.nick_variant_list %}

    {% if form.differentiator %}
        {% include "shared/form_field.html" with field=form.differentiator %}
    {% endif %}

    {% with form.override_primary_nick as field %}
        <div class="field">
            <div class="field_input unlabelled_field_input">
                {{ field.errors }}
                {{ field }}
                <label for="id_{{ field.html_name }}">{{ field.label }}</label>
                {% if field.help_text %}
                    <div class="help_text">{{ field.help_text }}</div>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
