{% extends "base.html" %}

{% load demoscene_tags ui_tags compress %}

{% block html_title %}Editing {{ competition.party.name }} {{ competition.name }} competition - Demozoo{% endblock %}
{% block extra_js %}
    {% compress js %}
        <script src="/static/js/json2-min.js"></script>
        <script src="/static/js/editable_grid.js"></script>
        <script src="/static/js/results_table.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.edit_competition_form'));
        })
    </script>
{% endblock %}

{% block body_class %}edit_competition{% endblock %}

{% block base_main %}
<script type="text/javascript">/* <![CDATA[ */
    $(function() {
        ResultsTable('#results_table', {
            platforms: {{ platforms_json|safe }},
            productionTypes: {{ production_types_json|safe }},
            competitionPlacings: {{ competition_placings_json|safe }},
            competition: {{ competition_json|safe }}
        })
    });
/* ]]> */</script>

{% if is_admin %}
    <ul class="actions">
        <li>{% action_button url=competition.urls.import_text icon="import_table" label="Import results" %}</li>
    </ul>
{% endif %}

<h2>{{ competition.party.name }} {{ competition.name }} competition</h2>

<form action="{{ competition.urls.edit }}" method="post" class="entry_form edit_competition_form">
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
        {% include "shared/form_field.html" %}
    {% endfor %}
    <div class="field">
        <input type="submit" value="Update" />
    </div>
</form>

<ul id="results_table"></ul>

<ul class="actions">
    <li><a href="{% url 'party' competition.party.id %}" class="action_button icon-done">Done</a></li>
</ul>

    {% last_edited_by competition %}

{% endblock %}
