{% extends "base.html" %}
{% load demoscene_tags compress ui_tags %}

{% block html_title %}Editing {{ competition.party.name }} {{ competition.name }} competition - Demozoo{% endblock %}
{% block extra_js %}
    {% compress js %}
        <script src="/static/js/json2-min.js"></script>
        <script src="/static/js/editable_grid.js"></script>
        <script src="/static/js/results_table.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.edit_competition_form'));
        })
    </script>
{% endblock %}

{% block body_class %}edit_competition{% endblock %}

{% block base_main %}
    <script type="text/javascript">/* <![CDATA[ */
        $(function() {
            ResultsTable('#results_table', {
                platforms: {{ platforms_json|safe }},
                productionTypes: {{ production_types_json|safe }},
                competitionPlacings: {{ competition_placings_json|safe }},
                competition: {{ competition_json|safe }}
            })
        });
    /* ]]> */</script>

    {% if is_admin %}
        <div class="o-actions">
            {% url 'competition_import_text' competition.id as import_results_url %}
            {% button href=import_results_url label="Import results" icon="import-table" %}
        </div>
    {% endif %}

    <h2>{{ competition.party.name }} {{ competition.name }} competition</h2>

    <form action="{% url 'competition_edit' competition.id %}" method="post" class="entry_form edit_competition_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        <div class="field">
            {% button label="Update" %}
        </div>
    </form>

    <ul id="results_table"></ul>

    <div class="o-actions">
        {% url 'party' competition.party.id as party_url %}
        {% button href=party_url icon="check" label="Done" %}
    </div>

    {% last_edited_by competition %}

{% endblock %}
