{% extends "base.html" %}
{% load url from future %}
{% load demoscene_tags compress %}

{% block html_title %}Editing {{ competition.party.name }} {{ competition.name }} competition - Demozoo{% endblock %}
{% block extra_js %}
	{% compress js %}
		<script src="/static/js/json2-min.js"></script>
		<script src="/static/js/editable_grid.js"></script>
		<script src="/static/js/results_table.js"></script>
	{% endcompress %}
{% endblock %}
{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" href="/static/parties/css/results_table.css" />
		<link rel="stylesheet" href="/static/parties/css/pages/edit_competition.less" type="text/less" />
	{% endcompress %}
{% endblock %}

{% block extra_head %}
	{% include "shared/editor_css.html" %}
	{% include "shared/editor_js.html" %}
	<script>
		$(function() {
			applyEditControls($('form.edit_competition_form'));
		})
	</script>
{% endblock %}

{% block body_class %}edit_competition{% endblock %}

{% block base_main %}
<script type="text/javascript">/* <![CDATA[ */
	$(function() {
		ResultsTable('#results_table', {
			platforms: {{ platforms_json|safe }},
			productionTypes: {{ production_types_json|safe }},
			competitionPlacings: {{ competition_placings_json|safe }},
			competition: {{ competition_json|safe }}
		})
	});
/* ]]> */</script>

{% if is_admin %}
	<ul class="actions">
		<li><a href="{% url 'competition_import_text' competition.id %}" class="action_button icon import_table">Import results</a></li>
	</ul>
{% endif %}

<h2>{{ competition.party.name }} {{ competition.name }} competition</h2>

<form action="{% url 'competition_edit' competition.id %}" method="post" class="entry_form edit_competition_form">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
		{% include "shared/form_field.html" %}
	{% endfor %}
	<div class="field">
		<input type="submit" value="Update" />
	</div>
</form>

<ul id="results_table"></ul>

<ul class="actions">
	<li><a href="{% url 'party' competition.party.id %}" class="action_button icon done">Done</a></li>
</ul>

	{% last_edited_by competition %}

{% endblock %}
