$demozoo-color: (
    'primary': #c32e3b,
    'secondary': #6bc7f1,
    'tertiary': #a5b45d,
    'thumbnail-background': rgb(238, 238, 238),
    'table-border': #f0f0f0,
    'body-text': #333,
);

:root {
  --color-lavender-blue: #d4d2ff;
  --color-white-smoke: #f5f5f5;
  --color-dark-charcoal: #333333;
  --color-gray: #888888;
  --color-dark-gray-medium: #444444;
}