{% extends base_template_with_ajax_option %}

{% load urlsub ui_tags %}

{% block html_title %}New graphics - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.production_create_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <div class="form_title">
        <h2>New graphics</h2>
        <p>(see also:
            <a href="{% url 'new_production' %}{% urlsub %}" data-lightbox>New production</a>
            | <a href="{% url 'new_music' %}{% urlsub %}" data-lightbox>New music</a>)</p>
    </div>

    <form action="{% url 'new_graphics' %}" method="post" class="entry_form production_create_form">
        {% csrf_token %}

        {% include "shared/form_field.html" with field=form.title %}
        {% include "shared/form_field.html" with field=form.byline %}
        {% include "shared/form_field.html" with field=form.release_date %}
        {% include "shared/form_field.html" with field=form.type %}
        {% include "shared/form_field.html" with field=form.platform %}

        {% include "shared/production_download_formset.html" %}
        <div class="field">
            {% button label="Add new graphics prod" %}
        </div>
    </form>
{% endblock %}
