{% extends "generic/form.html" %}
{% load urlsub %}

{% block title %}
    <div class="form_title">
        {{ block.super }}
        <p>(see also:
            <a href="{% url 'new_production' %}{% urlsub %}" data-lightbox>New production</a>
            | <a href="{% url 'new_music' %}{% urlsub %}" data-lightbox>New music</a>)</p>
    </div>
{% endblock %}

{% block form_body %}
    {% include "shared/form_field.html" with field=form.title %}
    {% include "shared/form_field.html" with field=form.byline %}
    {% include "shared/form_field.html" with field=form.release_date %}
    {% include "shared/form_field.html" with field=form.type %}
    {% include "shared/form_field.html" with field=form.platform %}

    {% include "productions/includes/download_formset.html" %}
{% endblock %}
