.homepage {

    .forum_topics {

        .topics {
            clear: both;
            padding-top: 8px;
            li {
                border-bottom: 1px dotted #ccc;
                a {
                    display: block;
                    padding: 4px;
                    text-decoration: none;
                    color: #222;
                }
                &:hover {
                    background-color: #ddd;
                }

                .title {
                    font-size: 10pt;
                    font-weight: bold;
                }
                .meta {
                    color: #888;
                    font-size: 9pt;
                }
            }

        }
    }

    .news {
        clear: both;
        margin-top: 24px;
        border-top: 1px solid #888;

        .news_story {
            clear: both;
            padding-top: 15px;

            .story_image img {
                max-width: 100%;
            }

            h2 {
                font-family: FabricaRegular, Helvetica, Arial, sans-serif;
                line-height: 1.3em;
            }

            .date {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: #888;
            }

            p {
                clear: both;
                margin-top: 0;
            }

            &.private {
                background-color: #eee;
                border: 1px solid #444;
                opacity: 0.7;
            }

        }

    }

    .new_releases, 
    .new_additions {
        ul {
            clear: both;
            padding-top: 8px;

            li {
                a {
                    display: block;
                    overflow: hidden;
                    text-decoration: none;
                    color: inherit;
                    border-radius: 2px;
                    &:hover {
                        background-color: #eee;
                    }
                }

                .title {
                    font-weight: bold;
                    font-size: 11pt;
                    color: #444;
                }

                .byline {
                    color: #666;
                    font-size: 9pt;
                }

                .platforms_and_types {
                    font-family: FabricaRegular, Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    color: #888;
                    margin-top: 0.5em;
                    font-size: 9pt;
                }
            }
        }
    }

    .new_releases {
        li {
            padding-top: 4px;
        }

        .thumbnail {
            border-radius: 2px;
            float: left;
            width: 133px;
            margin-right: 8px;
            padding: 4px;
            background-color: #bbb;

            img {
                display: block;
                margin: auto;
            }
        }

        .title {
            padding-top: 4px;
        }

        .byline {
            margin-top: 0.5em;
        }
    }

    .new_additions {
        li {
            border-bottom: 1px dotted #ccc;

            a {
                padding: 4px;
                .title {
                    float: left;
                    padding-right: 6px;
                }
                .byline {
                    margin-top: 0.2em;
                    float: left;
                    padding-bottom: 0.3em;
                }
                .platforms_and_types {
                    clear: both;
                }
            }
        }
    }

    .comments {
        margin-bottom: 20px;

        ul {
            clear: both;
            padding-top: 8px;

            li {
                border-bottom: 1px dotted #888;
                clear: both;
                margin: 8px 0;
                overflow: hidden;
                padding-bottom: 8px;

                q {
                    font-style: italic;
                }
            }
        }
    }

    .now_serving {
        ul {
            clear: both;
            list-style-type: none;
            text-align: center;
            margin-top: 30px;

            li {
                display: inline;
                white-space: nowrap;
                line-height: 24px;
                padding-right: 12px;

                a {
                    padding: 4px 0 4px 22px;
                    background-repeat: no-repeat;
                    background-position: left 3px;
                    text-decoration: none;
                    color: #444;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.productions a {
                    background-image: url(/static/images/icons/disk.png);
                }
                &.graphics a {
                    background-image: url(/static/images/icons/palette.png);
                }
                &.music a {
                    background-image: url(/static/images/icons/music.png);
                }
                &.groups a {
                    background-image: url(/static/images/icons/group.png);
                }
                &.sceners a {
                    background-image: url(/static/images/icons/scener.png);
                }
                &.parties a {
                    background-image: url(/static/images/icons/party.png);
                }
                &.bbses a {
                    background-image: url(/static/images/icons/telephone.png);
                }
            }
        }
    }

}

/* Small-screen versions */
@media screen and (max-width: 599px) {
    .homepage {
        .news {
            .news_story .story_image {
                img {
                    display: none;
                }
                .date {
                    text-align: left;
                }
            }
        }
    }
}

.upcoming_parties {

    table {
        clear: both;
        border-top: 10px solid white;

        tr {
            padding-bottom: 5px;
        }

        th {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            vertical-align: top;
            padding-bottom: 5px;
            line-height: 1.5em;
        }

        td {
            vertical-align: top;
            padding-bottom: 5px;
            line-height: 1.5em;

            li {
                padding-left: 16px;
                background-repeat: no-repeat;
                background-position: left center;
                display: block;
                float: left;
                min-height: 22px;
            }

        }
    }

    a {
        text-decoration: none;
        color: #444;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}


.news-story {
    margin: 0 0 1em;

    &__content {
        /* quick and ugly fix for #345 - the preaching against wildcard style resets will ensue later. */
        ul {
            list-style: disc;
            margin: 0 1.75em 1.5em;
        }

        ol {
            list-style: decimal;
            margin: 0 1.75em 1.5em;
        }
    }

    &__heading {
        margin: 0 0 0.5ex;
    }
    
    @media (min-width: 600px) {
        .story_image {
            max-width: 100px;
            width: calc(100% / 6);
        }

        &__content {
            display: flex;
            gap: 16px;

        }

        &__description {
            width: calc(100% - (100% / 6));
        }
    }
}
