.homepage {
    .news {

        .news_story {
            padding-top: 15px;

            .story_image img {
                max-width: 100%;
            }

            h2 {
                font-family: FabricaRegular, Helvetica, Arial, sans-serif;
                line-height: 1.3em;
            }

            .date {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: #888;
            }

            p {
                clear: both;
                margin-top: 0;
            }

            &.private {
                background-color: #eee;
                border: 1px solid #444;
                opacity: 0.7;
            }

        }

    }

    @import "./home/now_serving";

    .card {
        padding-block: 10px;

        &__content {
            padding-inline-end: 0;
            font-weight: 400;
        }

        &__title {
            margin: 0;
            font-weight: 700;
        }

        &__byline {
            margin: 0;
        }

        &__meta {
            margin: 0;
            color: #888;
        }

        &.-newAddition,
        &.-newRelease {
            align-items: flex-start;
            color: #444;
            display: flex;
            font-size: 12px;
            gap: 8px;
            text-decoration: none;

            .thumbnail {
                aspect-ratio: 16/9;
                border-radius: 4px;
                overflow: hidden;
                width: 128px;
                background: #eee;
                box-shadow: inset 0 0 24px #ccc;

                img {
                    @include size(100%);

                    display: block;
                    object-fit: cover;
                }
            }

            .card__meta {
                text-transform: uppercase;
            }
        }

        &:hover {
            background-color: rgba(black, 0.075);
            transition: background-color 0.25s linear;
        }
    }

    .topic {
        color: #000;
        display: block;
        font-size: 12px;
        font-weight: 400;
        padding-block: 4px;
        text-decoration: none;

        .title {
            font-size: 14px;
            font-weight: 700;
        }

        &:hover {
            background-color: rgba(black, 0.075);
            transition: background-color 0.25s linear;
        }
    }
}

/* Small-screen versions */
@media screen and (max-width: 599px) {
    .homepage {
        .news {
            .news_story .story_image {
                img {
                    display: none;
                }
                .date {
                    text-align: left;
                }
            }
        }
    }
}
@import "home/upcoming_parties";


.news-story {
    margin: 0 0 1em;

    &__content {
        /* quick and ugly fix for #345 - the preaching against wildcard style resets will ensue later. */
        ul {
            list-style: disc;
            margin: 0 1.75em 1.5em;
        }

        ol {
            list-style: decimal;
            margin: 0 1.75em 1.5em;
        }
    }

    &__heading {
        margin: 0 0 0.5ex;
    }
    
    @media (min-width: 600px) {
        .story_image {
            max-width: 100px;
            width: calc(100% / 6);
        }

        &__content {
            display: flex;
            gap: 16px;

        }

        &__description {
            width: calc(100% - (100% / 6));
        }
    }
}
