.homepage {
    .topic {
        color: #000;
        display: block;
        font-size: 12px;
        font-weight: 400;
        padding-block: 4px;
        text-decoration: none;

        .title {
            font-size: 14px;
            font-weight: 700;
        }

        &:hover {
            background-color: rgba(black, 0.075);
            transition: background-color 0.25s linear;
        }
    }
}
