.show_scener {

    &__header {
        align-items: start;
        display: flex;
        justify-content: space-between;
        margin-block: 0 10px;
    }

    @media screen and (min-width: 800px) {
        #side_column {
            float: left;
            width: 30%;
        }

        #main_column {
            float: left;
            width: 70%;
        }
    }

    //.alternative_nicks_panel {
    //    padding-bottom: 8px;
    //
    //    &.hide_edit_controls {
    //
    //        .edit_nick,
    //        .add_nick {
    //            display: none;
    //        }
    //    }
    //
    //    ul.nicks {
    //        clear: both;
    //        padding-top: 8px;
    //    }
    //}

    .parties_organised_panel,
    .bbses_operated_panel {
        a {
            text-decoration: none;
            color: #444;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .last_edited_by {
        clear: both;
        padding-top: 16px;
        border-top: 1px dotted #ddd;

        a.user {
            font-weight: bold;
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
