.show_production {

    .production_core_details {
        padding-bottom: 10px;

        h4 {
            font-family: FabricaRegular, Helvetica, Arial, sans-serif;
            font-size: 11pt;
            letter-spacing: -1px;
            padding-left: 10px;
            line-height: 1.5em;
        }
    }

    .blurb {
        border: 1px solid #ccc;
        padding: 0 4px;
        margin-bottom: 10px;
        background-color: #eee;
        overflow: hidden;
        clear: both;

        p {
            color: #444;
            font-size: 1.2em;
            font-style: italic;
            margin: 0;
            padding: 8px 0;
            line-height: 1.3em;
        }
    }

    .mainstage {
        display: table; width: 100%;
    }

    .o-panel.-awards {
        li {
          line-height: 1.5em;
          padding: 2px 0 2px 24px;
          margin-right: 20px;

          &.winner {
            background-image: url(/static/images/icons/award_star_gold_2.png);
            background-position: left center;
            background-repeat: no-repeat;
          }

          &.nominee {
            background-image: url(/static/images/icons/award_star_silver_2.png);
            background-position: left center;
            background-repeat: no-repeat;
          }
        }

      .awards {
        @include listReset()
      }
    }


    .secondary_panels {
        padding-block: 20px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0 20px;
        flex-wrap: wrap;

        &.hidden {
            display: none;
        }
    }
}

.production {
    @media(min-width: 800px) {
        &__mainStage {
            display: grid;
            gap: 32px;
            grid-template-columns: 400px minmax(0, 1fr);
        }

        &__attributions {
            display: grid;
            gap: 32px;
            grid-template-columns: minmax(0, 3fr) minmax(0, 7fr);
        }
    }
}