.show_group {

    ul.bbses {
        a {
            color: #008;
        }
    }

    .parties_organised_panel {
        a {
            text-decoration: none;
            color: #444;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.group {
    &__header {
        align-items: start;
        display: flex;
        justify-content: space-between;
        margin-block: 0 10px;
    }

    @media(min-width: 800px) {
        &__attributions {
            display: grid;
            gap: 32px;
            grid-template-columns: minmax(0, 3fr) minmax(0, 7fr);
        }
    }
}
