.show_bbs {

    @media screen and (min-width: 800px) {
        #side_column {
            float: left;
            width: 30%;
        }

        #main_column {
            float: left;
            width: 70%;
        }
    }

    .last_edited_by {
        clear: both;
        padding-top: 16px;
        border-top: 1px dotted #ddd;
        a.user {
            font-weight: bold;
            color: #333;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .staff_panel {
        &.hide_edit_controls {
            .edit_operator, .add_operator {
                display: none;
            }
        }
        &.editing {
            ul.staff li:hover {
                background-color: #ddd;
            }
        }
        ul.actions {
            padding-right: 8px;
        }
    }

    ul.staff {
        margin-bottom: 8px;
        clear: both;

        li {
            padding-left: 24px;
            padding-top: 2px;
            padding-bottom: 3px;
            background-position: left center;
            background-repeat: no-repeat;

            a {
                color: #008;
            }

            &.previous_membership a {
                color: #bbe;
            }

            &.scener {
                background-image: url(/static/images/icons/scener.png);
            }

            a.edit_operator {
                float: right;
            }
        }
    }

    .affiliations_panel {
        &.hide_edit_controls {
            .edit_affiliation, .add_affiliation {
                display: none;
            }
        }
        &.editing {
            ul.affiliations li:hover {
                background-color: #ddd;
            }
        }
        ul.actions {
            padding-right: 8px;
        }
    }

    ul.affiliations {
        margin-bottom: 8px;
        clear: both;

        li {
            padding-left: 24px;
            padding-top: 2px;
            padding-bottom: 3px;
            background-position: left center;
            background-repeat: no-repeat;

            a {
                color: #008;
            }

            &.previous_membership a {
                color: #bbe;
            }

            &.group {
                background-image: url(/static/images/icons/group.png);
            }

            a.edit_affiliation {
                float: right;
            }
        }
    }
}
