.show_production {

	.production_core_details {
		overflow: hidden; /* self-clear */
		padding-bottom: 10px;

		h4 {
			font-family: FabricaRegular, Helvetica, Arial, sans-serif;
			font-size: 11pt;
			letter-spacing: -1px;
			padding-left: 10px;
			line-height: 1.5em;
		}

		.attributes {
			width: 100%;
			border-top: 1px solid #ccc;
			padding-top: 10px;

			li {
				color: #555;
				float: left;
				padding-left: 16px;
				background-image: url(/static/images/icons/mini_bullet.png);
				background-repeat: no-repeat;
				background-position: left center;
				font-family: FabricaRegular, Helvetica, Arial, sans-serif;
				letter-spacing: 1px;
				text-transform: uppercase;

				&:first-child {
					background-image: none;
					padding-left: 0;
				}
			}
		}
	}

	.blurb {
		border: 1px solid #ccc;
		padding: 0 4px;
		margin-bottom: 10px;
		background-color: #eee;
		overflow: hidden;

		p {
			color: #444;
			font-size: 1.2em;
			font-style: italic;
			margin: 0;
			padding: 8px 0;
			line-height: 1.3em;
		}
	}

	.mainstage {
		display: table; width: 100%;
	}

	.screenshots_panel {
		display: table-cell;
		width: 400px;
		padding-right: 20px;
		padding-bottom: 20px;

		ul.actions {
			float: left;
		}
	}

	.right {
		display: table-cell;
		width: auto;
		vertical-align: top;
	}

	.external_links_panel {
		margin-bottom: 10px;

		ul.external_links {
			padding-top: 8px;
			padding-bottom: 8px;
			clear: both;
		}
	}

	.tags_panel {
		margin-bottom: 20px;

		ul.tags {
			clear: both;
		}
	}

	.tell_us_something_panel {
		border-top: 1px solid #bbb;
		p {
			text-align: center;
		}

		.tell_us_something {
			width: 250px;
			margin: auto;
			position: relative;

			.tell_us_something_title {
				text-align: center;

				a {
					display: block;
					background-color: #ddd;
					padding: 5px;
					font-weight: bold;
					color: black;
					text-decoration: none;

					border-top: 2px solid #ccc;
					border-left: 2px solid #ccc;
					border-bottom: 2px solid #888;
					border-right: 2px solid #888;
					border-radius: 3px;

					&:hover {
						background-color: #ccc;
					}

					&.active {
						border-bottom: 2px solid #ccc;
						border-right: 2px solid #ccc;
						border-top: 2px solid #888;
						border-left: 2px solid #888;
					}
				}
			}

			.tell_us_something_options {
				background-color: #ddd;
				margin-top: -1px;
				border-left: 1px solid #bbb;
				border-right: 1px solid #bbb;
				border-bottom: 1px solid #bbb;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;

				li {
					a {
						display: block;
						padding: 4px 8px;

						&:hover {
							background-color: #ccc;
						}
					}
				}
			}

		}

	}

	.secondary_panels {
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;

		&.hidden {display: none;}

		.panel {
			float: left;
			width: 50%;
		}

		.credits_panel {
			&.hidden {
				display: none;
			}
			ul.actions {
				margin-right: 20px;
			}
			.credits {
				clear: both;
			}
		}

		.featured_in_panel {
			.production_listing {
				clear: both;
			}
		}

		.soundtracks_panel {
			.production_listing {
				clear: both;
			}
		}

	}

	.last_edited_by {
		a.user {
			font-weight: bold;
			color: #333;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}

@media screen and (max-width: 600px) {
	.show_production {
		.screenshots_panel {
			display: block;
		}
		.right {
			display: block;
		}
	}
}
