.show_scener {

    @media screen and (min-width: 800px) {
        #side_column {
            float: left;
            width: 30%;
        }

        #main_column {
            float: left;
            width: 70%;
        }
    }

    .external_links_panel {
        margin-bottom: 20px;

        ul.external_links {
            padding-top: 8px;
            padding-bottom: 8px;
            clear: both;
        }
    }

    .alternative_nicks_panel {
        padding-bottom: 8px;

        &.hide_edit_controls {

            .edit_nick,
            .add_nick {
                display: none;
            }
        }

        ul.nicks {
            clear: both;
            padding-top: 8px;
        }
    }

    .groups_panel {

        &.hide_edit_controls {

            .edit_membership, .add_group {
                display: none;
            }
        }

        &.editing {

            ul.memberships li:hover {
                background-color: #ddd;
            }
        }
    }

    ul.memberships {
        margin-bottom: 8px;
        clear: both;

        li {
            padding-left: 24px;
            padding-top: 2px;
            padding-bottom: 3px;
            background-position: left center;
            background-repeat: no-repeat;

            a {
                color: #008;
            }

            &.previous_membership a {
                color: #bbe;
            }

            &.group {
                background-image: url(/static/images/icons/group.png);
                &.previous_membership {
                    background-image: url(/static/images/icons/group_grey.png);
                }
            }

            a.edit_membership {
                float: right;
            }
        }
    }

    .parties_organised_panel {
        .parties {
            clear: both;
            padding-bottom: 16px;

            a {
                text-decoration: none;
                color: #444;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .bbses_operated_panel {
        .bbses {
            clear: both;
            padding-bottom: 16px;

            li {
                padding-left: 24px;
                padding-top: 2px;
                padding-bottom: 3px;
                background-position: left center;
                background-repeat: no-repeat;
                background-image: url(/static/images/icons/telephone.png);

                &.previous_membership {
                    background-image: url(/static/images/icons/telephone_grey.png);
                }

                a {
                    text-decoration: none;
                    color: #444;
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.previous_membership a {
                    color: #bbe;
                }

            }
        }
    }

    .last_edited_by {
        clear: both;
        padding-top: 16px;
        border-top: 1px dotted #ddd;

        a.user {
            font-weight: bold;
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}
