.show_scener {

    &__header {
        align-items: start;
        display: flex;
        justify-content: space-between;
        margin-block: 0 10px;
    }

    @media screen and (min-width: 800px) {
        #side_column {
            float: left;
            width: 30%;
        }

        #main_column {
            float: left;
            width: 70%;
        }
    }

    .parties_organised_panel,
    .bbses_operated_panel {
        a {
            text-decoration: none;
            color: #444;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

.scener {
    @media(min-width: 800px) {
        &__mainStage {
            display: grid;
            gap: 32px;
            grid-template-columns: 400px minmax(0, 1fr);
        }

        &__attributions {
            display: grid;
            gap: 32px;
            grid-template-columns: minmax(0, 3fr) minmax(0, 7fr);
        }
    }
}
