{% extends base_template_with_ajax_option %}


{% block html_title %}New subgroup for {{ group.name }} - Demozoo{% endblock %}

{% block extra_head %}
    {% include "shared/editor_css.html" %}
    {% include "shared/editor_js.html" %}
    <script>
        $(function() {
            applyEditControls($('form.add_subgroup_form'));
        })
    </script>
{% endblock %}

{% block base_main %}
    <h2>New subgroup for {{ group.name }}:</h2>

    <form action="{% url 'group_add_subgroup' group.id %}" method="post" class="entry_form add_subgroup_form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% include "shared/form_field.html" %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="field">
            <input type="submit" value="Add subgroup"/>
        </div>
    </form>
{% endblock %}
