{% extends "generic/edit_form_with_ajax_option.html" %}

{% block html_title %}Editing {{ membership.member.name }} as a subgroup of {{ group.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ membership.member.name }} as a subgroup of {{ group.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'group_edit_subgroup' group.id membership.id %}{% endblock %}
{% block submit_button_label %}Submit edit{% endblock %}

{% block after_form %}
    <p>
        <a href="{% url 'group_remove_subgroup' group.id membership.member.id %}" data-lightbox>Remove from group</a>
    </p>
{% endblock %}
