{% extends "generic/edit_form_with_ajax_option.html" %}
{% load ui_tags %}

{% block html_title %}Editing {{ membership.member.name }} as a subgroup of {{ group.name }} - Demozoo{% endblock %}

{% block title %}
    <h2>Editing {{ membership.member.name }} as a subgroup of {{ group.name }}</h2>
{% endblock %}

{% block action_url %}{% url 'group_edit_subgroup' group.id membership.id %}{% endblock %}
{% block submit_button_label %}Submit edit{% endblock %}

{% block after_form %}
    <ul class="actions">
        {% url 'group_remove_subgroup' group.id membership.member.id as delete_url %}
        <li>{% action_button url=delete_url icon="delete" label="Remove from group" lightbox=True %}</li>
    </ul>
{% endblock %}
