{% extends "base.html" %}
{% load demoscene_tags compress %}
{% load url from future %}

{% block html_title %}Groups - Demozoo{% endblock %}

{% block base_main %}
	<h2>Groups</h2>
	
	{% if site_is_writeable %}
		<ul class="actions">
			<li><a href="{% url 'new_group' %}" class="action_button icon add open_in_lightbox">New group</a></li>
		</ul>
	{% endif %}
	
	<ul class="releaser_list">
		{% for nick in nick_page.object_list %}
			<li class="group">
				<a href="{% url 'group' nick.releaser_id %}">{{ nick.name }}{% if nick.differentiator %} ({{ nick.differentiator }}){% endif %}</a>
				{% nick_variants nick %}
			</li>
		{% endfor %}
	</ul>
	
	{% with nick_page as page %}
		{% include "shared/pagination_links.html" %}
	{% endwith %}
{% endblock %}
