{% extends "base.html" %}
{% load demoscene_tags compress static ui_tags %}


{% block html_title %}Groups - Demozoo{% endblock %}

{% block base_main %}
<div class="page -releasers">
    <header class="page__header">
        {% if site_is_writeable %}
            <div class="o-actions">
                {% url 'new_group' as new_group_url %}
                {% button href=new_group_url icon="add" label="New group" lightbox=True %}
            </div>
        {% endif %}
        <h1 class="page__title">Groups</h1>
    </header>

    <ul class="list list--results">
        {% for nick in nick_page.object_list %}
            <li class="list__item">
                <div class="result">
                    <div class="media media--thumbnail">
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'images/icons.svg' %}#icon--group"></use>
                        </svg>
                    </div>
                    <div>
                        <a href="{% url 'group' nick.releaser_id %}">{{ nick.name }}</a>
                        {% nick_variants nick %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <br />
    {% with nick_page as page %}
        {% include "shared/pagination_links.html" %}
    {% endwith %}

</div>

    
{% endblock %}
