{% extends "base.html" %}
{% load demoscene_tags production_tags releaser_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ group.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {% if group.hide_from_search_engines %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block body_class %}show_group{% endblock %}

{% block base_main %}
    <div class="editable_chunk">
        <div class="signpost">Group</div>

        {% if prompt_to_edit or show_lock_button or show_locked_button %}
            <ul class="actions">
                {% if show_lock_button %}
                    <li>{% icon_button icon="lock-open" classname="edit_chunk" lightbox=True url=group.urls.lock title="Lock this group" %}</li>
                {% endif %}
                {% if show_locked_button %}
                    <li>{% icon_button icon="lock" classname="edit_chunk" lightbox=True url=group.urls.protected title="Protected" %}</li>
                {% endif %}
                {% if prompt_to_edit %}
                    <li>
                        {% edit_button url=group.urls.edit_primary_nick classname="edit_chunk" lightbox=True title="Edit name" nofollow=True %}
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="focus_title group_name">
            <h2>{{ group.name }}</h2>
            {% with group.primary_nick.nick_variant_and_abbreviation_list as nick_variants %}
                {% if group.primary_nick.differentiator %}
                    <h3>
                        ({{ group.primary_nick.differentiator }})
                        {% if nick_variants %}- {{ nick_variants }}{% endif %}
                    </h3>
                {% elif nick_variants %}
                    <h3>- {{ nick_variants }}</h3>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% if alternative_nicks %}
        {% include "releasers/includes/alternative_nicks_panel.html" with releaser=group is_editing=editing_nicks %}
    {% endif %}

    {% include "shared/external_links_panel.html" with obj=group %}

    {% if group.notes or request.user.is_staff %}
        {% include "shared/notes_panel.html" with obj=group %}
    {% endif %}

    <div id="side_column">
        {% if supergroupships %}
            {% include "groups/includes/supergroups_panel.html" %}
        {% endif %}

        {% include "groups/includes/members_panel.html" with is_editing=editing_members %}

        {% include "groups/includes/subgroups_panel.html" with is_editing=editing_subgroups %}

        {% if bbs_affiliations %}
            {% include "groups/includes/bbs_affiliations_panel.html" %}
        {% endif %}
    </div>

    <div id="main_column">
        {% if parties_organised %}
            {% include "releasers/includes/parties_organised_panel.html" %}
        {% endif %}

        {% combined_releases group %}

        {% if member_productions %}
            {% include "groups/includes/member_productions_panel.html" %}
        {% endif %}
    </div>

    {% last_edited_by group %}

    {% if request.user.is_staff and site_is_writeable %}
        <ul class="maintenance_actions">
            {% if not group.is_referenced %}
                <li>{% action_button url=group.urls.delete icon="delete" lightbox=True label="Delete group" %}</li>
            {% endif %}
            {% if group.can_be_converted_to_scener %}
                <li>{% action_button url=group.urls.convert_to_scener icon="switch" lightbox=True label="Convert to scener" %}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
