{% extends "base.html" %}
{% load demoscene_tags production_tags releaser_tags ui_tags compress safe_markdown %}

{% block html_title %}{{ group.name }} - Demozoo{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="/static/js/components/notes_panel.js"></script>
        <script src="/static/js/components/editable_chunk.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_head %}
    {% if group.hide_from_search_engines %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block body_class %}show_group{% endblock %}

{% block base_main %}
    <div class="editable_chunk">
        <div class="signpost">Group</div>

        {% if prompt_to_edit or show_lock_button or show_locked_button %}
            <ul class="actions">
                {% if show_lock_button %}
                    <li>{% action_button icon="unlocked" classname="edit_chunk" lightbox=True url=group.urls.lock title="Lock this group" label="Unlocked" %}</li>
                {% endif %}
                {% if show_locked_button %}
                    <li>{% action_button icon="locked" classname="edit_chunk" lightbox=True url=group.urls.protected label="Protected" %}</li>
                {% endif %}
                {% if prompt_to_edit %}
                    <li>
                        {% action_button url=group.urls.edit_primary_nick icon="edit" classname="edit_chunk" lightbox=True focus_empty=True title="Edit name" nofollow=True label="Edit" %}
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="focus_title group_name">
            <h2>{{ group.name }}</h2>
            {% with group.primary_nick.nick_variant_and_abbreviation_list as nick_variants %}
                {% if group.primary_nick.differentiator %}
                    <h3>
                        ({{ group.primary_nick.differentiator }})
                        {% if nick_variants %}- {{ nick_variants }}{% endif %}
                    </h3>
                {% elif nick_variants %}
                    <h3>- {{ nick_variants }}</h3>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% with group.alternative_nicks as alternative_nicks %}
        {% if alternative_nicks %}
            <div class="panel alternative_nicks_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_nicks %}editing{% endif %}{% endif %}">
                <h3 class="panel__title">Also known as</h3>

                <ul class="nicks">
                    {% for nick in alternative_nicks %}
                        <li>
                            <b>{{ nick.name }}</b> {% nick_variants nick %}
                            {% if can_edit %}
                                <a href="{% url 'releaser_edit_nick' group.id nick.id %}" class="edit_nick" data-lightbox>
                                    <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit name" title="Edit name" />
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if can_edit %}
                    <ul class="listing_actions">
                        <li>{% action_button url=group.urls.add_nick icon="add" lightbox=True label="Add another name" %}</li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}

    {% include "shared/external_links.html" with obj=group %}

    {% if group.notes or request.user.is_staff %}
        <div class="editable_chunk panel notes_panel">
            {% if request.user.is_staff and site_is_writeable %}
                <ul class="actions">
                    <li>{% action_button icon="edit" classname="edit_chunk" lightbox=True url=group.urls.edit_notes title="Edit notes" label="Edit notes" %}</li>
                </ul>
            {% endif %}
            <div class="notes">
                {{ group.notes|safe_markdown }}
            </div>
        </div>
    {% endif %}

    <div id="side_column">
        {% if supergroupships %}
            <div class="panel supergroups_panel">
                <h3 class="panel__title">Subgroup of</h3>
                <ul class="memberships">
                    {% for membership in supergroupships %}
                        <li class="group {% if not membership.is_current %}previous_membership{% endif %}">
                            <a href="{% url 'group' membership.group.id %}" {% if not membership.is_current %}title="ex-parent group"{% endif %}>{{ membership.group.name }}</a>
                            {% location_flag membership.group %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="panel members_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_members %}editing{% endif %}{% endif %}">
            <h3 class="panel__title">Members</h3>

            <ul class="memberships">
                {% for membership in memberships %}
                    <li class="scener {% if not membership.is_current %}previous_membership{% endif %}">
                        <a href="{% url 'scener' membership.member.id %}" {% if not membership.is_current %}title="ex-member"{% endif %}>{{ membership.member.name }}</a>
                        {% location_flag membership.member %}
                        {% if can_edit %}
                            <a href="{% url 'group_edit_membership' group.id membership.id %}" class="edit_membership" data-lightbox>
                                <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit membership" title="Edit membership" />
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if can_edit %}
                <ul class="listing_actions">
                    <li>{% action_button url=group.urls.add_member icon="add" lightbox=True label="Add member" %}</li>
                </ul>
            {% endif %}
        </div>

        <div class="panel subgroups_panel editable_chunk {% if can_edit %}edit_toggle {% if editing_subgroups %}editing{% endif %}{% endif %}">
            <h3 class="panel__title">Subgroups</h3>

            <ul class="memberships">
                {% for membership in subgroupships %}
                    <li class="group {% if not membership.is_current %}previous_membership{% endif %}">
                        <a href="{% url 'group' membership.member.id %}" {% if not membership.is_current %}title="ex-subgroup"{% endif %}>{{ membership.member.name }}</a>
                        {% location_flag membership.member %}
                        {% if can_edit %}
                            <a href="{% url 'group_edit_subgroup' group.id membership.id %}" class="edit_subgroup" data-lightbox>
                                <img src="/static/images/icons/edit.png" width="16" height="16" alt="Edit subgroup" title="Edit subgroup" />
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if can_edit %}
                <ul class="listing_actions">
                    <li>{% action_button url=group.urls.add_subgroup icon="add" lightbox=True label="Add subgroup" %}</li>
                </ul>
            {% endif %}
        </div>

        {% if bbs_affiliations %}
            <div class="panel bbs_panel">
                <h3 class="panel__title">BBS affiliations</h3>

                <ul class="bbses">
                    {% for affiliation in bbs_affiliations %}
                        <li class="bbs">
                            <a href="{% url 'bbs' affiliation.bbs.id %}">{{ affiliation.bbs.name }}</a>
                            {% location_flag affiliation.bbs %}
                            {% if affiliation.role %}- {{ affiliation.get_role_display }}{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div id="main_column">
        {% if parties_organised %}
            <div class="panel parties_organised_panel">
                <h3 class="panel__title">Organiser of</h3>
                <ul class="parties">
                    {% for organiser in parties_organised %}
                        {% with party=organiser.party %}
                            <li>
                                {% if party.is_cancelled %}<del>{% endif %}
                                <a href="{% url 'party' party.id %}" title="{% if party.is_cancelled %}Cancelled - {% endif %}{% if party.is_online %}Online{% elif party.location %}{{ party.location }}{% endif %}">
                                    {% if party.is_online %}
                                        <img src="/static/images/icons/computer.png" alt="[Online]" />
                                    {% elif party.country_code %}
                                        <img src="/static/images/icons/flags/{{ party.country_code|lower }}.png" alt="[{{ party.country_code }}]" />
                                    {% endif %}
                                    {{ party.name }}
                                </a>
                                {% if party.start_date %}
                                    - {% date_range party.start_date party.end_date %}
                                {% endif %}
                                {% if party.is_cancelled %}</del>{% endif %}
                                {% if organiser.role %}({{ organiser.role }}){% endif %}
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% combined_releases group %}

        {% if member_productions %}
            <div class="panel">
                <h3 class="panel__title member_productions_header">Member productions ({{ member_productions|length }})</h3>

                {% production_listing member_productions show_screenshots=1 show_prod_types=1 %}
            </div>
        {% endif %}
    </div>

    {% last_edited_by group %}

    {% if request.user.is_staff and site_is_writeable %}
        <ul class="maintenance_actions">
            {% if not group.is_referenced %}
                <li>{% action_button url=group.urls.delete icon="delete" lightbox=True label="Delete group" %}</li>
            {% endif %}
            {% if group.can_be_converted_to_scener %}
                <li>{% action_button url=group.urls.convert_to_scener icon="switch" lightbox=True label="Convert to scener" %}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
